{% load i18n %}

<div class="box box-striped">
    <div class="box-inner">
        <header class="box-header">
            <h2 class="box-title">
                <i class="sg sg-calendar"></i>
                Kalender
            </h2>
        </header>
        <div class="box-content" {% if component_id %}data-component="calendar" id="{{ component_id }}"{% endif %}>
            {% load events %}
            {% calendar associations size='preview' %}
            {% block list %}
                {% if upcoming %}
                    {% include "events/_event_preview_list.html" with objects=upcoming %}
                {% endif %}
            {% endblock %}
            {% block link %}
                {% if show_events_url %}
                    <a href="{{ show_events_url }}" style="display: block; margin-top: .5rem">
                        <strong>{% translate "Show all events" %}</strong>
                    </a>
                {% endif %}
            {% endblock %}
        </div>

        {% block toolbar %}
            {% if not hide_buttons %}
                <div class="btn-toolbar btn-toolbar-right">
                    {% if actions|length > 1 %}
                        <div class="dropdown-container">
                            <input class="dropdown-state" id="calendar-more" type="checkbox" />
                            <label class="btn btn-link" for="calendar-more" data-component="openable" data-openable-target="#calendar-more-dropdown">
                                    <span class="btn-label">
                                        Mehr <span class="caret"></span>
                                    </span>
                            </label>
                            <ul class="dropdown" id="calendar-more-dropdown" data-dropdown>
                                {% for action, url in actions|slice:'1:' %}
                                    <li><a href="{{ url }}">{{ action }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% for action, url in actions|slice:':1' %}
                        <a href="{{ url }}" class="btn btn-link">{{ action }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
</div>
