{% extends 'content/detail.html' %}
{% load i18n %}

{% block content_type %}
    <i class="sg sg-content-type-event" data-day="{{ association.container.time|date:'d' }}"></i>
    <span>Veranstaltung</span>
{% endblock %}

{% block user_content_header %}
    {% with event=association.container %}
        <div class="meta meta-float meta-merge">
            <div class="meta-box">
                <h4 class="meta-box-title">
                    <i class="sg sg-time"></i>
                    <span>Datum & Zeit</span>
                </h4>
                <div class="meta-box-body">
                    {% load events %}
                    {% event_time event %}
                </div>
            </div>
            <div class="meta-box">
                <h4 class="meta-box-title">
                    <i class="sg sg-marker"></i>
                    <span>Ort</span>
                </h4>
                <div class="meta-box-body">
                    {{ event.place | linebreaksbr }}
                </div>
            </div>
            {% if settings_enable_attendance %}
                {% load events %}
                {% load rules %}
                {% has_perm 'events.can_attend' user association as can_attend %}
                {% has_perm 'events.can_abstain' user association as can_abstain %}
                {% has_perm 'events.can_attend_group_members' user association.entity as can_attend_group_members %}
                {% with attendee_count=event.attendance_statements.count %}
                    {% if attendee_count > 0 or can_attend or can_abstain %}
                        <div class="meta-box">
                            <h4 class="meta-box-title">
                                <i class="sg sg-marker"></i>
                                <span>{% translate 'Announced participants' %}</span>
                            </h4>
                            {% if can_attend_group_members %}
                                {% include 'events/_attendance_list_current.html' with event_association=association redirect_url=request.path user=user %}
                            {% else %}
                                <div class="meta-box-body">
                                    {% if attendee_count > 0 %}
                                        {% translate 'Notifications' context 'attendance registrations' %}: {{ attendee_count }}
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% include 'events/_attendance_action.html' with event_association=association %}
                        </div>
                    {% endif %}
                {% endwith %}
            {% endif %}
        </div>
    {% endwith %}
{% endblock %}
