{% extends 'stadt/stadt.html' %}

{% block title %}Veranstaltungen - {{ block.super }}{% endblock %}

{% block heading_title %}
    {% include 'core/_heading.html' with title='Veranstaltungen' icon='sg-pen' %}
{% endblock %}

{% block heading_toolbar %}
    {% has_perm 'content.create' user as can_create %}
    {% if can_create %}
        {% url 'create-event' as create_url %}
        {% include 'core/_toolbutton.html' with label='<i class="sg sg-add"></i> Veranstaltung' url=create_url %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% load groups %}
    {% sidebar_groups user %}
{% endblock %}

{% block content %}
    <div class="calendar-wrapper" id="calendar-page" data-component="calendar" data-component-basepath="{% url 'events' %}">
        {% load events %}
        {% calendar view.get_content size="large" %}

        <div class="content-list">
            <ol class="content-preview-list">
                {% for association in association_list %}
                    <li>{% include 'events/_preview.html' %}</li>
                {% endfor %}
            </ol>

            {% pagination 'Weitere Veranstaltungen' %}
        </div>
    </div>
{% endblock %}
