{% load thumbnail %}

<meta name="description" content="{{ content.title }}">

{# todo not a real absolute url #}
<meta property="og:url" content="{{ http_origin }}{{ content.get_absolute_url }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ content.title }}">
<meta property="og:description" content="Veranstaltung am {{ content.event.time|date:'d. m. Y' }} um {{ content.event.time|date:'H:i' }} Uhr.">
<meta property="og:locale" content="de_DE">
<meta property="og:article:published_time" content="{{ content.date_created|date:"c" }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@stadtgestalten">
{# todo not a real absolute url #}
<meta name="twitter:url" content="{{ http_origin }}{{ content.get_absolute_url }}">
<meta name="twitter:title" content="{{ content.title }}">
<meta name="twitter:description" content="Veranstaltung am {{ content.event.time|date:'d. m. Y' }} um {{ content.event.time|date:'H:i' }} Uhr.">

{% if content.images.first %}
    {% thumbnail content.images.first.file '200x200' crop="center top" as image %}
        <meta property="og:image" content="{{ http_origin }}{{ image.url }}">
        <meta name="twitter:image" content="{{ http_origin }}{{ image.url }}">
    {% endthumbnail %}
{% endif %}

