@font-family-default: "Roboto", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Geneva", "Verdana", sans-serif;
@font-family-headline: "Roboto Slab", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Geneva", "Verdana", sans-serif;
@font-lheight-default: 1.5;
@font-size-default: 1rem;

@color-text-default: rgba(0, 0, 0, 0.8);
@color-text-light: rgba(0, 0, 0, 0.66);
@color-text-extralight: rgba(0, 0, 0, 0.44);

@color-bg-default: white;
@color-brand-primary: #005FCB;

//@font-size-base: @font-size-default;
//@font-size-large: @font-size-default;
//@padding-small-vertical: 0.1rem;
//@padding-base-vertical: 0.2rem;
//@padding-large-vertical: 0.4rem;
//@navbar-height: 3rem;
