{% load rules staticfiles thumbnail %}

<{% if gestalt_url %}a href="{{ gestalt_url }}"{% else %}div{% endif %} class="profile">
    <div class="profile-short">
        <div class="avatar">
            {% thumbnail gestalt.avatar '100x100' format='PNG' as avatar %}
                <img src="{{ avatar.url }}" title="{{ gestalt }}" alt="{{ gestalt }}" class="avatar">
                {% empty %}
                <img src="{% static 'avatar.png' %}" title="{{ gestalt }}" alt="{{ gestalt }}" class="avatar">
            {% endthumbnail %}
        </div>
        <div class="profile-data">
            <h3 class="profile-name">
                {{ gestalt }}
            </h3>
            <div class="profile-meta">
                Dabei seit {{ gestalt.user.date_joined | date:"M Y" }} · {{ gestalt.authored_content.count }} Beitr{{ gestalt.authored_content.count|pluralize:'ag,äge' }}
            </div>
        </div>
    </div>
    <div class="profile-about" data-component="user-content">{{ gestalt.about }}</div>
</{% if gestalt_url %}a{% else %}div{% endif %}>
