{% extends 'stadt/stadt.html' %}
{% load i18n %}

{% block title %}{% translate 'Membership' %} - {{ block.super }}{% endblock %}
{% block menu %}{% menu view.group %}{% endblock %}
{% block breadcrumb %}{% breadcrumb view.group 'Mitgliedschaft' %}{% endblock %}
{% block heading_title_text %}{% translate 'Membership' %}{% endblock %}

{% block sidebar %}
    {% include 'associations/_sidebar_entity.html' with entity=view.group %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>{% blocktranslate with group=view.group site=GROUPRISE_SITE_NAME trimmed %}
            Do you want to become a member of <em>{{ group }}</em> on {{ site }}?
            {% endblocktranslate %} *</p>
        <button class="btn btn-primary">{% translate 'Join this group' %} *</button>
    </form>
    <p><small>* {% translate 'In case you are not a member of the group in <em>real live</em> and want to join, please talk to a group member.' %}</small></p>
{% endblock %}
