{% extends 'stadt/stadt.html' %}

{% block title %}Mitgliedschaft - {{ block.super }}{% endblock %}
{% block menu %}{% menu 'group' view.group %}{% endblock %}
{% block breadcrumb %}{% breadcrumb view.group 'Mitgliedschaft' %}{% endblock %}
{% block heading_title_text %}Mitgliedschaft{% endblock %}

{% block sidebar %}
    {% include 'associations/_sidebar_entity.html' with entity=view.group %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>Möchtest Du der Gruppe <em>{{ view.group }}</em> auf {{ GROUPRISE_SITE_NAME }} beitreten? *</p>
        <button class="btn btn-primary">Der Gruppe beitreten *</button>
    </form>
    <p><small>* Falls Du in der <em>echten Welt</em> noch nicht Mitglied in der Gruppe bist und es werden möchtest, sprich bitte die anderen Gruppenmitglieder an.</small></p>
{% endblock %}
