<div class="group-info-main">
    <a href="{% url 'group-avatar-update' group.pk %}" class="avatar-edit-inline">
        {% include 'groups/_avatar.html' with group=group link=False %}
    </a>
    <h1 class="group-title">
        {{ group.name }}
    </h1>
    <dl class="def def-icons">
        <dt>
            <i class="sg sg-question" title="Kurzbeschreibung"></i>
            <span class="sr-only">Kurzbeschreibung</span>
        </dt>
        <dd>
            {% if group.description %}
                {% markdown group.description preset='linkonly' %}
            {% else %}
                Die Gruppe war zu beschäftigt eine Kurzbeschreibung zu hinterlegen.
            {% endif %}
        </dd>
        {% if group.address %}
            <dt>
                <i class="sg sg-address" title="Anschrift"></i>
                <span class="sr-only">Anschrift</span>
            </dt>
            <dd>
                <address>
                    {{ group.address|linebreaks }}
                </address>
            </dd>
        {% endif %}
        {% if group.url %}
            <dt>
                <i class="sg sg-url" title="Website"></i>
                <span class="sr-only">Website</span>
            </dt>
            <dd>
                <a href="{{ group.url }}">{{ group.url|cut:'http://'|cut:'https://'|cuttrailing:'/' }}</a>
            </dd>
        {% endif %}
        <dt>
            <i class="sg sg-foundation"></i>
            <span class="sr-only">Gründung</span>
        </dt>
        <dd>
            {{ group.date_founded|date:'Y' }} gegründet
        </dd>
        {% include_fragments 'group-meta' %}
    </dl>
</div>
<div class="group-info-slug">
    <dl class="def def-icons">
        <dt>
            <i class="sg sg-link"></i>
            <span class="sr-only">URL auf Stadtgestalten</span>
        </dt>
        <dd class="selectable">
            {{ site.domain }}/<span class="selectable-token">{{ group.slug }}</span>
            <button type="button" class="btn-text hide-no-js" data-component="clipboard"
                    data-clipboard-text="{{ site.domain }}/{{ group.slug }}"
                    title="URL zu dieser Gruppe kopieren">
                <i class="sg sg-copy"></i>
            </button>
        </dd>
    </dl>
</div>
