<div class="group-actions">
    <div class="btn-toolbar">
        {# CONVERSATION #}
        {% load rules %}
        {% has_perm 'conversations.list_group' user group as can_list_group_conversations %}
        {% if not can_list_group_conversations %}
            <div class="btn-group">
                <a href="{% url 'create-group-conversation' group.pk %}" class="btn btn-default btn-sm" title="Ein Gespräch mit den Gruppenmitgliedern beginnen">
                    <i class="sg sg-message"></i> Nachricht schreiben
                </a>
            </div>
        {% endif %}

        {# MEMBERSHIP #}
        {% load memberships rules %}
        {% has_perm 'memberships.join_group' user group as can_join %}
        {% has_perm 'memberships.delete_membership' user user.gestalt|membership:group as can_resign %}
        {% if can_resign %}
            <a href="{% url 'resign' group.pk %}" class="btn btn-default btn-sm btn-addon-ok" title="Aus der Gruppe austreten">
                <i class="sg sg-group"></i> Beigetreten
            </a>
        {% elif can_join or not user.is_authenticated %}
            <a href="{% url 'join' group.pk %}" class="btn btn-default btn-sm" title="Der Gruppe beitreten">
                <i class="sg sg-join"></i> Beitreten
            </a>
        {% endif %}

        {# SUBSCRIPTION #}
        {% load rules %}
        {% has_perm 'subscriptions.create' user group as can_subscribe %}
        {% has_perm 'subscriptions.delete' user group as can_unsubscribe %}
        {% if can_unsubscribe %}
            <form action="{% url 'group-unsubscribe' group.pk %}" method="post">
                {% csrf_token %}
                <button class="btn btn-default btn-addon-ok btn-sm" title="Du erhältst Benachrichtungen für diese Gruppe">
                    <i class="sg sg-subscription"></i> Abonniert
                </button>
            </form>
        {% elif can_subscribe %}
            {% if user.is_authenticated %}
                <form action="{% url 'group-subscribe' group.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm" title="Bei neuen Beiträgen benachrichtigt werden">
                        <i class="sg sg-subscription"></i> Abonnieren
                    </button>
                </form>
            {% else %}
                <a href="{% url 'group-subscribe' group.pk %}" class="btn btn-primary btn-sm" title="Bei neuen Beiträgen benachrichtigt werden">
                    <i class="sg sg-subscription"></i> Abonnieren
                </a>
            {% endif %}
        {% endif %}

    </div>
</div>
