{% load rules %}
{% has_perm 'groups.change_group' user group as can_edit %}

<div class="box box-striped">
    <div class="box-inner">
        <header class="box-header">
            <h2 class="box-title">
                <i class="sg sg-logo"></i>
                Logo
            </h2>
        </header>
        {% if not group.logo %}
            {% if can_edit %}
                <a href="{% url 'group-logo-update' group.pk %}" class="btn btn-default">Logo hochladen</a>
            {% endif %}
        {% else %}
            <div class="box-content">
                <img src="{{ group.logo_sidebar.url }}" alt="{{ group }}">
            </div>
        {% endif %}

        {% if group.logo and can_edit%}
            <div class="btn-toolbar btn-toolbar-right">
                <a href="{% url 'group-logo-update' group.pk %}" class="btn btn-link">Logo ändern</a>
            </div>
        {% endif %}
    </div>
</div>
