{% load rules %}
{% has_perm 'groups.change_group' user group as can_edit %}
{% if group.logo or can_edit %}
    {% include 'groups/detail/_logo.html' %}
{% endif %}

{% load events %}
{% sidebar_calendar paginator.object_list preview_length=3 show_group=False group=group component_id='group-calendar' %}

{% sidebarblock 'Teilen' 'share' %}
<a href="{% url 'group-recommend' group.pk %}" class="btn btn-default btn-sm"><i class="sg sg-recommend"></i> Gruppe empfehlen</a>
{% endsidebarblock %}

{% load groups %}
{% sidebar_groups user group %}
