{% load content crispy_forms_tags rules utils core %}

<h2>{% if content.public %}Kommentare{% else %}Antworten{% endif %}</h2>

<ol class="medias">
    {% for comment in content.comments.all %}
        <li>
            <div class="media media-comment" id="{% ref comment %}">
                <div class="media-image">
                    {% include 'gestalten/_avatar.html' with gestalt=comment.author link=True %}
                </div>
                <div class="media-content">
                    <div class="media-body" data-component="user-content" data-author="{{ comment.author }}" data-permalink="{{ content.get_absolute_url }}#{% ref comment %}">
                        {% markdown comment.text heading_baselevel=3 %}
                    </div>
                    <footer class="media-footer">
                        <time data-component="time time-from" datetime="{{ comment.date_created|date:"c" }}" title="{{ comment.date_created|date:'d. F Y H:i' }}">
                            {{ comment.date_created|date:'d. F Y H:i' }}
                        </time> ·
                        <a href="{{ comment.author.get_absolute_url }}">{{ comment.author }}</a>
                        <div class="pull-right">
                            <a class="link-plain" href="{{ content.get_absolute_url }}#comment-{{ comment.id }}">Permalink</a> ·
                            <a class="js" data-component="cite" href="#comment-{{ comment.id }}">Zitieren</a>
                        </div>
                    </footer>
                </div>
            </div>
        </li>
    {% endfor %}
</ol>

{% has_perm 'content.create_comment' user content as can_create_comment %}
{% if can_create_comment %}
    {% crispy comment_form %}
{% else %}
    <a href="{% url 'comment-create' content.pk %}" class="btn btn-default">Kommentieren</a>
{% endif %}

{% include_features '_content_comment_actions.html' %}
