{% load rules %}
{% load rules thumbnail %}

<ul class="gallery">
    {% for image in content.images.all %}
        {% thumbnail image.file 'x150' format='PNG' as thumb %}
            <li>
                <a href="{{ image.file.url }}" class="gallery-link">
                    <img src="{{ thumb.url }}" class="gallery-image-preview">
                </a>
            </li>
        {% endthumbnail %}
    {% endfor %}
</ul>

{% has_perm 'content.create_image' user content as can_create_image %}
{% if can_create_image %}
    <a href="{% url 'image-create' content.pk %}" class="btn btn-default">Bild hinzufügen</a>
{% endif %}
