{% load rules utils %}
{% has_perm 'content.view_author' user content as can_view_author %}

<p class="content-publication-meta">
    verfasst am {{ content.date_created|date:'d.m.Y' }}

    {% with groups=content.groups %}
        {% if groups.count == 1 %}
            in <a href="{% url 'group' groups.first.slug %}">{{ groups.first }}</a>
        {% endif %}
    {% endwith %}

    {% if can_view_author %}
    von <a href="{{ content.author|url_for:user }}">{{ content.author }}</a> &nbsp;
    {% endif %}

    {% if content.gallery %}
        <i class="sg sg-images"></i> {{ content.images.count }} &nbsp;
    {% endif %}

    <i class="sg sg-comments"></i> {{ content.comments.count }}

    {% include_features '_content_meta_stats.html' %}
</p>
