{% load content thumbnail %}
{% load macros %}
{% loadmacros "macros.html" %}

<article class="content-preview">
    <header class="content-preview-header">
        {% use_macro content_type content %}

        <a href="{{ content.get_absolute_url }}">
            <h3 class="content-title">
                {% if content.event %}
                    {{ content.event.time|date:'l, j.n.Y:' }}
                {% endif %}

                {{ content.title }}
            </h3>
        </a>
        {% include 'content/_content_info.html' %}
    </header>

    {% if content.event %}
        <p><strong>Ort:</strong> {{ content.event.place }}</p>
        <p><strong>Zeit:</strong> {{ content.event.time|date:'G:i' }}</p>
    {% endif %}

    <a href="{{ content.get_absolute_url }}" data-component="user-content" class="content-preview-body">
        {% thumbnail content.images.first.file '200x200' crop="center top" as image %}
            <div class="content-preview-image">
                <img src="{{ image.url }}">
            </div>
        {% endthumbnail %}

        <div class="content-preview-text">
            {{ content.text|markdown|truncatewords:50 }}
            <span class="read-more"> Weiterlesen...</span>
        </div>
    </a>
</article>
