{% load rules %}
{% has_perm 'content.change_content' user content as can_edit_content %}
{% has_perm 'entities.create_attention' user content as can_create_attention %}
{% has_perm 'entities.delete_attention' user content as can_delete_attention %}

<div class="content-data">
    <div class="content-header">
        <span class="content-classification">Beitrag</span>
    </div>
    <span class="content-type">
        <i class="sg sg-content-type-{{ content.get_type_name | default:"article" | lower }}"></i>
        {{ content.get_display_type_name }}
    </span>
</div>

<header class="content-teaser">
    <h1 class="content-title">
        {% if content.event %}
            {{ content.event.time|date:'l, j.n.Y:'}}
        {% endif %}
        {{ content.title }}
    </h1>

    {% if can_create_attention %}
    <a href="{% url 'attention-create' content.pk %}"><i class="sg sg-attention" title="Bei neuen Kommentaren benachrichtigt werden"></i></a>
    {% elif can_delete_attention %}
    <a href="{% url 'attention-delete' content.pk %}"><i class="sg sg-attention" title="Du erhältst Benachrichtungen für diesen Beitrag"></i></a>
    {% endif %}
    {% if can_edit_content %}
        <div class="btn-toolbar">
            <a href="{% url 'content-update' content.pk %}">
                <i class="sg sg-edit" title="Beitrag bearbeiten"></i>
            </a>
        </div>
    {% endif %}

    {% include 'content/_content_info.html' %}
</header>
