{% load fragments rules %}
{% has_perm 'content.change_content' user content as can_edit_content %}

<div class="content-data">
    <div class="content-header">
        <span class="content-classification">Beitrag</span>
        <div class="btn-toolbar">
            {% if can_edit_content %}
                <a href="{% if content.event %}{% url 'event-update' content.pk %}{% else %}{% url 'content-update' content.pk %}{% endif %}" class="btn btn-default">
                    Ändern
                </a>
            {% endif %}
            {% include_fragments 'content-actions' %}
            {% if can_edit_content and not content.gallery %}
            <a href="{% url 'content-image-list' content.pk %}" class="btn btn-default">
                Bilder
            </a>
            {% endif %}
        </div>
    </div>
</div>

<header class="content-teaser">
    {% include 'content/_content_info.html' %}
    {% include "macros/content_type.html" with content=content %}
</header>
