{% load content thumbnail %}

<article class="content-preview">
    <header class="content-preview-header">
        {% include "macros/content_type.html" with content=content %}

        <a href="{{ content.get_absolute_url }}">
            <h3 class="content-title">
                {% if content.event %}
                    {{ content.event.time|date:'d. m. Y H:i' }}:
                {% endif %}

                {{ content.title }}
            </h3>
        </a>
        {% include 'content/_content_info.html' %}
    </header>

    <a href="{{ content.get_absolute_url }}" class="content-preview-body">
        {% if content.images.first %}
            {% thumbnail content.images.first.file '200x200' crop="center top" as image %}
                <div class="content-image">
                    <img src="{{ image.url }}">
                </div>
            {% endthumbnail %}
        {% elif content.event %}
            {% include "macros/calendar_sheet.html" with time=content.event.date %}
        {% endif %}

        <div class="content-preview-text" data-component="user-content">
            {% if content.event %}
                {% include "macros/event_meta.html" with event=content.event %}
            {% endif %}

            {{ content.text|markdown|truncatewords_html:50 }}
            <span class="read-more"> Weiterlesen...</span>
        </div>
    </a>
</article>
