{% load content rules thumbnail %}

<div class="gallery-container" data-component="gallery">
    <input type="hidden" name="content_id" value="{{ content.id }}" />
    <header class="gallery-header">
        <div class="gallery-header-description">
            {{ content.text|markdown }}
        </div>
        <div class="btn-toolbar gallery-header-actions">
            {% has_perm 'content.create_image' user content as can_create_image %}
            {% if can_create_image %}
                <a href="{% url 'image-create' content.pk %}" class="btn btn-default btn-sm" data-purpose="gallery-add">Bild hinzufügen</a>
            {% endif %}
        </div>
    </header>

    <ul class="gallery">
        {% for image in content.images.all %}
            {% thumbnail image.file 'x150' format='PNG' as thumb %}
                <li>
                    <a href="{{ image.file.url }}" class="gallery-link">
                        <img src="{{ thumb.url }}" class="gallery-image-preview">
                    </a>
                </li>
            {% endthumbnail %}
        {% endfor %}
    </ul>
</div>
