<article>
    <header>
        <p>{{ content.get_display_type_name }}</p>
        <h3>
            {% if content.event %}
            {{ content.event.time|date:'l, j.n.Y:' }}
            {% endif %}
            {{ content.title }}
        </h3>
        <p>{{ content.date_created|date:'d.m.Y' }} | {{ content.author }} &nbsp; {{ content.comment_set.count }} &nbsp; {{ content.views }}</p>
    </header>

    {% if content.event %}
    <p><strong>Ort:</strong> {{ content.event.place }}</p>
    <p><strong>Zeit:</strong> {{ content.event.time|date:'G:i' }}</p>
    {% endif %}
    <p>
    {% with image=content.image_set.first %}
    {% if image %}
    <img src="{{ image.image.url }}" class="pull-left">
    {% endif %}
    {% endwith %}
    {{ content.text|truncatewords:60 }}
    <a href="{% url 'content-detail' group.slug content.slug %}">WEITER&gt;</a>
    </p>

    <footer style="clear: both;">
        <hr>
    </footer>
</article>
