{% load rules utils %}
{% has_perm 'content.view_author' user content as can_view_author %}
{% has_perm 'entities.view_gestalt' user content.author as can_view_gestalt %}

<p class="content-publication-meta">
    Veröffentlicht: {{ content.date_created|date:'d.m.Y' }} |

    {% with groups=content.groups %}
        {% if groups.count == 1 %}
            <a href="{% url 'group' groups.first.slug %}">{{ groups.first }}</a> |
        {% endif %}
    {% endwith %}

    {% if can_view_author %}
    Von <a href="{% if can_view_gestalt %}{% url 'gestalt' content.author.user.username %}{% else %}{% url 'gestalt-message-create' content.author.pk %}{% endif %}">{{ content.author }}</a> &nbsp;
    {% endif %}

    {% if content.gallery %}
        <i class="sg sg-images"></i> {{ content.images.count }} &nbsp;
    {% endif %}

    <i class="sg sg-comments"></i> {{ content.comments.count }}

    {% include_features '_content_meta_stats.html' %}
</p>
