<a href="{{ thread.get_absolute_url }}" class="thread-preview">
    <div class="thread-preview-image">
        {% include 'entities/_gestalt_avatar.html' with gestalt=thread.author link=False size=64 %}
    </div>
    <div class="thread-preview-body">
        <div class="thread-preview-title">
            {{ thread.title }}
        </div>
        <span class="thread-preview-stat">
            {%  if thread.comments.all|length == 0 %}
                <strong>noch keine Antwort</strong>
            {% else %}
                {{ thread.comments.all|length }} Antworten
            {% endif %}
        </span>
    </div>
    <div class="thread-preview-meta">
        <time data-component="time time-from" datetime="{{ thread.date_created|date:'Y-m-d' }}T{{ thread.date_created|date:'H:i:s' }}.000000+02:00" title="{{ thread.date_created|date:'d. m. Y H:i' }}">
            {{ thread.date_created|date:'d. m. Y H:i' }}
        </time>

        {% include 'content/_thread_contributors.html' with author=thread.author contributors=thread.comment_authors.all max_shown=10 %}
    </div>
</a>
