{% extends 'stadt/form.html' %}
{% load thumbnail %}

{% block sidebar %}
<div class="box box-striped">
    <div class="box-inner">
        <header class="box-header">
            <h2 class="box-title">
                <i class="sg sg-images"></i>
                Bilder
            </h2>
        </header>
        <div class="box-content">
            <ul class="sidebar-images">
                {% for image in content.images.all %}
                    {% thumbnail image.file 'x150' format='PNG' as thumb %}
                        <li>
                            <img src="{{ thumb.url }}" class="sidebar-image">
                            <p>{{ image.file.url }}</p>
                        </li>
                    {% endthumbnail %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
