{% extends 'stadt.html' %}
{% load content %}


{% block head_title %}{{ content.title }} - {{ block.super }}{% endblock %}
{% block title %}{% endblock %}


{% block leftcontent %}
<a href="{% url 'group' group.slug %}" class="btn btn-primary">&lt;&lt;</a>
{% endblock %}


{% block subcontent %}
<h2>Beitrag</h2>
<article>
    <header>
        <p>{{ content.get_display_type_name }}</p>
        <h1>
            {% if content.event %}
            {{ content.event.time|date:'l, j.n.Y:' }}
            {% endif %}
            {{ content.title }}
        </h1>
        <p>{{ content.date_created|date:'d.m.Y' }} | <a href="{% url 'gestalt' content.author.pk %}">{{ content.author }}</a> &nbsp; {{ content.comment_set.count }} &nbsp; {{ content.attention_set.count }}</p>
    </header>

    {% if content.event %}
    <p><strong>Ort:</strong> {{ content.event.place }}</p>
    <p><strong>Zeit:</strong> {{ content.event.time|date:'G:i' }}</p>
    {% endif %}
    <p>
    {% with image=content.image_set.first %}
    {% if image %}
    <img src="{{ image.image.url }}" class="pull-left">
    {% endif %}
    {% endwith %}
    {{ content.text|markdown }}
    </p>
</article>

<div style="background-color: #eee; height: 150px;">
    (creative commons)
</div>

<h2>Kommentare zum Beitrag</h2>

{% for comment in content.comment_set.all %}
<a href="{% url 'gestalt' comment.author.pk %}"><img src="{{ comment.author.avatar.url }}" title="{{ comment.author }}" alt="{{ comment.author }}" class="pull-left"></a>
<p>{{ comment.date_created|date:'d.m.Y' }} | {{ comment.text }}</p>
<hr style="clear:both">
{% endfor %}

<form class="form-inline">
    <a href="{% url 'gestalt' content.author.pk %}"><img src="{{ content.author.avatar.url }}" title="{{ content.author }}" alt="{{ content.author }}" class="pull-left"></a>
    <textarea class="form-control" rows="2"></textarea>
    <button class="btn btn-default">&gt;</button>
</form>
{% endblock %}


{% block sidecontent %}
<div style="background-color: #eee; margin-bottom: 25px; padding: 20px;">
    <h2>Selbstauskunft</h2>
    <div style="background-color: #fff;">
        <a href="{% url 'gestalt' content.author.pk %}"><img src="{{ content.author.avatar.url }}" title="{{ content.author }}" class="pull-left"></a>
        <a href="{% url 'gestalt' content.author.pk %}"><h3>{{ content.author }}</h3></a>
        <p>{{ content.author.about }}</p>
    </div>
</div>

<div style="background-color: #eee; margin-bottom: 25px; padding: 20px;">
    <h2>Teilen</h2>
    <input type="text" class="form-control" placeholder="Gestalt / E-Mail-Adresse">
    <button class="btn btn-default">Beitrag empfehlen</button>
    <p>(Facebook, Twitter, Google+)</p>
</div>
{% endblock %}
