{% extends 'stadt/list.html' %}
{% load rules %}

{% block heading %}{% endblock %}

{% block list_header %}
    <header class="content-header">
        <span class="content-classification">Gruppen</span>
        {% has_perm 'entities.create_group' user as can_create_group %}
        {% if can_create_group %}
            <div class="btn-toolbar">
                <a href="{% url 'group-create' %}" class="btn btn-default pull-right">Neue Gruppe</a>
            </div>
        {% endif %}
    </header>

    <h2>Deine Gruppe gestalten</h2>
    <p>Ist Deine Gruppe schon auf Stadtgestalten?</p>
    <p><a href="{% url 'group-index' %}" class="btn btn-default">Gruppe finden</a></p>

    <header class="content-header">
        <span class="content-classification">Beiträge</span>
        <div class="btn-toolbar">
            {% has_perm 'content.create_content' user as can_create_content %}
            {% if can_create_content %}
                <div class="dropdown-container">
                    <input class="dropdown-state" id="content-new" type="checkbox" />
                    <label class="btn btn-default" for="content-new">
                        Neuer Beitrag <span class="caret"></span>
                    </label>
                    <ul class="dropdown">
                        <li><a href="{% url 'article-create' %}">Artikel</a></li>
                        <li><a href="{% url 'event-create' %}">Ereignis</a></li>
                        <li><a href="{% url 'gallery-create' %}">Galerie</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </header>
{% endblock %}
