{% extends 'stadt/stadt.html' %}

{% block content %}
<h2>Betonung</h2>
<pre>*<em>kursiv</em>*
**<strong>fett</strong>**</pre>

<h2>Listen</h2>
<pre>* Listenpunkt
* Listenpunkt
* Listenpunkt

1. Nummerierter Listenpunkt
2. Nummerierter Listenpunkt
3. Nummerierter Listenpunkt</pre>

<h2>Überschriften</h2>
<pre>## Überschrift
### Unterüberschrift
#### Unter-Unterüberschrift</pre>

<h2>Verweise</h2>
<pre>[Anzeigetext](http://www.stadtgestalten.org)</pre>
<pre>@gruppen-kurzname</pre>

<h2>Bilder</h2>
<pre>![Alternativtext](http://www.sg.org/bild.jpg)</pre>

{% endblock %}
