{% load memberships %}
{% load i18n %}

{% if user.is_authenticated %}
    <input class="dropdown-state" id="menu-groups-main" type="checkbox" data-menu-group="main">
    <label for="menu-groups-main" aria-label="{%trans 'Show group menu' %}" tabindex="0"
           class="nav-menu-item nav-state-toggle"
           data-component="openable" data-openable-target="#group-main-menu-dropdown">
        <span class="nav-tab-icon">
            <i class="sg sg-group"></i>
        </span>
        <span>{% trans 'Groups' %}</span>
        <i class="caret"></i>
    </label>
{% else %}
    <a href="{% url 'group-index' %}" class="nav-menu-item">
        <span class="nav-tab-icon">
            <i class="sg sg-group"></i>
        </span>
        <span class="nav-menu-item-label">{% trans 'Groups' %}</span>
    </a>
{% endif %}

{% if user.is_authenticated %}
    <div class="dock dock-light" id="group-main-menu-dropdown" data-dropdown
         data-component="dock">
        <div class="dock-inner">
            <span class="dock-decoration"></span>
            <header class="dock-header">
                <div>
                        <h3>{% trans 'Groups' %}</h3>
                    {% if user.is_authenticated %}
                        <p class="dock-meta">
                            {% trans 'You are' %}
                            <a href="{% url 'group-index' %}?only_with_membership=true">
                                {% blocktrans trimmed count membership_count=user.gestalt.memberships.count %}
                                member of one group.
                                {% plural %}
                                member of {{ membership_count }} groups.
                                {% endblocktrans %}
                            </a>
                        </p>
                    {% else %}
                        <p class="dock-meta">
                            {% trans 'Login to see your group memberships.' %}
                        </p>
                    {% endif %}
                </div>

                <a href="{% url 'group-index' %}" class="dock-header-link">
                    <i class="sg sg-group"></i>
                    <span>{% trans 'All groups' %}</span>
                </a>
            </header>
            <div class="dock-content">
                <div class="dock-content-inner">
                    <ol class="tabbls">
                        <li data-order="high">
                            <div class="tabbl tabbl-wide">
                                <div class="tabbl-content">
                                    <noscript>
                                        <p class="alert alert-info alert-block">
                                            {% trans 'Activate Javascript to search for groups' %}
                                        </p>
                                    </noscript>
                                    <div data-component="group-search">
                                        <div class="search-results hidden-xs">
                                            {% for membership in user.gestalt|favorite_groups|slice:":3" %}
                                                {% include 'groups/_mini_preview.html' with group=membership.group link=True %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endif %}
