{% load i18n %}

<input class="dropdown-state" id="menu-more" type="checkbox" data-menu-group="main">
<label for="menu-more" class="nav-menu-item nav-state-toggle"
       aria-label="Zeige weitere Menüpunkte" tabindex="0"
       data-component="openable" data-openable-target="#menu-more-dropdown">
    <span class="nav-tab-icon">
        <i class="sg sg-dots"></i>
    </span>
    <span>{% trans 'More' %}</span>
    <i class="caret"></i>
</label>
<div class="dock dock-left dock-light dock-menu" id="menu-more-dropdown" data-dropdown
     data-component="dock">
    <div class="dock-inner">
        <span class="dock-decoration"></span>
        <div class="dock-content">
            <div class="dock-content-inner">
                <ol class="nav-vertical">
                    <li>
                        <a href="{% url 'events' %}"
                           class="nav-menu-item {% if menu|lower == 'event' %}nav-menu-item-current{% endif %}">
                            <i class="sg sg-fw sg-content-type-event"></i>
			    <span class="nav-menu-item-label">{% trans 'Events' %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'articles' %}"
                           class="nav-menu-item {% if menu|lower == 'article' %}nav-menu-item-current{% endif %}">
                            <i class="sg sg-fw sg-content-type-article"></i>
			    <span class="nav-menu-item-label">{% trans 'Articles' %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'gestalten' %}"
                           class="nav-menu-item {% if menu|lower == 'gestalt' %}nav-menu-item-current{% endif %}">
                            <i class="sg sg-fw sg-content-type-gestalt"></i>
			    <span class="nav-menu-item-label">{% trans 'Persons' %}</span>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
