__pycache__
backup
build/
dist/
db.sqlite3*
media/
node_modules
static/
whoosh_index
res/img/backdrops
stadt/ASSET_VERSION
stadt/CACHE_VERSION
stadt/settings/local.py
*.swp
*.pyc
*.log

# debian shizzle
makefilet
.pybuild/
debian/debhelper-build-stamp
debian/stadtgestalten/
debian/*.debhelper
debian/tmp
debian/*.substvars
debian/files
stadtgestalten.egg-info/
/root/
