__pycache__
backup
build/
dist/
db.sqlite3*
media/
media-*/
node_modules
xapian_index
res/img/backdrops
grouprise/settings.py
*.swp
*.pyc
*.log
.coverage
docs/_build
locale/*/LC_MESSAGES/django.mo

# debian shizzle
makefilet
.pybuild/
debian/debhelper-build-stamp
debian/grouprise/
debian/grouprise-data/
debian/grouprise-dependencies/
debian/grouprise-doc/
debian/*.debhelper
debian/tmp
debian/*.substvars
debian/files
stadtgestalten.egg-info/
/root/
grouprise/core/templates/core/_assets.html
