[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiosmtpd = "*"
bleach = "*"
django-allauth = "*"
django-cachalot = "*"
django-filter = "*"
django-haystack = "*"
django-ical = "*"
django-imagekit = "*"
django-mailbox = "*"
djangorestframework = "*"
feedparser = "*"
flake8 = "*"
html2text = "*"
huey = "*"
pymdown-extensions = "<6"
aiosmtplib = "*"
schulze = "*"
randomcolor = "*"
raven = "*"
recommonmark = "*"
redis = "*"
requests = "*"
rules = "*"
translitcodec = "*"
xapian-haystack = "*"
Django = "<2.2,>=2.0"
django_csp = "*"
Markdown = "<3"
mdx_unimoji = "*"
Pillow = "*"
django-taggit = {git = "https://github.com/robwa/django-taggit.git",editable = true}

[requires]
python_version = "3.5"
