# Python dependencies of grouprise
#
# Most dependencies below do not use specific version requirements.  In this case you may assume,
# that the package in Debian Bullseye is suitable.
#
# Always synchronize your changes with debian/control, if the module is packaged for Debian:
#    * Build-Depends in source package (first stanza)
#    * Depends in package "grouprise"
#
aiosmtpd                    # debian: python3-aiosmtpd
aiosmtplib                  # NOT IN DEBIAN
bleach                      # debian: python3-bleach
django<2.3                  # debian: python3-django
django-allauth              # debian: python3-django-allauth
django-cachalot>=2.4.4      # NOT IN DEBIAN
django-cors-middleware      # debian: python3-django-cors-headers
django-csp                  # debian: python3-django-csp
django-debug-toolbar        # debian: python3-django-debug-toolbar
django-filter               # debian: python3-django-filters
django-haystack             # debian: python3-django-haystack
django-ical                 # debian: python3-django-ical
django-imagekit             # debian: python3-django-imagekit
django-ipware               # debian: python3-django-ipware
# OIDC support was introduced in v1.5.0
django-oauth-toolkit>=1.5   # debian (bookworm): python3-django-oauth-toolkit
django-simple-math-captcha  # NOT IN DEBIAN
django-taggit>=1.2.0        # debian: python3-django-taggit
djangorestframework>=3.9    # debian: python3-djangorestframework
feedparser                  # debian: python3-feedparser
flake8                      # debian: python3-flake8
html2text                   # debian: python3-html2text
huey                        # NOT IN DEBIAN
kien                        # NOT IN DEBIAN
# incompatible change introduced in https://github.com/Python-Markdown/markdown/commit/d18c3d0acab
markdown<3                  # debian: python3-markdown
mdx_unimoji                 # NOT IN DEBIAN
pillow                      # debian: python3-pil
pymdown-extensions<6        # NOT IN DEBIAN
randomcolor                 # NOT IN DEBIAN
recommonmark                # debian: python3-recommonmark
ruamel.yaml                 # debian: python3-ruamel.yaml
rules                       # debian: python3-django-rules
schulze                     # NOT IN DEBIAN
sentry-sdk                  # debian: python3-sentry-sdk
translitcodec               # NOT IN DEBIAN
xapian-haystack>=2.1.1      # debian: python3-xapian-haystack
# xapian-haystack also requires the xapian python bindings that you'll find
# as "python3-xapian" in Debian/Ubuntu and "python-xapian" in ArchLinux
