{% load events %}
<table class="calendar calendar-{{ size }}"
       {% if component_id %}data-component="calendar" id="{{ component_id }}"{% endif %}>
    <caption>
        <div class="calendar-month">
            {% get_parameters month=prev_month.month year=prev_month.year as prev_url %}
            {% get_parameters month=next_month.month year=next_month.year as next_url %}
            <a href="?{{ prev_url }}" class="btn btn-icon" title="vorheriger Monat">
                <i class="sg sg-prev"></i>
            </a>
            <span class="calendar-current-month">{{ month }}</span>
            <a href="?{{ next_url }}" class="btn btn-icon" title="nächster Monat">
                <i class="sg sg-next"></i>
            </a>
        </div>
    </caption>
    <thead class="calendar-daynames">
        <tr class="calendar-daynames">
            {% for day in days %}
            <th>{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody class="calendar-days">
        {% for week in weeks %}
            <tr>
                {% for day in week %}
                    <td class="{% if day.today %} calendar-day-today {% endif %} {% if not day.in_month %} calendar-day-exclude {% endif %} {% if day.url %} calendar-day-has-events {% endif %}">
                        <div>
                            {% if day.url %}
                                <a href="{{ day.url }}{% if not day.events|length_is:1 and group %}?group={{ group.slug }}{% endif %}"
                                   title="{{ day.events|day_preview|truncatechars:50 }}">
                                    {{ day.day }}
                                </a>
                            {% else %}
                                <span>{{ day.day }}</span>
                            {% endif %}
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
