{% load content %}
<table class="calendar calendar-{{ size }}">
    <caption>{{ month }}</caption>
    <thead class="calendar-daynames">
        <tr class="calendar-daynames">
            {% for day in days %}
            <th>{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody class="calendar-days">
        {% for week in weeks %}
            <tr>
                {% for day in week %}
                    <td class="{% if day.today %} calendar-day-today {% endif %} {% if not day.in_month %} calendar-day-exclude {% endif %} {% if day.url %} calendar-day-has-events {% endif %}">
                        {% if day.url %}
                            <a href="{{ day.url }}{% if not day.events|length_is:1 and group %}?group={{ group.slug }}{% endif %}"
                               title="{{ day.events|preview|truncatechars:50 }}">
                                {{ day.day }}
                            </a>
                        {% else %}
                            {{ day.day }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
