{% extends 'content/_preview.html' %}

{% block content_type %}
    <i class="sg sg-content-type-event" data-day="{{ association.container.time|date:'d' }}"></i>
    <span>Veranstaltung</span>
{% endblock %}

{% block content_preview_image %}
    <div>
        <div class="calendar-sheet calendar-sheet-size-">
            <span class="calendar-sheet-dayname">
                {{ association.container.time|date:'l' }}
            </span>
            <span class="calendar-sheet-daynumber">
                {{ association.container.time|date:'d' }}
            </span>
            <span class="calendar-sheet-month">
                {{ association.container.time|date:'F' }}
            </span>
        </div>
    </div>
{% endblock %}
