{% load events %}

<div class="box box-striped">
    <div class="box-inner">
        <header class="box-header">
            <h2 class="box-title">
                <i class="sg sg-calendar"></i>
                Kalender
            </h2>
        </header>
        <div class="box-content">
            {% calendar user events.around %}

            {% with preview_length=preview_length|default:3 %}
                {% with upcoming_events=events|upcoming_events:preview_length %}
                    {% if upcoming_events %}
                        <ul class="events">
                            {% for event in upcoming_events %}
                                <li>
                                    <div class="event-preview">
                                        {% time event.time %}:
                                        <a href="{{ event.get_absolute_url }}" title="{{ event.title }}">{{ event.title }}</a>
                                        {% if show_group %}
                                            &middot;
                                            <a href="{{ event.groupcontent.group.get_absolute_url }}">{{ event.groupcontent.group }}</a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            {% endwith %}
        </div>

        {% if not hide_buttons %}
            <div class="btn-toolbar btn-toolbar-right">
                <div class="dropdown-container">
                    <input class="dropdown-state" id="calendar-more" type="checkbox" />
                    <label class="btn btn-link" for="calendar-more" data-component="openable" data-openable-target="#calendar-more-dropdown">
                            <span class="btn-label">
                                Mehr <span class="caret"></span>
                            </span>
                    </label>
                    <ul class="dropdown" id="calendar-more-dropdown" data-dropdown>
                        {% if group %}
                            <li>
                                <a href="{% url 'group-events-export' group_slug=group.slug %}">Exportieren</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'events' %}" >Alle Ereignisse</a>
                        </li>
                    </ul>
                </div>

                <a href="{% url 'event-create' %}{% if group %}?group={{ group.slug }}{% endif %}" class="btn btn-link">
                    Neues Ereignis
                </a>
            </div>
        {% endif %}
    </div>
</div>
