{% load calendar humanize rules utils %}
<div class="box box-striped">
    <div class="box-inner">
        <header class="box-header">
            <h2 class="box-title">
                <i class="sg sg-calendar"></i>
                Kalender
            </h2>
        </header>
        <div class="box-content">
            {% calendar calendar_events|override:all_calendar_events %}
            {% spaceless %}
                {% if upcoming_events|override:all_upcoming_events|length > 0 %}
                    <ul class="events">
                        {% for event in upcoming_events|override:all_upcoming_events %}
                            <li>
                                <div class="event-preview">
                                    {{ event.time|naturalday:'d. m.'|title }}
                                    <a href="{{ event.get_absolute_url }}" title="{{ event.title }}">{{ event.title }}</a>
                                    {% if not group and event.groupcontent %}
                                        &middot;
                                        <a href="{{ event.groupcontent.group.get_absolute_url }}">{{ event.groupcontent.group }}</a>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endspaceless %}
        </div>
        <div class="btn-toolbar btn-toolbar-right">
            <a href="{% url 'event-index' %}" class="btn btn-link">Alle Ereignisse</a>
            <a href="{% url 'event-create' %}{% if group %}?group={{ group.slug }}{% endif %}" class="btn btn-link">
                Neues Ereignis
            </a>
        </div>
    </div>
</div>
