{% load events humanize rules utils %}

<div class="box box-striped">
    <div class="box-inner">
        <header class="box-header">
            <h2 class="box-title">
                <i class="sg sg-calendar"></i>
                Kalender
            </h2>
        </header>
        <div class="box-content">
            {% calendar calendar_events|override:all_calendar_events %}
            {% spaceless %}
                {% if upcoming_events|override:all_upcoming_events|length > 0 %}
                    <ul class="events">
                        {% for event in upcoming_events|override:all_upcoming_events %}
                            <li>
                                <div class="event-preview">
                                    {{ event.time|naturalday:'d. m.'|title }}
                                    <a href="{{ event.get_absolute_url }}" title="{{ event.title }}">{{ event.title }}</a>
                                    {% if not group and event.groupcontent %}
                                        &middot;
                                        <a href="{{ event.groupcontent.group.get_absolute_url }}">{{ event.groupcontent.group }}</a>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endspaceless %}
        </div>
        <div class="btn-toolbar btn-toolbar-right">
            <div class="dropdown-container">
                <input class="dropdown-state" id="calendar-more" type="checkbox" />
                <label class="btn btn-link" for="calendar-more" data-component="openable" data-openable-target="#calendar-more-dropdown">
                        <span class="btn-label">
                            Mehr <span class="caret"></span>
                        </span>
                </label>
                <ul class="dropdown" id="calendar-more-dropdown" data-dropdown>
                    {% if group %}
                        <li>
                            <a href="{% url 'group-events-export' group_slug=group.slug %}">Exportieren</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'event-index' %}" >Alle Ereignisse</a>
                    </li>
                </ul>
            </div>

            <a href="{% url 'event-create' %}{% if group %}?group={{ group.slug }}{% endif %}" class="btn btn-link">
                Neues Ereignis
            </a>
        </div>
    </div>
</div>
