{% load events %}

<div class="box box-striped">
    <div class="box-inner">
        <header class="box-header">
            <h2 class="box-title">
                <i class="sg sg-calendar"></i>
                Kalender
            </h2>
        </header>
        <div class="box-content" {% if component_id %}data-component="calendar" id="{{ component_id }}"{% endif %}>
            {% calendar associations size='preview' %}

            {% if upcoming %}
                <ul class="events">
                    {% for association in upcoming %}
                        <li>
                            <div class="event-preview">
                                {% time association.container.time suffix=':' %}
                                <a href="{{ association.get_absolute_url }}">{{ association.container.title }}</a>
                                {% if show_group and association.entity.is_group %}
                                    &middot;
                                    {% link association.entity %}
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% load rules %}
        {% if group %}
            {% has_perm 'content.group_create' user group as can_create %}
        {% else %}
            {% has_perm 'content.create' user as can_create %}
        {% endif %}
        {% if not hide_buttons %}
            <div class="btn-toolbar btn-toolbar-right">
                {% if not user.is_authenticated or can_create or upcoming %}
                    <div class="dropdown-container">
                        <input class="dropdown-state" id="calendar-more" type="checkbox" />
                        <label class="btn btn-link" for="calendar-more" data-component="openable" data-openable-target="#calendar-more-dropdown">
                                <span class="btn-label">
                                    Mehr <span class="caret"></span>
                                </span>
                        </label>
                        <ul class="dropdown" id="calendar-more-dropdown" data-dropdown>
                            {% if not user.is_authenticated or can_create %}
                                {% if upcoming %}
                                    <li>
                                        <a href="{% if group %}{{ group.get_absolute_url|add:'?content=events' }}{% else %}{% url 'events' %}{% endif %}" >
                                            Alle Veranstaltungen
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if group %}
                                <li>
                                    <a href="{% url 'group-events-export' group_slug=group.slug %}">Kalender exportieren</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}

                {% if not user.is_authenticated or can_create %}
                    <a href="{% if group %}{% url 'create-group-event' group.slug %}{% else %}{% url 'create-event' %}{% endif %}" class="btn btn-link">
                        <i class="sg sg-add"></i> Veranstaltung eintragen
                    </a>
                {% elif upcoming %}
                    <a href="{% if group %}{{ group.get_absolute_url|add:'?content=events' }}{% else %}{% url 'events' %}{% endif %}" class="btn btn-link">
                        Alle Veranstaltungen
                    </a>
                {% else %}
                    <a href="{% url 'group-events-export' group_slug=group.slug %}" class="btn btn-link">
                        Kalender exportieren
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
