{% load events %}

<div class="box box-striped">
    <div class="box-inner">
        <header class="box-header">
            <h2 class="box-title">
                <i class="sg sg-calendar"></i>
                Kalender
            </h2>
        </header>
        <div class="box-content" {% if component_id %}data-component="calendar" id="{{ component_id }}"{% endif %}>
            {% calendar associations size='preview' %}

            {% if upcoming %}
                <ul class="events">
                    {% for association in upcoming %}
                        <li>
                            <div class="event-preview">
                                {% time association.container.time suffix=':' %}
                                <a href="{{ association.get_absolute_url }}">{{ association.container.title }}</a>
                                {% if show_group and association.entity.is_group %}
                                    &middot;
                                    {% link association.entity %}
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% if not hide_buttons %}
            <div class="btn-toolbar btn-toolbar-right">
                <div class="dropdown-container">
                    <input class="dropdown-state" id="calendar-more" type="checkbox" />
                    <label class="btn btn-link" for="calendar-more" data-component="openable" data-openable-target="#calendar-more-dropdown">
                            <span class="btn-label">
                                Mehr <span class="caret"></span>
                            </span>
                    </label>
                    <ul class="dropdown" id="calendar-more-dropdown" data-dropdown>
                        {% if group %}
                            <li>
                                <a href="{% url 'group-events-export' group_slug=group.slug %}">Exportieren</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'events' %}" >Alle Veranstaltungen</a>
                        </li>
                    </ul>
                </div>

                {% load rules %}
                {% if group %}
                    {% has_perm 'content.group_create' user group as can_create %}
                {% else %}
                    {% has_perm 'content.create' user as can_create %}
                {% endif %}
                {% if not user.is_authenticated or can_create %}
                    <a href="{% if group %}{% url 'create-group-event' group.slug %}{% else %}{% url 'create-event' %}{% endif %}" class="btn btn-link">
                        Neue Veranstaltung
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
