{% extends 'stadt/stadt.html' %}
{% load memberships %}

{% block sidebar %}{% endblock %}

{% block heading %}
        <div class="content-header">
            <h2 class="content-classification">Kalenderexport</h2>
            {% include "macros/decoration.html" with icon="sg-calendar" %}
        </div>
    {% endblock %}
{% block content %}
    <div class="content-body">
        <p>
            Kalender werden im ICS-Exportformat bereitgestellt und lassen sich in dieser Form sowohl als
            Abonnement einbinden, als auch einmalig herunterladen. Programme wie Thunderbird, aber
            auch Web-Anwendungen wie owncloud oder Horde bieten es an diesen Kalender zu importieren.
            Im Regelfall musst Du dafür die URL des Kalenders kopieren und im jeweiligen Programm einfügen.
            Häufig wird die Funktionalität auch unter dem Namen WebCal angeboten.
        </p>

        <h3>Öffentlicher Kalender</h3>
        <div class="selectable-row">
            <pre class="selectable selectable-mono">{{ public_export_url }}</pre>
            <div class="btn-toolbar">
                <a href="{{ public_export_url }}" class="btn btn-sm btn-default">
                    <i class="sg sg-download" title="Download"></i>
                </a>
                <button class="hide-no-js btn btn-sm btn-primary" data-component="clipboard" data-clipboard-text="{{ public_export_url }}">
                    <i class="sg sg-copy"></i> Kopieren
                </button>
            </div>
        </div>

        {% if private_export_url %}
            <h3>Privater Kalender</h3>
            <p class="disclaimer">
                Der private Kalender enthält alle nicht-öffentlichen Veranstaltungen. Wenn du die URL mit anderen
                Menschen teilst, werden diese in deinem Namen auch Zugriff auf den Kalender haben.
            </p>
            <div class="selectable-row">
                <pre class="selectable selectable-mono">{{ private_export_url }}</pre>
                <div class="btn-toolbar">
                    <a href="{{ private_export_url }}" class="btn btn-sm btn-default">
                        <i class="sg sg-download" title="Download"></i>
                    </a>
                    <button class="hide-no-js btn btn-sm btn-primary" data-component="clipboard" data-clipboard-text="{{ private_export_url }}">
                        <i class="sg sg-copy"></i> Kopieren
                    </button>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
