{% extends 'stadt/stadt.html' %}
{% load events groups rules %}

{% block title %}Ereignisse - {{ block.super }}{% endblock %}
{% block menu %}{% with menu='event' %}{{ block.super }}{% endwith %}{% endblock %}

{% block heading_title %}
    {% include 'core/_heading.html' with title='Ereignisse' icon='sg-pen' %}
{% endblock %}

{% block heading_toolbar %}
    {% has_perm 'content.create' user as can_create %}
    {% if can_create %}
        {% url 'create-event' as url %}
        {% include 'core/_toolbutton.html' with label='Neues Ereignis' url=url %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% sidebar_groups user %}
{% endblock %}

{% block content %}
    {% calendar paginator.object_list size="large" %}
    
    <div class="content-list">
        <ol class="content-preview-list">
            {% for association in association_list %}
                <li>{% include 'events/_preview.html' %}</li>
            {% endfor %}
        </ol>

        {% pagination 'Weitere Ereignisse' %}
    </div>
{% endblock %}
