{% extends 'stadt/stadt.html' %}
{% load events groups rules %}

{% block title %}Ereignisse - {{ block.super }}{% endblock %}
{% block menu %}{% with menu='event' %}{{ block.super }}{% endwith %}{% endblock %}
{% block heading_title %}{% with title='Ereignisse' %}{{ block.super }}{% endwith %}{% endblock %}


{% block heading_toolbar %}
    {% has_perm 'content.create_content' user as can_create_content %}
    {% if can_create_content %}
        <a href="{% url 'event-create' %}" class="btn btn-ch">
            <span class="btn-label">
                Neues Ereignis
            </span>
        </a>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% sidebar_groups user %}
{% endblock %}

{% block content %}
    {# FIXME: markup, css-classes, ...? #}
    <ol class="profiles">
        <li>
            {% calendar user size="large" %}
        </li>
        <li>
            {% calendar user add_to_month=1 size="large" %}
        </li>
    </ol>
    
    <div class="content-list">
        <ol class="content-preview-list">
            {% for content in event_list %}
                <li>{% include 'content/_content_preview.html' %}</li>
            {% endfor %}
        </ol>

        {% pagination 'Weitere Ereignisse' %}
    </div>
{% endblock %}
