{% extends 'core/_menu.html' %}

{% block menu_items %}
    <li>
        {% include 'core/menu/_menu_groups.html' %}
    </li>
    {% if group %}
        <li>
            {% include 'groups/_menu.html' %}
        </li>
    {% endif %}
    <li>
        {% include 'gestalten/_menu.html' %}
    </li>
    <!--
        the first menu opened on mobile depends on dom order,
        so search comes last but is ordered last
        -->
    <li style="order: -1">
        {% include 'stadt/_search.html' %}
    </li>
{% endblock %}
