{% extends 'core/_menu.html' %}

{% block menu_items %}
    {% block extra_menu_items_1 %}{% endblock %}
    <li>
        {% include 'core/menu/_menu_groups.html' %}
    </li>
    {% block extra_menu_items_2 %}{% endblock %}
    {% block extra_menu_items_3 %}{% endblock %}
    {% if group %}
        <li>
            {% include 'groups/_menu.html' %}
        </li>
    {% endif %}
    {% block extra_menu_items_4 %}{% endblock %}
    <li>
        {% include 'gestalten/_menu.html' %}
    </li>
    {% block extra_menu_items_5 %}{% endblock %}
    <!--
        the first menu opened on mobile depends on dom order,
        so search comes last but is ordered last
        -->
    <li style="order: -1">
        {% include 'stadt/_search.html' %}
    </li>
    <li style="order: -2">
        {% include 'stadt/_help.html' %}
    </li>
{% endblock %}
