<meta name="description" content="{{ about_group.description }}">

<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ GROUPRISE_SITE_NAME }}">
<meta property="og:image" content="{{ GROUPRISE_LOGO_SQUARE | full_url }}">
<meta property="og:description" content="{{ about_group.description }}">
<meta property="og:locale" content="de_DE">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@grouprise">
<meta name="twitter:url" content="{{ request.build_absolute_uri }}">
<meta name="twitter:title" content="{{ GROUPRISE_SITE_NAME }}">
<meta name="twitter:description" content="{{ about_group.description }}">
<meta name="twitter:image" content="{{ GROUPRISE_LOGO_SQUARE | full_url }}">
