{% extends 'stadt/stadt.html' %}

{% block title %}Hilfe - {{ block.super }}{% endblock %}

{% block content_header %}
    {% include 'stadt/_index_header.html' %}
{% endblock %}

{% block heading_title %}
    <h1 class="content-classification">Hilfe</h1>
    <span class="decoration-icon sg-question" role="presentation"></span>
{% endblock %}

{% block content %}
    {% if about_text %}
        <article class="help-content-preview">
            <a href="{{ about_text.get_absolute_url }}" class="content-preview-body">
                <div class="content-preview-body-content">
                    <div class="help-content-image">
                        <img src="{{ about_text.container.image.preview_content.url }}">
                    </div>
                    <div class="content-preview-text">
                        <div class="content-preview-header">
                            <h3 class="content-title">Über {{ about_group }}</h3>
                        </div>
                        <p>Finde heraus, worum es hier geht.</p>
                    </div>
                </div>
            </a>
        </article>
    {% endif %}
    {% if tools_text %}
        <article class="help-content-preview">
            <a href="{{ tools_text.get_absolute_url }}" class="content-preview-body">
                <div class="content-preview-body-content">
                    <div class="help-content-image">
                        <img src="{{ tools_text.container.image.preview_content.url }}">
                    </div>
                    <div class="content-preview-text">
                        <div class="content-preview-header">
                            <h3 class="content-title">Werkzeuge im Detail</h3>
                        </div>
                        <p>Lies nach, welche Funktionen es gibt.</p>
                    </div>
                </div>
            </a>
        </article>
    {% endif %}
    <article class="help-content-preview">
        <a href="{% url 'markdown' %}" class="content-preview-body">
            <div class="content-preview-body-content">
                <div class="help-content-image">
                    {% load staticfiles %}
                    <img src="{% static 'stadt/markdown.svg' %}">
                </div>
                <div class="content-preview-text">
                    <div class="content-preview-header">
                        <h3 class="content-title">Textformatierung</h3>
                    </div>
                    <p>So kannst du deine Texte gestalten.</p>
                </div>
            </div>
        </a>
    </article>

    <header class="content-section-header">
        {% include 'core/_heading.html' with title='Kontakt' icon='sg-message' %}
    </header>

    <p>Du findest Dich noch nicht zurecht oder hast Verbesserungsvorschläge? Schreib uns, wir helfen Dir gerne.</p>

    {% include 'conversations/_create_form.html' %}

    <header class="content-section-header">
        {% include 'core/_heading.html' with title='Mehr' icon='sg-more' %}
    </header>
    {% if about_group %}
        <article class="help-content-preview">
            <a href="{{ about_group.get_absolute_url }}" class="content-preview-body">
                <div class="content-preview-body-content">
                    <div class="help-content-image">
                        {% if about_group.avatar %}
                            <img src="{{ about_group.avatar_256.url }}">
                        {% endif %}
                    </div>
                    <div class="content-preview-text">
                        <div class="content-preview-header">
                            <h3 class="content-title">Gruppe @{{ about_group.slug }}</h3>
                        </div>
                        <p>Die Menschen hinter der Plattform {{ GROUPRISE_SITE_NAME }}</p>
                    </div>
                </div>
            </a>
        </article>
    {% endif %}
    <article class="help-content-preview">
        <a href="{% url 'content' about_group.slug 'imprint' %}" class="content-preview-body">
            <div class="content-preview-body-content">
                <div class="help-content-image">
                    <i class="sg sg-4x sg-imprint"></i>
                </div>
                <div class="content-preview-text">
                    <div class="content-preview-header">
                        <h3 class="content-title">Impressum</h3>
                    </div>
                    <p>Juristische Angaben zu Betreiberin und Betrieb</p>
                </div>
            </div>
        </a>
    </article>
    <article class="help-content-preview">
        <a href="{% url 'privacy' %}" class="content-preview-body">
            <div class="content-preview-body-content">
                <div class="help-content-image">
                    <i class="sg sg-4x sg-privacy"></i>
                </div>
                <div class="content-preview-text">
                    <div class="content-preview-header">
                        <h3 class="content-title">Datenschutz</h3>
                    </div>
                    <p>Was mit deinen Daten passiert</p>
                </div>
            </div>
        </a>
    </article>
    <article class="help-content-preview">
        <a href="https://grouprise.org/" class="content-preview-body">
            <div class="content-preview-body-content">
                <div class="help-content-image">
                    {% load staticfiles %}
                    <img src="{% static 'core/logos/logo-square.svg' %}" style="width: 100%;">
                </div>
                <div class="content-preview-text">
                    <div class="content-preview-header">
                        <h3 class="content-title">grouprise</h3>
                    </div>
                    <p>Die Software, mit der {{ about_group }} betrieben wird</p>
                </div>
            </div>
        </a>
    </article>
{% endblock %}
