{% extends 'content/list.html' %}

{% block meta_feed %}
    <link rel="alternate" type="application/rss+xml" title="{{ GROUPRISE_SITE_NAME }}" href="{{ feed_url }}">
{% endblock %}

{% block sidebar %}
    {% load events %}
    {% sidebar_calendar paginator.object_list component_id='content-calendar' site_calendar=True %}
    {% load groups %}
    {% sidebar_groups user %}
{% endblock %}

{% block content_header %}
    {% include 'stadt/_index_header.html' with dismissible=True %}
{% endblock %}
