{% extends 'stadt/stadt.html' %}
{% load i18n %}

{% block title %}Suche - {{ block.super }}{% endblock %}
{% block heading_title %}
    {% include 'core/_heading.html' with title='Beiträge' icon='sg-search' %}
{% endblock %}

{% block content %}
    <form class="form-search" action="{% url 'search' %}">
        <label class="form-search-wrap">
            <span class="sr-only">Suche</span>
            <input type="search" name="q" class="form-control" placeholder="Suche"
                   value="{{ view.query_string }}" autofocus>
        </label>
        <button class="btn btn-primary">
            Suchen
        </button>
    </form>

    <div class="content-list">
        {% if object_list %}
            <ol class="content-preview-list">
                {% for result in object_list %}
                    <li>
                        {% if result.model_name == "association" %}
                            {% include 'associations/_preview.html' with association=result.object %}
                        {% elif result.model_name == "group" %}
                            {% include 'groups/_preview.html' with group=result.object link=True %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
            {% pagination _('More Items') %}
        {% else %}
            <div class="alert alert-flex alert-default">
                <div class="alert-image">
                    <i class="sg sg-3x sg-no-results"></i>
                </div>
                <div>
                    <p>Leider haben wir keine passenden Beiträge für deine Suchanfrage gefunden.</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
