{% kwacro avatar %}
    {% if gestalt.avatar %}
        <span title="{{ gestalt }}" class="avatar avatar-size-{{ size|default:"64" }}-{{ size|default:"64" }}">
            <img src="{{ gestalt.avatar_64.url }}" alt="{{ gestalt }} (@{{ gestalt.slug }})">
        </span>
    {% else %}
        <span title="{{ gestalt }} (@{{ gestalt.slug }})" class="avatar avatar-size-{{ size|default:"64" }}-{{ size|default:"64" }} avatar-initials" data-initials="{{ gestalt.get_initials|length }}" style="background-color: {{ gestalt.avatar_color }}">
            {{ gestalt.get_initials|truncatechars:4 }}
        </span>
    {% endif %}
{% endkwacro %}

{% if link %}
    <a class="avatar-wrap profile-avatar" href="{{ gestalt.get_absolute_url }}">
        {% usekwacro avatar %}
    </a>
{% else %}
    <div class="avatar-wrap profile-avatar">
        {% usekwacro avatar %}
    </div>
{% endif %}
