{% extends 'content/list.html' %}
{% load events rules %}

{% block title %}{{ gestalt }} - {{ block.super }}{% endblock %}
{% block menu %}{% menu 'gestalt' %}{% endblock %}

{% block header %}
    {% has_perm 'entities.change_gestalt' user gestalt as can_edit %}

    <header class="profile-header">
        <div class="profile-header-title-image">
            {% thumbnail gestalt.background '1140x456' crop="left center" as image %}
                <img src="{{ image.url }}" alt="Titelbild von {{ gestalt }}">
            {% empty %}
                <div class="disclaimer"></div>
            {% endthumbnail %}

            {% if can_edit %}
                <div class="btn-toolbar btn-toolbar-bottom btn-toolbar-fixed">
                    <a href="{% url 'gestalt-background-update' gestalt.pk %}" class="btn btn-backdrop btn-ts" title="Hintergrundbild ändern">
                        <i class="fa fa-2x fa-camera"></i>
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="profile-header-data">
            <div class="profile-header-title">
                <a href="{% url 'gestalt-avatar-update' gestalt.pk %}" class="avatar-edit-inline">
                    {% include 'gestalten/_avatar.html' with gestalt=gestalt link=False %}
                </a>
                <h1>{{ gestalt }}</h1>
                <span class="clearfix"></span>
            </div>

            <div class="profile-header-info">
                <div class="profile-header-info-main">
                    <dl class="def def-icons">
                        {% if can_edit %}
                        <dt>
                            <i class="sg sg-private"></i>
                            <span class="sr-only">Privatsphäre</span>
                        </dt>
                        <dd>
                            {% if gestalt.public %}
                                Dein Profil ist <strong>öffentlich</strong>
                            {% else %}
                                Dein Profil ist <strong>nicht öffentlich</strong>
                            {% endif %}
                        </dd>
                        {% endif %}
                        <dt>
                            <i class="sg sg-gestalt"></i>
                            <span class="sr-only">Über mich</span>
                        </dt>
                        <dd>
                            {% if not gestalt.about %}
                                {% if request.user.gestalt == gestalt %}
                                    Schreib doch ein paar Zeilen zu dir!
                                {% else %}
                                    Dieser Mensch hat nichts zu sich geschrieben.
                                {% endif %}
                            {% else %}
                                {{ gestalt.about }}
                            {% endif %}
                        </dd>
                    </dl>
                </div>

                <div class="profile-header-info-slug">
                    <dl class="def def-icons">
                        <dt>
                            <i class="sg sg-link"></i>
                            <span class="sr-only">URL auf Stadtgestalten</span>
                        </dt>
                        <dd class="selectable">
                            {{ site.domain }}/<span class="selectable-token">{{ gestalt.user.username }}</span>
                            <button type="button" class="btn-text hide-no-js" data-component="clipboard"
                                    data-clipboard-text="{{ site.domain }}/gestalt/{{ gestalt.user.username }}"
                                    title="URL zu dieser Gestalt kopieren">
                                <i class="fa fa-clipboard"></i>
                            </button>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </header>

    <div class="content-toolbar">
        <div class="btn-toolbar">
            {% if can_edit %}
                <div class="btn-group">
                    <a href="{% url 'gestalt-update' gestalt.pk %}" class="btn btn-default btn-sm">
                        <i class="sg sg-edit"></i>
                        Profil bearbeiten
                    </a>
                </div>
            {% endif %}

            {% has_perm 'conversations.create_gestalt_conversation' user gestalt as can_create_message %}
            {% if can_create_message %}
                <div class="btn-group">
                    <a href="{% url 'create-gestalt-conversation' gestalt.pk %}" class="btn btn-default btn-sm">
                        <i class="sg sg-message"></i>
                        Nachricht schreiben
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block heading %}
    <div class="content-header">
        <h2 class="content-classification">Beiträge</h2>
        {% include "core/_decoration.html" with icon="sg-pen" %}
        <div class="btn-toolbar">
            {% has_perm 'content.create_for_gestalt' user gestalt as can_create_content %}
            {% if can_create_content %}
                {% dropdown 'content-new' '<i class="sg sg-add"></i> Beitrag' %}
                    <li><a href="{% url 'create-article' %}"><i class="sg sg-fw sg-article"></i> Artikel</a></li>
                    <li><a href="{% url 'create-event' %}"><i class="sg sg-fw sg-event"></i> Veranstaltung</a></li>
                    <li><a href="{% url 'create-gallery' %}"><i class="sg sg-fw sg-gallery"></i> Galerie</a></li>
                    <li><a href="{% url 'create-poll' %}"><i class="sg sg-fw sg-poll"></i> Umfrage</a></li>
                {% enddropdown %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% sidebar_calendar paginator.object_list preview_length=3 component_id='gestalt-calendar' %}
{% endblock %}
