{% extends 'stadt/stadt.html' %}
{% load dismissible events groups rules %}

{% block title %}Gestalten - {{ site.name }}{% endblock %}
{% block menu %}{% with menu='gestalt' %}{{ block.super }}{% endwith %}{% endblock %}
{% block heading_title %}<h1 class="content-classification">Gestalten</h1>{% endblock %}

{% block heading_toolbar %}
    {% has_perm 'account.signup' user as can_signup %}
    {% if can_signup %}
        <a href="{% url 'account_signup' %}" class="btn btn-ch">
            <span class="btn-label">
                Registrieren
            </span>
        </a>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% sidebar_calendar view.get_content %}
    {% sidebar_groups user %}
{% endblock %}

{% block content %}
    {% block gestalten_header %}
        {% has_perm 'entities.change_gestalt' user user.gestalt as can_edit %}
        {% dismissible 'gestalt-profile-visibility' %}
        <div class="disclaimer disclaimer-standalone">
            {% dismiss 'gestalt-profile-visibility' %}
            Du wirst hier nicht alle <em>Gestalten</em> finden. Jede <em>Gestalt</em> entscheidet
        für sich, ob sie ein öffentliches Profil haben möchte. Du kannst diese Einstellung in
            {% if can_edit %}
                <a href="{% url 'gestalt-update' user.gestalt.pk %}">
                    deinem Profil ändern.
                </a>
            {% else %}
                deinem Profil ändern.
            {% endif %}
        </div>
        {% enddismissible %}
    {% endblock %}

    <ol class="profiles" data-component="masonry">
        {% for gestalt in gestalt_list %}
            <li>
                {% include 'gestalten/_preview.html' with gestalt=gestalt link=True %}
            </li>
        {% endfor %}
    </ol>

    {% pagination 'Weitere Gestalten' %}
{% endblock %}
