{% extends 'stadt/stadt.html' %}

{% block content_row %}
    <form class="form-login form-modern" method="post">
        {% csrf_token %}
        {% include 'core/_form_errors.html' with form=form %}
        <div>
            {% include 'core/_field.html' with field=form.login %}
            {% include 'core/_field.html' with field=form.password %}
            {% include 'core/_checkbox_field.html' with field=form.remember %}
            <button class="btn btn-primary btn-block">Anmelden</button>
            {% load socialaccount %}
            {% providers_media_js %}
            <a href="{% provider_login_url 'facebook' method='js_sdk' %}"
               class="btn btn-default btn-block">
                <span class="fa fa-facebook"></span>
                Mit Facebook anmelden
            </a>
        </div>
        <div class="account-actions">
            <a class="btn btn-link" href="{{ signup_url }}">Konto anlegen</a>
            <a class="btn btn-link" href="{% url 'account_reset_password' %}">
                Passwort vergessen
            </a>
        </div>
    </form>
{% endblock %}
