{% extends 'stadt/settings.html' %}

{% block sidebar %}
    {% with chapter='gestalt' %}{{ block.super }}{% endwith %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        {% field form.username prefix=site.domain|add:'/' %}
        <div class="row">
            <div class="col-md-6">
                {% field form.first_name %}
                {% field form.last_name %}
            </div>
            <div class="col-md-6">
                {% field form.about %}
            </div>
        </div>
        {% field_checkbox form.public %}

        <button class="btn btn-primary">Einstellungen speichern</button>
    </form>
{% endblock %}
