{% extends 'stadt/stadt.html' %}

{% block title %}Abonnement - {{ block.super }}{% endblock %}
{% block menu %}{% menu 'group' view.group %}{% endblock %}
{% block breadcrumb %}{% breadcrumb view.group 'Abonnement' %}{% endblock %}
{% block heading_title_text %}Abonnenment{% endblock %}

{% block sidebar %}
    {% include 'associations/_sidebar_entity.html' with entity=view.group %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>Ich möchte benachrichtigt werden, wenn die Gruppe <em>{{ view.group }}</em> neue Beiträge veröffentlicht.</p>
        <div>
            {% if form.subscriber %}
                {% load auth %}
                {% login_or_field form.subscriber as help_text %}
                {% include 'core/_field.html' with field=form.subscriber help_text=help_text %}
            {% endif %}
        </div>
        <button class="btn btn-primary">Gruppe abonnieren</button>
    </form>
{% endblock %}
