{% extends 'stadt/stadt.html' %}

{% block heading_title %}
    <h1 class="content-classification">Hups!</h1>
{% endblock %}

{% block content %}
    <h2>Das war jetzt unerwartet!</h2>
    <p>Herzlichen Glückwunsch, Du hast einen Fehler in der Stadtgestalten-Software entdeckt! Die Entwickler wurden soeben per E-Mail darüber informiert.</p>
    <p>Wenn Du das Gefühl hast, dass der Fehler nicht ernst genug genommen wird, schreib gerne eine Nachricht an die Stadtgestalten-Gruppe. Du findest auf den meisten Seiten oben unter "Über Stadtgestalten" einen Verweis zu dieser Gruppe.</p>
    <div class="game-container">
        <p>Wie wäre es mit einer Runde Snake zur Wiedergutmachung?</p>
        <canvas data-component="snake" class="game game-snake"></canvas>
    </div>
{% endblock %}
