<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Navigation umschalten</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">{{ current_site.name }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Gruppen</a></li>
                <li><a href="#">Personen</a></li>
                <li><a href="#">Artikel</a></li>
                <li><a href="#">Termine</a></li>
                <li><a href="#">Galerien</a></li>
            </ul>
      
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'group' about_group.slug %}">Über uns</a></li>
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.gestalt }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'gestalt' user.username %}">Meine Seite</a></li>
                        <li><a href="{% url 'gestalt-update' user.gestalt.pk %}">Einstellungen</a></li>
                        <li><a href="{% url 'account_logout' %}?next={{ request.path }}">ABMELDEN</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url 'account_login' %}?next={{ request.path }}">Anmelden</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
