{% extends 'bootstrap3/bootstrap3.html' %}	

{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
{% endblock %}

{% block bootstrap3_extra_script %}
{% endblock %}

{% block bootstrap3_title %}{% block title %}{% endblock %} - Stadtgestalten Rostock{% endblock %}

{% block bootstrap3_content %}
{% include '_navigation.html' %}
<div class="container">
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
</div>
{% endblock %}
