{% extends 'stadt/stadt.html' %}

{% block content_row %}
    <form class="form-login form-modern" method="post">
        {% csrf_token %}
        {% include 'core/_form_errors.html' with form=form %}
        <div>
            {% include 'core/_field.html' with field=form.login %}
            {% include 'core/_field.html' with field=form.password %}
            {% include 'core/_checkbox_field.html' with field=form.remember %}
            <button class="btn btn-primary btn-block">Anmelden</button>
        </div>
        <div class="account-actions">
            <a class="btn btn-link" href="{{ signup_url }}">Konto anlegen</a>
            <a class="btn btn-link" href="{% url 'account_reset_password' %}">
                Passwort vergessen
            </a>
        </div>
        {% load socialaccount %}
        {% if view.has_facebook_app %}
            <div class="account-actions">
                <a href="{% provider_login_url 'facebook' %}"
                   class="btn btn-link">
                    <span class="sg sg-facebook"></span>
                    Mit Facebook anmelden
                </a>
            </div>
        {% endif %}
    </form>
{% endblock %}
