{% extends 'stadt/stadt.html' %}

{% block title %}Kennwort - {{ block.super }}{% endblock %}
{% block heading_title_text %}Kennwort{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        
        <p>Wenn Du Dein Kennwort vergessen hast, gib bitte Deine E-Mail-Adresse ein. Du
        erhältst dann eine Nachricht mit einem Verweis zum Zurücksetzen des Kennworts an diese
        Adresse.</p>
        
        {% field form.email %}
        <button class="btn btn-primary">Kennwort zurücksetzen</button>
    </form>
{% endblock %}
