{% kwacro avatar %}
    {% if group.avatar %}
        <div title="{{ group.name }}" class="avatar avatar-size-{{ size|default:"64" }}-{{ size|default:"64" }}">
            <img src="{{ group.avatar_64.url }}" alt="{{ group.name }}">
        </div>
    {% else %}
        <div title="{{ group.name }}" class="avatar  avatar-size-{{ size|default:"64" }}-{{ size|default:"64" }} avatar-initials" data-initials="{{ group.get_initials|length }}" style="background-color: {{ group.avatar_color }}">
            {{ group.get_initials|truncatechars:4 }}
        </div>
    {% endif %}
{% endkwacro %}

{% if link %}
    <a class="avatar-wrap group-avatar" href="{{ group.get_absolute_url }}">
        {% usekwacro avatar %}
    </a>
{% else %}
    <div class="avatar-wrap group-avatar">
        {% usekwacro avatar %}
    </div>
{% endif %}
