{% load cache %}
{% load i18n %}

{% kwacro preview_body %}
    <header class="group-preview-header">
        {% with cover_url=group.get_cover_url %}
            {% if cover_url %}
                <div class="group-preview-image">
                    <img src="{{ cover_url }}" />
                </div>
            {% else %}
                <div class="group-preview-image group-preview-image-placeholder"></div>
            {% endif %}
        {% endwith %}
        {% include "groups/_avatar.html" with group=group link=False %}
        {% if user.is_authenticated %}
            <div class="group-preview-stats">
                {% if user.gestalt in group.subscribers %}
                    <i class="sg sg-subscription sg-active" title="{% trans 'You are subscribed to contriutbions of this group' %}"></i>
                {% else %}
                    <i class="sg sg-subscription" title="{% trans 'You are not subscribed to contributions of this group' %}"></i>
                {% endif %}
                {% load memberships %}
                {% if user.gestalt|is_member:group %}
                    <i class="sg sg-members sg-active" title="{% trans 'You are a member of this group' %}"></i>
                {% else %}
                <i class="sg sg-members" title="{% trans 'You are not a member of this group' %}"></i>
                {% endif %}
            </div>
        {% endif %}
    </header>
    <div class="group-preview-body">
        <h3>{{ group.name }}</h3>
        <p>
            {% if group.description %}
                {% markdown group.description preset='linkonly' %}
            {% else %}
                {% blocktrans trimmed %}This group did not leave a statement at {{ about_group }}.{% endblocktrans %}
            {% endif %}
        </p>
    </div>
{% endkwacro %}

{% if link %}
    <a class="group-preview" href="{{ group.get_absolute_url }}">
        {% usekwacro preview_body %}
    </a>
{% else %}
    <div class="group-preview">
        {% usekwacro preview_body %}
    </div>
{% endif %}
