{% extends 'content/list.html' %}

{% block meta %}{% include "groups/_meta.html" %}{% endblock %}

{% block meta_feed %}
    <link rel="alternate" type="application/rss+xml" title="{{ group }}" href="{{ feed_url }}">
{% endblock %}

{% block title %}{{ group }} - {{ block.super }}{% endblock %}
{% block menu %}{% menu group %}{% endblock %}

{% block header %}
    <div class="group-header">
        <div class="group-gallery">
            {% include 'groups/detail/_intro_gallery.html' %}
        </div>
        <div class="group-info">
            {% include 'groups/detail/_about.html' %}
        </div>
    </div>
    <div class="content-toolbar">
        <div class="carousel-actions"></div>
        {% include 'groups/detail/_actions.html' with group=group %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'groups/detail/_sidebar.html' %}
{% endblock %}

{% block content_header %}
    {% if not page_obj.has_previous %}
        {% include 'groups/detail/_conversations.html' %}
        {% include 'groups/detail/_intro.html' %}
    {% endif %}
{% endblock %}

{% block heading_toolbar %}
    {% load rules %}
    {% has_perm 'content.group_create' user group as can_create %}
    {% if can_create %}
        {% dropdown 'content-new' '<i class="sg sg-add"></i> Beitrag' %}
            <li><a href="{% url 'create-group-article' group.slug %}"><i class="sg sg-fw sg-article"></i> Artikel schreiben</a></li>
            <li><a href="{% url 'create-group-event' group.slug %}"><i class="sg sg-fw sg-event"></i> Veranstaltung eintragen</a></li>
            <li><a href="{% url 'create-group-gallery' group.slug %}"><i class="sg sg-fw sg-gallery"></i> Bildergalerie anlegen</a></li>
            {% comment %}
            <!-- poll creation deactivated, see #654 -->
            <li><a href="{% url 'create-group-poll' group.slug %}"><i class="sg sg-fw sg-poll"></i> (Termin-)Umfrage beginnen</a></li>
            {% endcomment %}
            <li><a href="{% url 'create-group-file' group.slug %}"><i class="sg sg-fw sg-file"></i> Datei hochladen</a></li>
            {% if about_group %}
                <li><a href="{% url 'content' about_group.slug 'tools' %}#8-werkzeuge-fur-andere-anwendungsfalle"><i class="sg sg-fw sg-tools"></i> Weitere Möglichkeiten</a></li>
            {% endif %}
        {% enddropdown %}
    {% endif %}
{% endblock %}
