{% extends 'stadt/stadt.html' %}
{% load events rules dismissible %}
{% load i18n %}

{% block title %}{% trans 'Groups' %} - {{ GROUPRISE_SITE_NAME }}{% endblock %}
{% block menu %}{% with menu='group' %}{{ block.super }}{% endwith %}{% endblock %}
{% block heading_title %}<h1 class="content-classification">{% trans 'Groups' %}</h1>{% endblock %}

{% block sidebar %}
    {% sidebar_calendar view.get_content component_id='groups-calendar' %}
{% endblock %}

{% block heading_toolbar %}
    {% has_perm 'groups.create_group' user as can_create_group %}
    {% if can_create_group %}
        <a href="{% url 'group-create' %}" class="btn btn-ch">
            <span class="btn-label"><i class="sg sg-add"></i> {% trans 'Group' %}</span>
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% block group_list_order_note %}
        {% dismissible 'group-list-order' %}
            <div class="disclaimer content-block">
                {% dismiss 'group-list-order' %}
                <p>{% trans 'Active groups with a lot of members or subscribes will be show first in a listing.' %}</p>
            </div>
        {% enddismissible %}
    {% endblock %}
    {% block group_search %}
        <form class="form-search" method="get">
            {% field filter.form.name %}
            <button class="btn btn-default">{% trans 'Search for groups' %}</button>
        </form>
    {% endblock %}
    {% block group_list %}
        <ol class="groups"{% block masonry %} data-component="masonry"{% endblock %}>
            {% for group in object_list %}
                {% block group_item %}
                    <li>
                        {% include 'groups/_preview.html' with group=group link=True %}
                    </li>
                {% endblock group_item %}
            {% endfor %}
        </ol>
    {% endblock %}
    {% block group_pagination %}
        {% pagination _('More Groups') %}
    {% endblock %}
{% endblock %}
