Tests: grouprise-uwsgi-nginx
Depends: curl, grouprise, nginx, postgresql, sharness, sqlite3, uwsgi, uwsgi-plugin-python3, uwsgi-plugin-router-access
# enable restrictions, if/when we run autopkgtest with a virtualization backend
#Restrictions: needs-root, breaks-testbed, isolation-container
