<div class="page-footer">
    <div class="page-footer-content">
        <div class="page-footer-text">
            <p>{% markdown about_group.description preset='linkonly' %}</p>
            
            <p>{{ about_group }} basiert auf der Freien Software
            <a href="https://grouprise.org/">grouprise</a>.
            Unterstütze grouprise mit einer
            <a href="https://grouprise.org/#spenden">Spende</a>.
        </div>
        <ul class="nav-footer">
            <li>
                <ul>
                    <li><a href="{% url 'index' %}">Startseite</a></li>
                    <li class="separator"></li>
                    <li><a href="{{ about_group.get_absolute_url }}">Über {{ about_group }}</a></li>
                    {% if about_group %}
                        <li><a href="{% url 'content' about_group.slug 'imprint' %}">Impressum</a></li>
                    {% endif %}
                    <li><a href="{% url 'privacy' %}">Datenschutzhinweise</a></li>
                    <li class="separator"></li>
                    <li><a href="{% url 'abuse' request.path %}">Missbrauch melden</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><a href="{% url 'group-index' %}">Alle Gruppen</a></li>
                    <li class="separator"></li>
                    <li><a href="{% url 'events' %}">Veranstaltungen</a></li>
                    <li><a href="{% url 'articles' %}">Artikel</a></li>
                    <li class="separator"></li>
                    <li><a href="{% url 'gestalten' %}">Öffentliche Gestalten</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{{ user.gestalt|url_for:user }}">Deine Seite</a></li>
                        <li><a href="{% url 'conversations' %}">Deine Gespräche</a></li>
                        <li class="separator"></li>
                        <li><a href="{% url 'settings' %}">Einstellungen</a></li>
                        <li class="separator"></li>
                        <li><a href="{% url 'account_logout' %}?next={{ request.path }}">Abmelden</a></li>
                    {% else %}
                        <li><a href="{% url 'account_login' %}?next={{ request.path }}">Anmelden</a></li>
                        <li class="separator"></li>
                        <li><a href="{% url 'account_signup' %}?next={{ request.path }}">Registrieren</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
    <div class="page-footer-sidebar"></div>
</div>
