<li data-order="high">
    <div class="tabbl">
        <header class="tabbl-header">
            <span class="tabbl-title">
                {{ group }}
            </span>
        </header>
        <div class="tabbl-content">
            <a href="{{ group.get_absolute_url }}">
                Zur Gruppenseite
            </a>

            {% load memberships rules subscriptions %}
            {% has_perm 'memberships.delete_membership' user user.gestalt|membership:group as can_resign %}
            {% has_perm 'subscriptions.delete_subscription' user group as can_unsubscribe %}

            {% if not can_resign and not can_unsubscribe %}
                <a href="{% url 'group-subscribe' group.pk %}">
                    Abonnieren
                </a>
            {% endif %}

            <a href="{% url 'create-group-conversation' group.pk %}">
                Nachricht schreiben
            </a>
        </div>
    </div>
</li>
