{% extends 'content/list.html' %}

{% block content_header %}
    {% if STADTGESTALTEN_SHOW_HEADER %}
        {% load dismissible %}
        {% dismissible 'stadtgestalten-intro' %}
        <header class="content-header">
            {% include 'core/_heading.html' with title='Stadtgestalten' %}
            {% dismiss 'stadtgestalten-intro' %}
        </header>
        <ul class="actions">
            <li>
                <label class="action" for="sg-help-group">
                    <span class="action-inner">
                        <span class="action-icon">
                            <i class="fa fa-users"></i>
                        </span>
                        <span class="action-description">
                            Deine Gruppe jetzt!
                        </span>
                    </span>
                </label>
            </li>
            <li>
                <label class="action" for="sg-help-local">
                    <span class="action-inner">
                        <span class="action-icon">
                            <i class="fa fa-anchor"></i>
                        </span>
                        <span class="action-description">
                            Für Rostock
                        </span>
                    </span>
                </label>
            </li>
            <li>
                <label class="action" for="sg-help-privacy">
                    <span class="action-inner">
                        <span class="action-icon">
                            <i class="fa fa-heart"></i>
                        </span>
                        <span class="action-description">
                            Ohne Schabernack
                        </span>
                    </span>
                </label>
            </li>
            <li>
                <label class="action" for="sg-help-participate">
                    <span class="action-inner">
                        <span class="action-icon">
                            <i class="fa fa-road"></i>
                        </span>
                        <span class="action-description">
                            Du bestimmst!
                        </span>
                    </span>
                </label>
            </li>
        </ul>
        <div class="content-state-enabled">
            <input type="radio" name="sg-help" id="sg-help-group" class="content-state">
            <div class="content-state-target content-info">
                <p>
                    In 0, nix kannst Du bei Stadtgestalten eine Gruppe anlegen, Beiträge schreiben, Diskussionen führen, Veranstaltungen
                    ankündigen und mit anderen Gruppen in Kontakt treten und deren Aktivitäten im Auge behalten.
                </p>
                <p>
                    Willst du erst in den Gruppen <a href="{% url 'group-index' %}">stöbern</a> oder eine
                    <a href="{% url 'group-create' %}">neue anlegen</a>?
                </p>
            </div>
            <input type="radio" name="sg-help" id="sg-help-local" class="content-state">
            <div class="content-state-target content-info">
                <p>
                    Mit dem Fokus auf’s Lokale wollen wir ein wenig Licht in’s Dunkle bringen. Hier wohnen und leben wir und hier
                    wollen wir auch Dinge bewegen.
                </p>
            </div>
            <input type="radio" name="sg-help" id="sg-help-privacy" class="content-state">
            <div class="content-state-target content-info">
                <p>
                    Stadtgestalten ist ein unkommerzielles Projekt, das von Freiwilligen in ihrer Freizeit entwickelt wird.
                    Deine Daten sind uns so wichtig, dass wir sie nach Möglichkeit gar nicht erst speichern. Und wenn doch,
                    dann kannst Du sicher sein, dass wir damit verantwortungsvoll umgehen.
                </p>
                <p>Hier wird nichts verkauft, beworben oder ausgewertet. <strong>Deine Daten gehören Dir!</strong></p>
            </div>
            <input type="radio" name="sg-help" id="sg-help-participate" class="content-state">
            <div class="content-state-target content-info">
                <p>
                    Stadtgestalten ist keine Einbahnstraße. Wir freuen uns über Deine Ideen, Anregungen und Vorschläge.
                    Ohne unsere Mitstreiter_innen sind wir aufgeschmissen. Darum wollen wir mit Euch weiter an Stadtgestalten arbeiten.
                </p>
                <p><a href="{% url 'create-group-conversation' about_group.pk %}">Schreib uns</a>!</p>
            </div>
        </div>
        {% enddismissible %}
    {% endif %}
{% endblock %}
