{% extends 'content/list.html' %}

{% block meta_feed %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ feed_url }}">
{% endblock %}

{% block content_header %}
    {% if STADTGESTALTEN_SHOW_HEADER %}
        {% load dismissible %}
        {% dismissible 'stadtgestalten-intro' %}
            <header class="content-section-header">
                {% include 'core/_heading.html' with title=about_group.name %}
                {% dismiss 'stadtgestalten-intro' %}
            </header>
            {% if intro_text %}
                <p>{{ intro_text }}</p>
            {% endif %}
	    {% include 'stadt/_index_header.html' %}
        {% enddismissible %}
    {% endif %}
{% endblock %}
