{% extends 'stadt/stadt.html' %}

{% block title %}Suche - {{ block.super }}{% endblock %}
{% block heading_title %}
    {% include 'core/_heading.html' with title='Beiträge' icon='sg-search' %}
{% endblock %}

{% block content %}
    <div class="content-list">
        <ol class="content-preview-list">
            {% for result in object_list %}
                <li>
                    {% include 'associations/_preview.html' with association=result.object %}
                </li>
            {% endfor %}
        </ol>
        {% pagination 'Weitere Beiträge' %}
    </div>
{% endblock %}
