{% extends 'stadt/stadt.html' %}

{% block title %}Einstellungen - {{ block.super }}{% endblock %}
{% block menu %}{% menu entity=group %}{% endblock %}
{% block heading_title_text %}Einstellungen{% endblock %}

{% block sidebar %}
    {% if user.is_authenticated %}
        <div class="box box-striped">
            <div class="box-inner">
                <header class="box-header">
                    <h2 class="box-title">
                        <i class="sg sg-gestalt"></i>
                        Gestalt
                    </h2>
                </header>
                <div class="box-content">
                    <ul>
                        <li>
                            <a href="{% url 'settings' %}?group={{ group.slug }}">
                                Allgemein
                            </a> 
                            {% if chapter == 'gestalt' %}
                                <i class="fa fa-arrow-left"></i>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{% url 'image-settings' %}?group={{ group.slug }}">
                                Bilder
                            </a> 
                            {% if chapter == 'gestalt-images' %}
                                <i class="fa fa-arrow-left"></i>
                            {% endif %}
                        </li>
                        <li><a href="#">E-Mail-Adressen</a></li>
                        <li>
                            <a href="{% url 'password-settings' %}?group={{ group.slug }}">
                                Kennwort
                            </a> 
                            {% if chapter == 'gestalt-password' %}
                                <i class="fa fa-arrow-left"></i>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    {% if group %}
        <div class="box box-striped">
            <div class="box-inner">
                <header class="box-header">
                    <h2 class="box-title">
                        <i class="sg sg-group"></i>
                        Gruppe
                    </h2>
                </header>
                <div class="box-content">
                    <ul>
                        {% load rules %}
                        {% has_perm 'groups.change' user group as can_edit_group_settings %}
                        {% if can_edit_group_settings %}
                            <li>
                                <a href="{% url 'group-settings' %}?group={{ group.slug }}">
                                    Allgemein
                                </a> 
                                {% if chapter == 'group' %}
                                    <i class="fa fa-arrow-left"></i>
                                {% endif %}
                            </li>
                            <li>
                                <a href="{% url 'group-image-settings' %}?group={{ group.slug }}">
                                    Bilder
                                </a>
                                {% if chapter == 'group-images' %}
                                    <i class="fa fa-arrow-left"></i>
                                {% endif %}
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'subscriptions-memberships-settings' %}?group={{ group.slug }}">
                                Benachrichtigungen & Mitgliedschaft
                            </a>
                            {% if chapter == 'subscriptions-memberships' %}
                                <i class="fa fa-arrow-left"></i>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
