<section class="section" data-component="poll-editor">
    <h2>Antwortmöglichkeiten</h2>
    {{ form.options.management_form }}
    <script type="text/html" data-formset-example>
        {{ form.options.empty_form }}
    </script>
    {% for form in form.options %}
        {% if form.option_ptr %}{{ form.option_ptr }}{% endif %}
        {% if form.title %}
            {% include 'core/_field.html' with field=form.title %}
        {% else %}
            {% include 'core/_field.html' with field=form.time %}
            {% include 'core/_field.html' with field=form.until_time %}
        {% endif %}
        {% include 'core/_checkbox_field.html' with field=form.DELETE %}
    {% endfor %}
</section>
