{% extends 'content/detail.html' %}

{% load rules %}

{% block menu %}{% menu 'poll' association.entity %}{% endblock %}

{% block content_type %}
    <i class="sg sg-poll"></i>
    <span>Umfrage</span>
{% endblock %}

{% block content_text %}
    {{ block.super }}
    {% has_perm 'polls.vote' user association as can_vote %}

    <div class="form-overflow"
         data-component="poll"
         data-poll-id="{{ object.container.poll.id }}"
         data-poll-type="{{ association.container.poll.vote_type }}"
         data-poll-can-vote="{% if can_vote %}true{% else %}false{% endif %}">
        <noscript>
            <div class="alert alert-danger">
                <p>
                    Es tut uns leid, aber um an Abstimmungen teilzunehmen,
                    musst du in deinem Browser JavaScript aktivieren. Sorry!
                </p>
            </div>
        </noscript>
    </div>
{% endblock %}
