<div class="group-info-main">
    <a href="{% url 'group-image-settings' %}?group={{ group.slug }}" class="avatar-edit-inline">
        {% include 'groups/_avatar.html' with group=group link=False %}
    </a>
    <h1 class="group-title">
        {{ group.name }}
    </h1>
    <dl class="def def-icons">
        <dt>
            <i class="sg sg-question" title="Kurzbeschreibung"></i>
            <span class="sr-only">Kurzbeschreibung</span>
        </dt>
        <dd>
            {% if group.description %}
                {% markdown group.description preset='linkonly' %}
            {% else %}
                Die Gruppe war zu beschäftigt eine Kurzbeschreibung zu hinterlegen.
            {% endif %}
        </dd>
        {% if group.tags.exists %}
            <dt title="Schlagworte">
                <i class="sg sg-tags"></i>
                <span class="sr-only">Schlagworte</span>
            </dt>
            <dd>
                {% for tag in group.tags.all %}
                    <a href="{% url 'tag' tag.tag.slug %}">#{{ tag.tag }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </dd>
        {% endif %}
        {% if group.address %}
            <dt>
                <i class="sg sg-address" title="Anschrift"></i>
                <span class="sr-only">Anschrift</span>
            </dt>
            <dd>
                <address>
                    {{ group.address|linebreaks }}
                </address>
            </dd>
        {% endif %}
        {% if group.url %}
            <dt>
                <i class="sg sg-url" title="Website"></i>
                <span class="sr-only">Website</span>
            </dt>
            <dd>
                <a href="{{ group.url }}">{{ group.url|cut:'http://'|cut:'https://'|cuttrailing:'/' }}</a>
            </dd>
        {% endif %}
        <dt>
            <i class="sg sg-foundation"></i>
            <span class="sr-only">Gründung</span>
        </dt>
        <dd>
            {{ group.date_founded|date:'Y' }} gegründet
        </dd>

        {% load rules %}
        {% has_perm 'memberships.create_membership' user group as can_create %}
        {% has_perm 'memberships.view_list' user group as can_list %}
        {% has_perm 'sharing.invite_member' user group as can_invite %}
        {% has_perm 'memberships.try_to_join' user group as can_join %}

        <dt>
            <i class="sg sg-members"></i>
            <span class="sr-only">Anzahl Mitglieder</span>
        </dt>
        <dd>
            {% if can_list %}
                <a href="{% url 'members' group.pk %}">
            {% endif %}
            {% with num_members=group.memberships.count %}
                {{ num_members }} Mitglied{{ num_members|pluralize:"er" }}
            {% endwith %}
            {% if can_list %}</a>{% endif %}
            {% if can_join %}
            &middot; <a href="{% url 'join' group.slug %}">Beitreten</a>
            {% elif can_invite %}
            &middot; <a href="{% url 'member-invite' group.pk %}">Einladen</a>
            {% elif can_create %}
            &middot; <a href="{% url 'member-create' group.pk %}">Aufnehmen</a>
            {% else %}
            &middot; <a href="{% url 'recommend-group' group.slug %}">Weiterempfehlen</a>
            {% endif %}
        </dd>

        {% if group.closed %}
            <dt>
                <i class="sg sg-closed"></i>
                <span class="sr-only">Geschlossene Gruppe</span>
            </dt>
            <dd>
                Geschlossene Gruppe{% if not can_list %}:
                <span title="Im Verlauf des Gesprächs kannst Du die Mitgliedschaft beantragen.">
                    <a href="{% url 'create-group-conversation' group.pk %}">Gespräch beginnen</a> 
                    um Mitgliedschaft zu beantragen{% endif %}
                </span>
            </dd>
        {% endif %}

        <dt>
            <i class="sg sg-subscription"></i>
        </dt>
        <dd>
            {% with num_subscribers=group.subscriptions.count %}
                {{ num_subscribers }} Abonnentin{{ num_subscribers|pluralize:'nen' }}
            {% endwith %}
            &middot;
            {% load rules %}
            {% has_perm 'subscriptions.create' user group as can_subscribe %}
            {% if can_subscribe %}
                {% if user.is_authenticated %}
                    <form action="{% url 'group-subscribe' group.slug %}" method="post" class="form-inline-text">
                        {% csrf_token %}
                        <button class="btn btn-text"
                                title="Bei neuen Beiträgen benachrichtigt werden">
                            Abonnieren
                        </button>
                    </form>
                {% else %}
                    <a href="{% url 'group-subscribe' group.slug %}"
                       title="Bei neuen Beiträgen benachrichtigt werden">
                        Abonnieren
                    </a>
                {% endif %}
            {% else %}
                <a href="{% url 'recommend-group' group.slug %}">Weiterempfehlen</a>
            {% endif %}
        </dd>
    </dl>
</div>

<div class="group-info-slug">
    <dl class="def def-icons">
        <dt>
            <i class="sg sg-link"></i>
            <span class="sr-only">URL auf {{ about_group }}</span>
        </dt>
        <dd class="selectable">
            {{ site.domain }}/<span class="selectable-token">{{ group.slug }}</span>
            <button type="button" class="btn-text hide-no-js" data-component="clipboard"
                    data-clipboard-text="{{ group.get_absolute_url|full_url }}"
                    title="URL zu dieser Gruppe kopieren">
                <i class="sg sg-copy"></i>
            </button>
        </dd>
    </dl>
</div>
