{% load i18n %}

<div class="group-actions">
    <div class="btn-toolbar">
        {# CONVERSATION #}
        {% load rules %}
        {% has_perm 'conversations.list_group' user group as can_list_group_conversations %}
        {% if not can_list_group_conversations %}
            <div class="btn-group">
                    <a href="{% url 'create-group-conversation' group.pk %}" class="btn btn-default btn-sm" title="{% translate 'Start a conversation with all group members' %}">
                    <i class="sg sg-message"></i> {% translate 'Send a message' %}
                </a>
            </div>
        {% endif %}

        {# MEMBERSHIP #}
        {% load rules %}
        {% has_perm 'memberships.try_to_join' user group as can_join %}
        {% has_perm 'conversations.create_group_conversation_with_membership_application' user group as can_apply %}
        {% if can_join %}
                <a href="{% url 'join' group.slug %}" class="btn btn-default btn-sm" title="{% translate 'Join this group' %}">
                <i class="sg sg-join"></i> {% translate "Join" %}
            </a>
        {% elif can_apply %}
                <a href="{% url 'create-group-conversation' group.pk %}?apply_for_membership=1" class="btn btn-default btn-sm" title="{% translate 'Request for membership' %}">
                <i class="sg sg-join"></i> {% translate 'Request for membership' %}
            </a>
        {% endif %}

        {# SUBSCRIPTION #}
        {% load rules %}
        {% has_perm 'subscriptions.create' user group as can_subscribe %}
        {% if can_subscribe %}
            {% if user.is_authenticated %}
                <form action="{% url 'group-subscribe' group.slug %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm" title="{% translate 'Notification about new contributions' %}">
                         <i class="sg sg-subscription"></i> {% translate 'Subscribe' %}
                    </button>
                </form>
            {% else %}
                <a href="{% url 'group-subscribe' group.slug %}" class="btn btn-primary btn-sm" title="{% translate 'Notification about new contributions' %}">
                <i class="sg sg-subscription"></i> {% translate 'Subscribe' %}
                </a>
            {% endif %}
        {% endif %}

    </div>
</div>
