{% extends 'stadt.html' %}


{% block head_title %}{{ content.title }} - {{ block.super }}{% endblock %}
{% block title %}{% endblock %}


{% block subcontent %}
<h2>Beitrag</h2>
<p>{{ content.get_display_type_name }}</p>
{% block maincontent %}{% endblock %}
<div style="background-color: #eee; height: 150px;">
    (creative commons)
</div>
{% block footcontent %}{% endblock %}
{% endblock %}


{% block sidecontent %}
<div style="background-color: #eee; margin-bottom: 25px; padding: 20px;">
    <h2>Selbstauskunft</h2>
    <div style="background-color: #fff;">
        <a href="{% url 'gestalt' content.author.user.username %}"><img src="{{ content.author.avatar.url }}" title="{{ content.author }}" class="pull-left"></a>
        <a href="{% url 'gestalt' content.author.user.username %}"><h3>{{ content.author }}</h3></a>
        <p>{{ content.author.about }}</p>
    </div>
</div>

<div style="background-color: #eee; margin-bottom: 25px; padding: 20px;">
    <h2>Teilen</h2>
    <input type="text" class="form-control" placeholder="Gestalt / E-Mail-Adresse">
    <button class="btn btn-default">Beitrag empfehlen</button>
    <p>(Facebook, Twitter, Google+)</p>
</div>
{% endblock %}
