{% extends 'stadt.html' %}


{% block head_title %}{% block content_head_title %}{{ content.title }}{% endblock %} - {{ block.super }}{% endblock %}
{% block title %}{% endblock %}


{% block subcontent %}
<h2>Beitrag</h2>
<p>{{ content.get_display_type_name }}</p>
{% block maincontent %}{% endblock %}
<div style="background-color: #eee; height: 150px;">
    (creative commons)
</div>
{% block footcontent %}{% endblock %}
{% endblock %}


{% block default_sidebar %}
{% include '_content_sidebar.html' %}
{% endblock %}
