{% extends 'content/_preview.html' %}

{% block content_meta %}{% include 'galleries/_info.html' %}{% endblock %}

{% block content_type %}
    <i class="sg sg-content-type-gallery"></i>
    <span>{% if not association.public %}Interne {% endif %}Galerie</span>
{% endblock %}

{% block content_preview_image %}
    {% with image=association.container.image|default_if_none:association.container.gallery_images.first.image %}
        <div class="content-image">
            <img src="{{ image.preview.url }}" alt="">
        </div>
    {% endwith %}
{% endblock %}
