{% extends 'content/create.html' %}

{% block menu %}{% menu 'gallery' view.entity %}{% endblock %}

{% block form_text %}
    <div class="gallery-container" data-component="gallery">
        {#<input type="hidden" name="content_id" value="{{ content.id }}" />#}
        <header class="gallery-header">
            <div class="content-user gallery-header-description {% if association.container.versions.last.text|length > 250 %}gallery-header-description-large{% endif %}" data-component="user-content">
                {% include 'core/_field.html' with field=form.text %}
            </div>
            <div class="btn-toolbar gallery-header-actions">
                <a href="{% url 'image-create' view.entity.pk %}" class="btn btn-default btn-sm" data-purpose="gallery-add">Bild hinzufügen</a>
            </div>
        </header>

        {% comment %}
        <ul class="gallery" data-component="masonry">
            {% for image in association.container.gallery_images.all %}
                {% thumbnail image.image.file '250' format='PNG' as thumb %}
                    <li>
                        <a href="{{ image.image.file.url }}" class="gallery-link" data-size="{{ image.image.file.width }}x{{ image.image.file.height }}">
                            <img src="{{ thumb.url }}" class="gallery-image-preview">
                        </a>
                    </li>
                {% endthumbnail %}
            {% endfor %}
        </ul>
        {% endcomment %}
    </div>
{% endblock %}
