{% extends 'content/detail.html' %}

{% load rules thumbnail %}

{% block menu %}{% menu 'gallery' association.entity %}{% endblock %}

{% block content_type %}
    <i class="sg sg-content-type-gallery"></i>
    <span>{% if not association.public %}Interne {% endif %}Galerie</span>
{% endblock %}

{% block content_meta %}{% include 'galleries/_info.html' %}{% endblock %}

{% block content_text %}
    <div class="gallery-container" data-component="gallery">
        <header class="gallery-header">
            <div class="content-user gallery-header-description {% if association.container.versions.last.text|length > 250 %}gallery-header-description-large{% endif %}" data-component="user-content">
                {% markdown association.container.versions.last.text heading_baselevel=2 %}
            </div>
        </header>

        <ul class="gallery" data-component="masonry">
            {% for image in association.container.gallery_images.all %}
                {% thumbnail image.image.file '250' format='PNG' as thumb %}
                    <li>
                        <a href="{{ image.image.file.url }}" class="gallery-link" data-size="{{ image.image.file.width }}x{{ image.image.file.height }}">
                            <img src="{{ thumb.url }}" class="gallery-image-preview">
                        </a>
                    </li>
                {% endthumbnail %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
