<input class="dropdown-state" id="menu-group-current" type="checkbox" data-menu-group="main">
<label for="menu-group-current" class="nav-menu-item nav-state-toggle"
       aria-label="Zeige Menü für {{ group.name }}" tabindex="0"
       data-component="openable" data-openable-target="#menu-group-current-dropdown">
    <span class="nav-tab-icon">
        {% include 'groups/_avatar.html' with size=24 %}
    </span>
    {% include 'groups/_avatar.html' with size=48 %}
    <span class="nav-menu-item-label">{{ group }}</span>
    <i class="caret"></i>
</label>

<div class="dock dock-light" id="menu-group-current-dropdown" data-dropdown data-component="dock">
    <div class="dock-inner">
        <span class="dock-decoration"></span>
        <header class="dock-header">
            <div>
                <h3>{{ group }}</h3>
                <p class="dock-meta">
                    <span class="content-nobreak">
                        {{ group.date_founded|date:'Y' }} gegründet ·
                        {% with num_members=group.memberships.count %}
                            {{ num_members }} Mitglied{{ num_members|pluralize:"er" }}
                        {% endwith %}
                    </span>
                    {% for tag in group.tags.all %}
                        <a href="{% url 'tag' tag.tag.slug %}">#{{ tag.tag }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </p>
            </div>
            <a href="{{ group.get_absolute_url }}" class="dock-header-link">
                <i class="sg sg-home"></i>
                <span>Home</span>
            </a>
        </header>
        <div class="dock-content">
            <div class="dock-content-inner">
                <ol class="nav-vertical">
                    {# SUBSCRIPTION #}
                    {% load rules %}
                    {% has_perm 'subscriptions.create' user group as can_subscribe %}
                    {% if can_subscribe %}
                        <li>
                            {% if user.is_authenticated %}
                                <form action="{% url 'group-subscribe' group.pk %}"
                                      method="post" class="nav-menu-item">
                                    {% csrf_token %}
                                    <button>
                                        <i class="sg sg-fw sg-subscription"></i>
                                        <span class="nav-menu-item-label">Abonnieren</span>
                                    </button>
                                </form>
                            {% else %}
                                <a href="{% url 'group-subscribe' group.pk %}"
                                   class="nav-menu-item">
                                    <i class="sg sg-fw sg-subscription"></i>
                                    <span class="nav-menu-item-label">Abonnieren</span>
                                </a>
                            {% endif %}
                        </li>
                    {% endif %}

                    {# CONVERSATION #}
                    <li>
                        <a href="{% url 'create-group-conversation' group.pk %}"
                           class="nav-menu-item">
                            <i class="sg sg-fw sg-message"></i>
                            <span class="nav-menu-item-label">Nachricht schreiben</span>
                        </a>
                    </li>
                    
                    {# MEMBERSHIP #}
                    {% load rules %}
                    {% has_perm 'memberships.try_to_join' user group as can_join %}
                    {% has_perm 'sharing.invite_member' user group as can_invite %}
                    {% has_perm 'memberships.create_membership' user group as can_create_membership %}
                    {% if can_join %}
                        <li>
                            <a href="{% url 'join' group.pk %}" class="nav-menu-item">
                                <i class="sg sg-fw sg-join"></i>
                                <span class="nav-menu-item-label">Beitreten</span>
                            </a>
                        </li>
                    {% elif can_invite %}
                        <li>
                            <a href="{% url 'member-invite' group.pk %}" class="nav-menu-item">
                                <i class="sg sg-fw sg-members-add"></i>
                                <span class="nav-menu-item-label">Mitglied einladen</span>
                            </a>
                        </li>
                    {% elif can_create_membership %}
                        <li>
                            <a href="{% url 'member-create' group.pk %}" class="nav-menu-item">
                                <i class="sg sg-fw sg-members-add"></i>
                                <span class="nav-menu-item-label">Mitglied aufnehmen</span>
                            </a>
                    {% endif %}
                    
                    {# SETTINGS #}
                    <li>
                        {% load rules %}
                        {% has_perm 'groups.change' user group as can_change_group %}
                        {% if can_change_group %}
                            {% url 'group-settings' as settings_url %}
                        {% else %}
                            {% url 'membership-subscription-settings' as settings_url %}
                        {% endif %}
                        <a href="{{ settings_url }}?group={{ group.slug }}"
                           class="nav-menu-item">
                            <i class="sg sg-fw sg-settings"></i>
                            <span class="nav-menu-item-label">Einstellungen</span>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
