{% extends 'content/list.html' %}

{% block meta %}{% include "groups/_meta.html" %}{% endblock %}

{% block meta_feed %}
    <link rel="alternate" type="application/rss+xml" title="{{ group }}"
        href="{% url 'group-feed' group.pk %}">
{% endblock %}

{% block header %}
    {% include 'groups/detail/_header.html' %}
{% endblock %}

{% block sidebar %}
    {% include 'groups/detail/_sidebar.html' %}
{% endblock %}

{% block content_header %}
    {% include 'groups/detail/_conversations.html' %}
    {% include 'groups/detail/_intro.html' %}
{% endblock %}

{% block heading_toolbar %}
    {% load rules %}
    {% has_perm 'content.group_create' user group as can_create %}
    {% if can_create %}
        {% dropdown 'content-new' 'Neuer Beitrag' %}
            <li><a href="{% url 'create-group-article' group.slug %}">Artikel</a></li>
            <li><a href="{% url 'create-group-event' group.slug %}">Veranstaltung</a></li>
            <li><a href="{% url 'create-group-gallery' group.slug %}">Galerie</a></li>
            <li><a href="{% url 'create-group-file' group.slug %}">Datei</a></li>
        {% enddropdown %}
    {% endif %}
{% endblock %}
