{% extends 'content/list.html' %}

{% block meta %}{% include "groups/_meta.html" %}{% endblock %}

{% block meta_feed %}
    <link rel="alternate" type="application/rss+xml" title="{{ group }}"
        href="{% url 'group-feed' group.pk %}">
{% endblock %}

{% block header %}
    {% include 'groups/detail/_header.html' %}
{% endblock %}

{% block sidebar %}
    {% include 'groups/detail/_sidebar.html' %}
{% endblock %}

{% block content_header %}
    {% include 'groups/detail/_conversations.html' %}
    {% include 'groups/detail/_intro.html' %}
{% endblock %}

{% block heading_toolbar %}
    {% load rules %}
    {% has_perm 'content.group_create' user group as can_create %}
    {% if can_create %}
        {% dropdown 'content-new' '<i class="sg sg-add"></i> Beitrag' %}
            <li><a href="{% url 'create-group-article' group.slug %}"><i class="sg sg-fw sg-article"></i> Artikel</a></li>
            <li><a href="{% url 'create-group-event' group.slug %}"><i class="sg sg-fw sg-event"></i> Veranstaltung</a></li>
            <li><a href="{% url 'create-group-gallery' group.slug %}"><i class="sg sg-fw sg-gallery"></i> Galerie</a></li>
            <li><a href="{% url 'create-group-poll' group.slug %}"><i class="sg sg-fw sg-poll"></i> Umfrage</a></li>
            <li><a href="{% url 'create-group-file' group.slug %}"><i class="sg sg-fw sg-file"></i> Datei</a></li>
        {% enddropdown %}
    {% endif %}
{% endblock %}
