{% extends 'stadt/stadt.html' %}
{% load crispy_forms_tags events rules dismissible %}

{% block title %}Gruppen - {{ site.name }}{% endblock %}
{% block menu %}{% with menu='group' %}{{ block.super }}{% endwith %}{% endblock %}
{% block heading_title %}<h1 class="content-classification">Gruppen</h1>{% endblock %}

{% block sidebar %}
    {% sidebar_calendar user %}
{% endblock %}

{% block heading_toolbar %}
    {% has_perm 'groups.create_group' user as can_create_group %}
    {% if can_create_group %}
        <a href="{% url 'group-create' %}" class="btn btn-primary btn-ch">
            <span class="btn-label">Neue Gruppe</span>
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% dismissible 'group-list-order' %}
        <div class="disclaimer content-block">
            {% dismiss 'group-list-order' %}
            <p>Aktive Gruppen mit vielen Mitgliedern oder Abonnentinnen werden in Auflistungen zuerst angezeigt.</p>
        </div>
    {% enddismissible %}
    {% crispy filter.form %}
    <ol class="groups" data-component="masonry">
        {% for group in object_list %}
            <li>
                {% include 'groups/_preview.html' with group=group link=True %}
            </li>
        {% endfor %}
    </ol>
    {% pagination 'Weitere Gruppen' %}
{% endblock %}
