{% extends 'stadt/list.html' %}
{% load crispy_forms_tags rules %}

{% block heading_toolbar %}
    {% has_perm 'groups.create_group' user as can_create_group %}
    {% if can_create_group %}
        <a href="{% url 'group-create' %}" class="btn btn-default pull-right">Neue Gruppe</a>
    {% endif %}
{% endblock %}

{% block list %}
    <ol class="groups">
        {% for group in object_list %}
            <li>
                {% include 'entities/_group_preview.html' with group=group link=True %}
            </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block list_header %}
    <div class="disclaimer content-block">
        <p>Aktive Gruppen mit vielen Mitgliedern oder Abonnentinnen werden in Auflistungen zuerst angezeigt.</p>
    </div>
    {% crispy filter.form %}
{% endblock %}
