{% extends 'stadt/settings.html' %}

{% block sidebar %}
    {% with chapter='group' %}{{ block.super }}{% endwith %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <div class="section section-group">
            <h2>Angaben zur Gruppe</h2>
            <div class="row">
                <div class="col-md-6">
                    {% field form.name %}
                    {% field form.tags %}
                </div>
                <div class="col-md-6">
                    {% field form.description %}
                </div>
            </div>
        </div>

        <div class="section section-group">
            <h2>Zusätzliche Angaben</h2>
            <div class="row">
                <div class="col-md-6">
                    {% field form.address %}
                </div>
                <div class="col-md-6">
                    {% field form.date_founded %}
                </div>
            </div>
            {% field form.url %}
            {% field_checkbox form.url_import_feed %}
        </div>

        <div class="section section-group">
            <h2>Einstellungen</h2>
            <div class="row">
                <div class="col-md-6">
                    {% field form.slug prefix=form.slug_domain %}
                </div>
                <div class="col-md-6">
                    {% field_checkbox form.closed %}
                </div>
            </div>
        </div>

        <button class="btn btn-primary">Einstellungen speichern</button>
    </form>
{% endblock %}
