.avatar-size(@size) {
    width: @size;
    height: @size;
    max-width: @size;
    max-height: @size;
    min-width: @size;
    min-height: @size;
    font-size: (@size / 2);

    &.avatar-initials {
        &[data-initials="3"] {
            font-size: (@size / 3);
        }

        &[data-initials="4"] {
            font-size: (@size / 4);
        }
    }
}

.avatar {
    &:extend(.avatar-size-64x64);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    color: white;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
    font-weight: 300;
    line-height: 1;

    img {
        display: block;
    }
}

.avatar-initials {
    background-color: @brand-primary;
}

.avatar-wrap {
    text-decoration: none;
}

.avatar-more {
    background-color: rgba(0, 0, 0, .1);
    color: @color-text-default;
    text-align: center;
    position: relative;

    &:before {
        content: "...";
        line-height: 1;
        vertical-align: text-top;
        position: absolute;
        top: 40%;
        left: 0; right: 0;
        transform: translateY(-50%);
        font-weight: bold;
    }
}

.avatar,
.avatar-size-64x64 {
    .avatar-size(64px);
}

.avatar-size-48-48 {
    .avatar-size(48px);
}

.avatar-size-32-32 {
    .avatar-size(32px);
}

.avatars {
    margin: -.3rem;
    padding: 0;
    font-size: 0;

    > li {
        display: inline-block;
        vertical-align: top;
        margin: .3rem;
    }

    a {
        text-decoration: none;
    }
}
