.box {
    padding-top: .6rem;
    margin-bottom: 2rem;
}

.box-striped {
    &:extend(.decoration-striped);
}

.box-title {
    font-weight: 300;
    position: relative;
    color: @color-text-light;
    margin-top: 0;
}

.box-content {
    background-color: white;
    padding: 0.6em 0.8em;

    h3 {
        margin-top: 0;
    }
}

.box-inner {
    background-color: rgba(255, 255, 255, 0.8);
    padding: .4rem .8rem 1rem;
}
