.btn {
    display: inline-block;
    padding: 0.75em 1em;
    border: none;
    border-radius: 2px;
    min-width: 3.5rem;
    text-align: center;
    text-decoration: none;
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
    transition: color .1s, background-color .2s, transform .2s;
    vertical-align: middle;
    font-weight: 500;
    margin: 0;
    font-family: @font-family-default;
    user-select: none;
    touch-action: manipulation;

    + & {
        margin-left: 1em;
    }

    &:hover,
    &:focus,
    &:active {
        z-index: 100;
    }

    i {
        margin-right: .25em;
    }
}

.btn-nospace {
    margin: 0 !important;
    padding: 0 !important;
}

.btn-novspace {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.btn-backdrop {
    color: white;
    transform-origin: 50% 50%;
    padding: 0;
    min-width: 0;
    transition: transform .2s;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
        transform: scale(1.1);
    }
}

.btn-ts {
    overflow: visible;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.btn-default {
    background-color: #eaeaea;
    color: @color-text-default;

    &:hover,
    &:focus {
        background-color: #ddd;

        &.btn-addon-ok:after {
            background-color: @brand-primary;
        }
    }

    &.btn-addon-ok:after {
        background-color: @color-text-default;
        color: white;
    }
}

.btn-danger {
    &:extend(.btn-default all);

    &,
    &:hover,
    &:focus {
        color: @brand-danger;
    }
}

.btn-icon {
    &:extend(.btn-default all);

    width: 2.2rem;
    padding-left: 0;
    padding-right: 0;
    min-width: 0;

    &,
    &:hover,
    &:focus {
        background-color: transparent;
    }

    i {
        font-size: 1.1rem;
    }
}

.btn-text {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: @brand-primary;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

.btn-text-light {
    color: white;
}

.btn-link {
    background-color: transparent;
    color: @brand-primary;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-lg {
    font-size: @font-size-large;
}

.btn-sm {
    font-size: @font-size-small;
    padding: 0.5em 0.75em;
}

.btn-primary {
    background: @brand-primary;
    color: white;

    &:hover,
    &:active,
    &:focus {
        background: lighten(@brand-primary, 10%);
    }

    &.btn-addon-ok:after {
        background-color: rgba(0, 0, 0, .2);
        color: white;
    }
}

.btn-dialog {
    background-color: @gray-lightest;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    p {
        margin: 0;

        + p {
            margin-top: 1rem;
        }
    }

    .btn {
        flex: 1 0 auto;
        margin-left: 1rem;
    }
}

.btn-toolbar {
    display: flex;
    align-items: center;

    &:empty {
        display: none;
    }

    > * + *:not(.btn-link) {
        margin-left: .75em;
    }

    h3 {
        margin: 0;
    }
}

.btn-toolbar-spread {
    justify-content: space-between;
}

.btn-toolbar-fixed {
    position: absolute;
    padding: 0.625rem 1rem;
    left: 0;
    right: 0;

    &.btn-toolbar-bottom {
        bottom: 0;
    }
}

.btn-toolbar-right {
    justify-content: flex-end;
}

.btn-toolbar-centered {
    justify-content: center;
}

.btn-group {
    display: flex;
    position: relative;

    .btn {
        margin: 0;
        border-radius: 0;
    }

    > :first-child ~ * {
        margin-left: -2px;
    }

    > :first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    > :last-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

.btn-more {
    .sg-dots();

    &:after {
        .sg();
        transform: translateY(1px);
    }
}

.btn-addon-ok {
    padding-right: 3.25em;

    &:after {
        .fa-icon();
        content: @fa-var-check;
        width: 2.5em;
        text-align: center;
        position: absolute;
        top: 0; bottom: 0; right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-indent: 2px;
        transition: background-color .2s, color .1s;
    }
}

.btn-progress {
    padding-left: 2rem;

    &:before {
        content: " ";
        width: 1rem;
        height: 1rem;
        position: absolute;
        display: inline-block;
        border: 2px solid;
        top: 50%;
        margin-left: -1.5rem;
        transform: translateY(-50%);
        border-radius: 50%;
        transform-origin: 50% 50%;
        animation: btn-progress .75s linear infinite;
    }

    &.btn-primary:before {
        border-color: white;
        border-left-color: #2a62ac;
    }
}

@keyframes btn-progress {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateY(-50%) rotate(359deg);
    }
}

.btn-ch {
    @color: @brand-secondary;

    width: 200px;
    height: 3rem;
    border-radius: 0;
    position: relative;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    color: white;
    background: url(../img/button/triangle.svg) repeat 0 -96px transparent;
    right: -.5rem;

    &:hover {
        text-decoration: underline;
    }

    .btn-label {
        transform: translateX(14.4px);
    }
}

.btn-label {
    position: relative;
    z-index: 10;
}

.btn-close {
    background: none;
    padding: 0;
    min-width: 0;
    float: right;
    position: relative;
    top: -2px;
    color: rgba(0, 0, 0, .3);
    margin-left: 1em;

    .content-header & {
        width: 2em;
        height: 2em;
        border-radius: 2px;
        background: white;
        top: 0;
    }
}
