.btn {
    display: inline-block;
    padding: 0.35em 0.7em;
    border: 2px solid transparent;
    border-radius: 2px;
    min-width: 3.5rem;
    text-align: center;
    text-decoration: none;
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
    transition-property: color, background-color, border-color, transform;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;

    + & {
        margin-left: 1em;
    }

    &:after {
        content: " ";
        position: absolute;
        pointer-events: none;
        z-index: -1;
        transform: translateY(100%);
        left: -2px;
        right: -2px;
        top: 0;
        bottom: 0;
        transition: transform .2s ease-in-out;
    }
}

.btn-default {
    border-color: @color-brand-primary;
    color: @color-brand-primary;
    background-color: white;

    &:after {
        background-color: @color-brand-primary;
    }

    &:hover,
    &:focus {
        color: white;

        &:after {
            transform: translateY(0);
        }
    }
}

.btn-primary {
    border-color: @color-brand-primary;
    background-color: @color-brand-primary;
    color: white;
}

.btn-back {
    padding: 0.5em 1.25em;
    position: absolute;
    left: 0;
}

.btn-toolbar {
    display: flex;

    &:empty {
        display: none;
    }
}

.btn-toolbar-centered {
    justify-content: center;
}
