.btn {
    display: inline-block;
    padding: 0.35em 0.7em;
    border: 2px solid transparent;
    border-radius: 2px;
    min-width: 3.5rem;
    text-align: center;
    text-decoration: none;
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
    transition: color .1s, background-color .2s, border-color .2s, transform .2s;
    vertical-align: middle;
    font-weight: 500;
    margin: 0;

    + & {
        margin-left: 1em;
    }
}

.btn-default {
    border-color: @color-text-default;
    color: @color-text-default;
    background-color: white;

    &:hover,
    &:focus {
        //background-color: @gray-light;
        border-color: @brand-primary;
        color: @brand-primary;
    }
}

.btn-link {
    font-size: 0.85em;
    text-transform: uppercase;
    letter-spacing: .03em;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

.btn-header {
    //background-color: @color-bra;
}

.btn-primary {
    border-color: @brand-primary;
    background-color: @brand-primary;
    color: white;
}

.btn-back {
    //background-color: @gray-light;
    //align-self: stretch;
    //border-radius: 0;
    //display: flex;
    //justify-content: center;
    //align-items: center;
}

.btn-toolbar {
    display: flex;

    &:empty {
        display: none;
    }

    > * + *:not(.btn-link) {
        margin-left: .7em;
    }
}

.btn-toolbar-right {
    justify-content: flex-end;
}

.btn-toolbar-centered {
    justify-content: center;
}
