.carousel {
    overflow: hidden;
}

.carousel-slides {
    margin: 0;
    padding: 0;
    display: flex;

    > li {
        display: block;
        min-width: 100%;
        background-color: #f0f0f0;

        img {
            display: block;
            object-fit: cover;
            margin: 0 auto;
        }
    }
}
