.content {

}

.content-body {
    p, ol, ul, dl, blockquote, figure {
        max-width: 42rem;
    }
}

.content-classification {
    display: block;
    font-size: 3.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    line-height: 1;
    margin: 0;
    font-family: @font-family-headline;
}

.content-spacer {
    height: 3.75rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.content-header {
    &:extend(.decoration-striped);
    &:extend(.content-spacer all);
    justify-content: space-between;
    padding: 0.2rem 0.4rem;

    &:not(:first-child) {
        margin-top: 2rem;
    }
}

.content-title {
    color: @brand-primary;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 1rem 0 0;
    line-height: 1.3;

    .content-preview & {
        margin: 0 0 .75rem;
    }
}

.content-type {
    font-weight: 300;
    color: @color-text-extralight;
    font-size: 1.1rem;
    font-family: @font-family-headline;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    float: right;

    .sg {
        margin-right: .2em;
    }
}

.content-preview-list {
    margin: 0;
    padding: 0;

    > li {
        display: block;
    }
}

.content-preview {
    padding: 1rem 0 0;
    margin-bottom: 4rem;
    page-break-inside: avoid;
    border-top: 2px solid #f2f2f2;

    a {
        text-decoration: none;
    }

    .content-title {
        color: @color-text-default;
        text-decoration: none;
        margin-top: .5rem;
    }

    li:first-child > & {
        border-top: none;
        padding-top: 0;
    }
}

.content-meta {
    display: flex;
    align-items: center;
    margin: 0 0 1rem;
}

.content-meta-info {
    margin-left: .75rem;
}

.content-meta-author {
    font-weight: 500;

    a {
        color: @color-text-default;
        text-decoration: none;
    }
}

.content-meta-extra {
    color: @color-text-extralight;
    font-size: @font-size-small;
}

.content-preview-body {
    padding: 1rem;
    background-color: #f2f2f2;
    display: block;
    border-radius: 2px;

    .content-title {
        margin-top: 0;
    }
}

.content-preview-body-content {
    display: flex;
}

.content-image {
    margin: 0 1rem 0 0;
    min-width: 200px;

    img {
        display: block;
    }
}

.content-preview-text {
    color: @color-text-default;

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.read-more {
    color: @brand-primary;
    text-decoration: underline;
}

.content-footer {
    h2 {
        font-size: 1.3rem;
        color: @brand-primary;
    }
}

.content-list-preview {
    margin: 0;
    padding: 0;

    > li {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%
    }
}

.content-toolbar {
    margin: 1rem 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > :only-child {
        align-self: flex-end;
    }
}

.content-data + .content-teaser {
    position: relative;
    top: -.75rem;
}
