.content {

}

.content-classification {
    &:extend(.decoration-striped);
    display: block;
    font-weight: bold;
    font-size: 3.5rem;
    color: white;
    padding: 0.2rem 0.4rem;
    line-height: 1;
    text-transform: uppercase;
}

.content-title {
    color: @color-brand-primary;
    font-size: 1.5rem;
    font-weight: normal;
}
