.def {

}

.def-icons {
    padding: 0;
    margin: 0;

    dt, dd {
        display: block;
        float: left;
        padding: .2em 0;
        margin: 0;
    }

    dt {
        width: 2rem;
        clear: left;
    }

    &:after {
        content: " ";
        display: block;
        clear: both;
    }
}
