.gallery-header {
    padding: @padding-small-vertical 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.5rem;
}

.gallery-header-description {
    font-size: @font-size-small;

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.gallery-header-actions {
    float: right;
}

.gallery {
    margin: -@padding-small-horizontal -@padding-small-horizontal @padding-small-horizontal -@padding-small-horizontal;
    padding: 0;

    display: flex;
    flex-wrap: wrap;

    > li {
        display: block;
        margin: @padding-small-horizontal;
    }
}

.gallery-image-preview {
    display: block;
}
