.gallery-header {
    padding: 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.5rem;
    background-color: #f2f2f2;

    .on-handhelds({
        flex-direction: column;
    });
}

.gallery-header-description {
    color: rgba(0, 0, 0, .5);
    flex: 1;

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.gallery-header-actions {
    margin-left: 1rem;

    .btn {
        white-space: nowrap;
    }

    .gallery-header-description-large + & {
        align-self: flex-end;
    }
}

.gallery {
    &:extend(.entity-list all);
    &:extend(.entity-list-3 all);

    a {
        display: block;
    }

    img {
        max-width: none;
        width: 100%;
        display: block;
    }
}

.gallery-image-preview {
    display: block;
}
