.sg {
    .fa();
}

.sg-2x {
    .fa-2x();
}

.sg-fw {
    .fa-fw();
}

.sg-active {
    color: @brand-primary;
}

.sg-camera {
    &:after {
        content: @fa-var-camera;
    }
}

.sg-address {
    &:after {
        content: @fa-var-map-marker;
    }
}

.sg-author {
    &:after {
        content: @fa-var-user;
    }
}

.sg-back {
    &:after {
        content: @fa-var-chevron-left@fa-var-chevron-left;
    }
}

.sg-calendar {
    &:after {
        content: @fa-var-calendar;
    }
}

.sg-closed {
    &:after {
        content: @fa-var-user-secret;
    }
}

.sg-comments {
    &:after {
        content: @fa-var-comments-o;
    }
}

.sg-content-type-article {
    &:after {
        content: @fa-var-file-text-o;
    }
}

.sg-content-type-event {
    &:after {
        content: @fa-var-calendar-o;
    }
}

.sg-content-type-gallery {
    &:after {
        content: @fa-var-picture-o;
    }
}

.sg-edit,
.sg-pen {
    &:after {
        content: @fa-var-pencil;
    }
}

.sg-foundation {
    &:after {
        content: @fa-var-flag-o;
    }
}

.sg-gestalt {
    &:after {
        content: @fa-var-user;
    }
}

.sg-group {
    &:after {
        content: @fa-var-users;
    }
}

.sg-images {
    &:after {
        content: @fa-var-picture-o;
    }
}

.sg-improve {
    &:after {
        content: @fa-var-commenting-o;
    }
}

.sg-join {
    &:after {
        content: @fa-var-user-plus;
    }
}

.sg-link {
    &:after {
        content: @fa-var-link;
    }
}

.sg-logo {
    &:after {
        content: @fa-var-shield;
    }
}

.sg-members {
    &:after {
        content: @fa-var-users;
    }
}

.sg-message {
    &:after {
        content: @fa-var-envelope-o;
    }
}

.sg-next {
    &:after {
        content: @fa-var-chevron-right;
    }
}

.sg-prev {
    &:after {
        content: @fa-var-chevron-left;
    }
}

.sg-private {
    &:after {
        content: @fa-var-user-secret;
    }
}

.sg-resign {
    &:after {
        content: @fa-var-user-times;
    }
}

.sg-url {
    &:after {
        content: @fa-var-globe;
    }
}

.sg-pin {
    &:after {
        content: @fa-var-thumb-tack;
    }
}

.sg-marker {
    &:after {
        content: @fa-var-map-marker;
    }
}

.sg-dots {
    &:after {
        content: @fa-var-ellipsis-h;
    }
}

.sg-question {
    &:after {
        content: @fa-var-question-circle;
    }
}

.sg-subscription {
    &:after {
        content: @fa-var-eye;
    }
}

.sg-video {
    &:after {
        content: @fa-var-play;
    }
}

.sg-add {
    &:after {
        content: @fa-var-plus;
    }
}

.sg-share {
    &:after {
        content: @fa-var-share-alt;
    }
}

.sg-recommend {
    &:after {
        content: @fa-var-share;
    }
}

.sg-logout {
    &:after {
        content: @fa-var-power-off;
    }
}

.sg-login {
    &:after {
        content: @fa-var-sign-in;
    }
}

.sg-fullscreen {
    &:after {
        content: @fa-var-arrows-alt;
    }
}

.sg-left {
    &:after {
        content: @fa-var-chevron-left;
    }
}

.sg-right {
    &:after {
        content: @fa-var-chevron-right;
    }
}

.sg-close {
    &:after {
        content: @fa-var-times;
    }
}

.sg-zoom {
    &:after {
        content: @fa-var-search;
    }
}

.sg-tags {
    &:after {
        content: @fa-var-tags;
    }
}
