.sg {
    .fa();
}

.sg-attention {
    &:after {
        content: @fa-var-eye;
    }
}

.sg-author {
    &:after {
        content: @fa-var-user;
    }
}

.sg-back {
    &:after {
        content: @fa-var-chevron-left@fa-var-chevron-left;
    }
}

.sg-calendar {
    &:after {
        content: @fa-var-calendar;
    }
}

.sg-comments {
    &:after {
        content: @fa-var-comments-o;
    }
}

.sg-content-type-article {
    &:after {
        content: @fa-var-file-text-o;
    }
}

.sg-edit {
    &:after {
        content: @fa-var-pencil;
    }
}

.sg-group {
    &:after {
        content: @fa-var-users;
    }
}

.sg-join {
    &:after {
        content: @fa-var-user-plus;
    }
}

.sg-resign {
    &:after {
        content: @fa-var-user-times;
    }
}
