.nav {
    margin-top: 1em;
    position: relative;
}

.nav-separator {
    align-self: flex-end;

    &:after {
        content: ".";
        font-weight: bolder;
    }

    &, + li {
        margin-left: 1em !important;
    }
}

.nav-menu {
    display: flex;
    flex-wrap: nowrap;

    > li {
        display: inline-block;
        position: relative;

        + li {
            margin-left: 1.5em;
        }

        > a, > label {
            &:extend(.nav-menu-item all);
        }
    }
}

.nav-logo {
    background: url("../img/logo_text.png") no-repeat 0 50% transparent;
    color: rgba(0, 0, 0, 0);
    min-width: 250px;
    min-height: 50px;
    display: inline-block;
    position: absolute;
    bottom: 3px;
}

.nav-menu-item {
    color: @color-text-default;
    font-family: @font-family-headline;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    transition: background .2s, color .2s;
    cursor: pointer;

    &.nav-menu-item-current {
        color: @brand-primary;
    }
}

.nav-menu {
    margin: 0;
    padding: 0;
    user-select: none;
}

.nav-menu-self {
    float: right;
    font-size: 0.75rem;
    margin-bottom: 1em;

    > li {
        > a, > label {
            font-weight: normal;
            color: @color-text-extralight;
        }
    }
}

.nav-menu-primary {
    border-bottom: 2px solid @color-text-default;
    float: right;
    padding-left: 2em;
    &:extend(.clearfix);
}
