.nav {
    margin-top: 1em;
    position: relative;

    .on-small-devices({
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: @nav-height;

        &::before,
        &::after {
            display: none;
        }
    });

    .on-handhelds({
        width: 100vw;
        position: fixed;
        top: 0;
        background-color: white;
        margin-top: 0;
        z-index: 1000;
        padding: 2rem;
        .material-shadow(1);
    });
}

.nav-separator {
    align-self: flex-end;

    &:after {
        content: ".";
        font-weight: bolder;
    }

    &, + li {
        margin-left: 1em !important;
    }
}

.nav-menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    > li {
        display: inline-block;
        position: relative;

        + li {
            margin-left: 1.5em;
        }

        > a, > label {
            &:extend(.nav-menu-item all);
        }
    }
}

.nav-logo {
    background: url("../img/logos/logo_text.svg") no-repeat 0 50% transparent;
    background-size: contain;
    background-position: center bottom -2px;
    color: rgba(0, 0, 0, 0);
    min-width: 290px;
    min-height: 55px;
    display: inline-block;
    position: absolute;
    bottom: 3px;

    .on-small-devices({
        position: static;
        transform: translateY(-4px);
    });

    .on-handhelds({
        min-width: 200px;
        min-height: 37px;
    });
}

.nav-menu-item {
    color: @color-text-default;
    font-family: @font-family-headline;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    transition: background .2s, color .2s;
    cursor: pointer;

    &.nav-menu-item-current {
        color: @brand-primary;
    }
}

.nav-menu {
    margin: 0;
    padding: 0;
    user-select: none;
}

.nav-menu-self {
    float: right;
    font-size: 0.75rem;
    margin-bottom: 1em;

    > li {
        > a, > label {
            font-weight: normal;
            color: @color-text-extralight;
        }
    }

    .on-small-devices({
        float: none;
        margin-bottom: 0;
    });
}

.nav-menu-primary {
    border-bottom: 2px solid @color-text-default;
    float: right;
    padding-left: 2em;
    &:extend(.clearfix);

    .on-small-devices({
        display: none;
    });
}

.nav-footer {
    display: flex;
    justify-content: space-between;

    &, ul, ol {
        margin: 0;
        padding: 0;
    }

    li {
        display: block;
    }

    a {
        color: @color-text-default;
        text-decoration: none;
    }

    .on-handhelds({
        display: none;
    });
}

.nav-slide {
    background-color: #f5f5f5;
    white-space: nowrap;
    overflow: auto;
    padding: 0 1rem;
    margin: 0;

    > li {
        display: inline-block;
        vertical-align: middle;
    }

    a {
        padding: 1em 1rem;
        text-decoration: none;
        text-transform: uppercase;
        color: @color-text-ultralight;
        font-weight: bold;
        display: block;

        &.nav-slide-current {
            color: @color-text-extralight;
        }
    }
}
