.profiles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    padding: 0;

    > li {
        margin: 0 0 2rem 0;
        padding: 0 1rem;
        flex-basis: 50%;
        display: inline-block;
    }
}

.profile {
    display: block;
    color: @color-text-default;
    text-decoration: none;

    a& {
        padding: 1rem;
        background-color: #f2f2f2;
        border-radius: 2px;
        border: 2px solid transparent;
        transition: border-color .2s;

        &:hover {
            border-color: rgba(0, 0, 0, .2);
        }
    }
}

.profile-short {
    display: flex;
    position: relative;
    margin-bottom: @padding-base-vertical;

    .avatar {
        margin-right: @padding-base-horizontal;
    }
}

.profile-about {
    font-size: @font-size-small;
}

.profile-name {
    margin: 0 0 -.1rem 0;
    color: @color-text-default;
    line-height: 1.1;
}

.profile-meta {
    font-size: @font-size-small;
    color: @color-text-extralight;
    margin-top: .2rem;
}

.profile-header {
    position: relative;

    &-info {
        &:extend(.decoration-striped);

        display: flex;
        flex-direction: column;
        padding-bottom: .6rem;
        border-radius: 2px 0 0 2px;
        overflow: hidden;

        &-main {
            background-color: white;
            padding: .6rem .8rem;
        }

        &-slug {
            background-color: rgba(255,255,255,.8);
            padding: .4rem .8rem;
        }
    }

    &-title {
        padding-top: calc(20px + .5rem);
        padding-bottom: 1rem;
        margin-bottom: 3rem;

        &:before,
        &:after {
            content: " ";
            display: block;
            position: absolute;
            left: 0; right: 0;
            height: 10px;
        }

        &:before {
            background: url("../img/stripe.png") repeat;
            top: 0;
        }

        &:after {
            background: url("../img/stripe_white.png") repeat -2px 0;
            top: 10px;
            clear: both;
        }

        .avatar {
            margin-right: 1rem;
            border: 2px solid white;
            border-radius: 2px;
            float: right;
        }

        h1 {
            font-size: 1.5rem;
            color: white;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            margin: -.05em 0 0;
            line-height: 1.2;
        }
    }

    &-data {
        position: absolute;
        top: 0; bottom: 0; right: 0;
        width: 40%;
    }

    &-title-image {
        img {
            display: block;
        }
    }

    .disclaimer {
        min-height: 450px;
    }
}
