.section {
    padding: 1rem 0;
    position: relative;
    margin-bottom: 1rem;

    > h2 {
        margin: 0 0 1rem 0;
        font-size: 1.15rem;
        line-height: 1;
        color: @color-text-extralight;
        text-transform: uppercase;
    }
}

.section-publish {
    background-color: @gray-lightest;
    margin-top: 3rem;
    padding: 1rem;

    .media-loading:before {
        background-color: fadeout(@gray-lightest, 25%);
    }
}
