.section {
    border: 2px solid @gray-lightest;
    padding: 1rem 1rem 1rem;
    position: relative;
    margin-bottom: 1rem;
    border-radius: 2px;

    > h2 {
        margin: 0 0 1rem 0;
        font-size: 1.15rem;
        line-height: 1;
        color: @color-text-extralight;
        text-transform: uppercase;
    }
}

.section-publish {
    background-color: @gray-lightest;
    margin-top: 3rem;
}
