<div class="media media-file" id="{% ref contribution %}">
    {% include 'contributions/_contribution_avatar.html' %}
    <div class="media-content">
        <div class="media-body">
            {% if contribution.contribution.is_image %}
                {% if contribution.contribution.file.name|endswith:'.svg' or contribution.contribution.file.name|endswith:'.apng' or contribution.contribution.file.name|endswith:'.gif' %}
                    <img src="{{ contribution.contribution.file.url }}"
                         alt="{{ contribution.contribution.filename }}">
                {% else %}
                    <img src="{{ contribution.contribution.image_1200.url }}" alt="{{ contribution.contribution.filename }}"
                         srcset="{{ contribution.contribution.image_480.url }} 480w, {{ contribution.contribution.image_768.url }} 768w, {{ contribution.contribution.image_1200.url }} 1200w, {{ contribution.contribution.image_1920.url }} 1920w"
                    />
                {% endif %}
            {% elif contribution.contribution.is_video %}
                <video src="{{ contribution.contribution.file.url }}" controls></video>
            {% elif contribution.contribution.is_audio %}
                <audio src="{{ contribution.contribution.file.url }}" controls></audio>
            {% else %}
                <p>
                    <strong>angehängte Datei</strong>:
                    <a href="{{ contribution.contribution.file.url }}"
                       download="{{ contribution.contribution.display_name }}">
                        {{ contribution.contribution.display_name }}
                    </a>
                </p>
            {% endif %}
        </div>
        {% include 'contributions/_contribution_footer.html' %}
    </div>
</div>
