<div class="media media-comment" id="{% ref contribution %}">
    <div class="media-image">
        {% if author %}
            {% include 'gestalten/_avatar.html' with gestalt=author link=True only %}
        {% else %}
            {% include 'gestalten/_avatar.html' with gestalt=contribution.author link=True only %}
        {% endif %}
    </div>
    <div class="media-content">
        {% block media_content %}
            <div class="media-body"
                 {% block media_content_attrs %}
                    data-author="{{ contribution.author }}" data-permalink="{{ request.path }}#{% ref contribution %}"
                 {% endblock %}>
                {% block media_body %}
                    {% if contribution.contribution.text %}
                        {% markdown contribution.contribution.text heading_baselevel=3 %}
                    {% endif %}
                    {% if contribution.contribution.group %}
                        <p>Ich beantrage die <strong>Mitgliedschaft</strong> in der Gruppe
                        <em>{{ contribution.contribution.group }}</em>.</p>
                        {% load rules %}
                        {% has_perm 'memberships.accept_application' user contribution.contribution as can_accept %}
                        {% if can_accept %}
                            <a href="{% url 'accept-membership-application' contribution.contribution.pk %}" class="btn btn-default">
                                {{ contribution.author }} aufnehmen
                            </a>
                        {% endif %}
                    {% endif %}
                {% endblock %}
            </div>
            <footer class="media-footer">
                {% block media_footer %}
                    {% time contribution.time_created %} ·
                    {% link contribution.author %}
                    <div class="pull-right">
                        <a class="link-plain" href="{{ request.path }}#{% ref contribution %}">
                            Permalink
                        </a>
                        {% if contribution.contribution.text %}
                            ·
                            <a class="js" data-component="cite" href="#{% ref contribution %}">
                                Zitieren
                            </a>
                        {% endif %}
                    </div>
                {% endblock %}
            </footer>
        {% endblock %}
    </div>
</div>
