{% extends "contributions/_contribution_type_text.html" %}

{% block media_body %}
    <form method="post">
        {% csrf_token %}
        {{ form.in_reply_to }}
        {% field form.text hide_label=True %}
        <button class="btn btn-primary">{{ submit_label }}</button>
        <span class="media-instruction">
            Post wird
            <strong>{% if not association.public %}nicht {% endif %}öffentlich</strong> sein.
            Benachrichtigungen werden an 
            {% if association.entity.is_group %}Mitglieder der Gruppe{% endif %}
            @{{ association.entity.slug }}
            {% if association.entity.is_group %}
            und alle Beteiligten
            {% elif association.entity.user == user %}
            und @{{ association.container.contributions.first.author }}
            {% endif %}
            versendet.
        </span>
    </form>
{% endblock %}

{% block media_footer %}{% endblock %}
{% block media_content_attrs %}{% endblock %}
{% block media_style %}style="margin-top: 3rem"{% endblock %}
