{% extends "contributions/_contribution_type_text.html" %}

{% block media_body %}
    <form method="post">
        {% csrf_token %}
        {{ form.in_reply_to }}
        {% field form.text hide_label=True %}
        <span class="btn has-state has-square-icon has-hover-title is-unresponsive float-right"
              data-state="{% if association.public %}in{% endif %}active">
            <i class="sg sg-xl sg-privacy-{% if association.public %}public{% else %}private{% endif %}"></i>
            <span class="btn-htitle" data-position="right" title="
            Post wird {% if not association.public %}nicht {% endif %}öffentlich sein.
            Benachrichtigungen werden an 
            {% if association.entity.is_group %}Mitglieder der Gruppe{% endif %}
            @{{ association.entity.slug }}
            {% if association.entity.is_group %}
            und alle Beteiligten
            {% elif association.entity.user == user %}
            und @{{ association.container.contributions.first.author }}
            {% endif %}
            versendet.">
            </span>
        </span>
        <button class="btn btn-primary">{{ submit_label }}</button>
    </form>
{% endblock %}

{% block media_footer %}{% endblock %}
{% block media_content_attrs %}{% endblock %}
{% block media_style %}style="margin-top: 3rem"{% endblock %}
