{% load rules %}

<div class="content-meta">
    <div class="content-meta-avatar">
        {% if association.entity.is_group %}
            {% include 'groups/_avatar.html' with group=association.entity link=True size=48 %}
        {% else %}
            {% include 'gestalten/_avatar.html' with gestalt=association.entity link=True size=48 %}
        {% endif %}
    </div>
    <div class="content-meta-info">
        <div class="content-meta-author">
            {% link association.entity %}

            {% if association.entity.is_group %}
                {% has_perm 'memberships.view_list' user association.entity as can_view_members %}
                {% if can_view_members %}
                    {% with authors=association.container.get_authors %}
                        {% if authors.count == 1 %}
                            ({% link authors.first %})
                        {% else %}
                            ({{ authors.count }} Autorinnen)
                        {% endif %}
                    {% endwith %}
                {% endif %}
            {% endif %}
        </div>
        <div class="content-meta-extra">
            {% time association.container.versions.first.time_created %} ·
            <i class="sg sg-comments" title="Kommentare"></i> {{ association.container.contributions.count }}
            {#{% include_features '_content_meta_stats.html' %}#}
        </div>
    </div>
</div>
