<meta name="description" content="{{ content.title }}">

<meta property="og:url" content="{{ http_origin }}{% url 'content-permalink' association.pk %}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ content.title }}">
<meta property="og:description" content="{% markdown content.versions.last.text plain_preview=50 %}">
<meta property="og:locale" content="de_DE">
<meta property="og:article:published_time" content="{{ content.versions.first.time_created|date:"c" }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@stadtgestalten">
<meta name="twitter:url" content="{{ http_origin }}{% url 'content-permalink' association.pk %}">
<meta name="twitter:title" content="{{ content.title }}">
<meta name="twitter:description" content="{% markdown content.versions.last.text plain_preview=50 %}">

{% if content.image %}
    <meta property="og:image" content="{{ http_origin }}{{ content.image.facebook_meta.url }}">
    <meta name="twitter:image" content="{{ http_origin }}{{ content.image.twitter_meta.url }}">
{% endif %}

