<article class="content-preview">
    {% if not hide_meta %}
    <header class="content-header">
        {% block content_meta %}{% include 'content/_info.html' %}{% endblock %}
        <div class="flex-row">
            <span class="content-type">
                {% block content_type %}
                    <span>Beitrag</span>
                {% endblock %}
            </span>
            {% include 'content/_content_visibility.html' %}
        </div>
    </header>
    {% endif %}

    <a href="{{ association.get_absolute_url }}" class="content-preview-body">
        <div class="content-preview-body-content">
            {% block content_preview_image %}
                {% if association.container.image %}
                    <div class="content-image">
                        <img src="{{ association.container.image.preview_content.url }}">
                    </div>
                {% endif %}
            {% endblock %}
            <div class="content-preview-text">
                <h3 class="content-title">
                    {{ association.container.title }}
                </h3>

                {% markdown association.container.versions.last.text truncate=50 heading_baselevel=4 disable_tags="a,img" %}
            </div>
        </div>
    </a>
    <footer class="content-preview-footer">
        <a href="{{ association.get_absolute_url }}" class="read-more">Zum Beitrag &hellip;</a>
    </footer>
</article>
