<article class="content-preview{% if not association.public %} content-internal{% endif %}">
    {% if not hide_meta %}
    <header class="content-preview-header">
        {% block content_meta %}{% include 'content/_info.html' %}{% endblock %}
        <span class="content-type" title="{% if association.public %}Beitrag ist öffentlich sichtbar{% else %}Beitrag ist nur für Gruppenmitglieder sichtbar{% endif %}">
            {% block content_type %}
                <span>{% if not association.public %}Interner {% endif %}Beitrag</span>
            {% endblock %}
        </span>
    </header>
    {% endif %}

    <a href="{{ association.get_absolute_url }}" class="content-preview-body">
        <div class="content-preview-body-content">
            {% block content_preview_image %}
                {% if association.container.image %}
                    <div class="content-image">
                        <img src="{{ association.container.image.preview_content.url }}">
                    </div>
                {% endif %}
            {% endblock %}
            <div class="content-preview-text">
                <h3 class="content-title">
                    {{ association.container.title }}
                </h3>

                {% markdown association.container.versions.last.text truncate=50 heading_baselevel=4 disable_tags="a,img" %}
            </div>
        </div>
    </a>

    <a href="{{ association.get_absolute_url }}" class="read-more">Zum Beitrag &hellip;</a>
</article>
