{% extends 'stadt/stadt.html' %}

{% block title %}Beitrag bearbeiten - {{ block.super }}{% endblock %}
{% block menu %}{% menu 'article' view.association.entity %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb view.association.entity view.association 'Beitrag bearbeiten' %}
{% endblock %}

{% block heading_title %}
    <span class="content-classification">Beitrag</span>
{% endblock %}

{% block sidebar %}
    {% if view.association.entity.is_group %}
        {% include 'entities/_sidebar_group.html' with group=view.association.entity %}
    {% else %}
        {% if view.association.entity.public %}
            {% include 'entities/_sidebar_author.html' with gestalt=view.association.entity %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {#{{ field.label_tag }}#}
                {{ field }}
                {% if field.help_text %}
                    <span class="help-block">{{ field.help_text|safe }}</span>
                {% endif %}
            </div>
        {% endfor %}
        <button class="btn btn-primary">Beitrag ändern</button>
    </form>
{% endblock %}
