{% extends 'associations/detail.html' %}
{% load gestalten rules %}

{% block meta %}
    {% include 'content/_meta.html' with content=association.container %}
{% endblock %}

{% block heading_title %}
    <span class="content-classification">Beitrag</span>
    <span class="decoration-icon sg-pen" role="presentation"></span>
{% endblock %}

{% block heading_toolbar %}
    <div class="btn-toolbar">
        {% has_perm 'content.change' user association as can_edit %}
        {% if can_edit %}
        <a href="{% url 'update-content' association.entity.slug association.slug %}" class="btn btn-ch">
            <span class="btn-label">Bearbeiten</span>
        </a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <article class="content">
        <header class="content-teaser">
            {% block content_meta %}{% include 'content/_info.html' %}{% endblock %}
            <span class="content-type" title="{% if association.public %}Beitrag ist öffentlich sichtbar{% else %}Beitrag ist nur für Gruppenmitglieder sichtbar{% endif %}">
                {% block content_type %}
                    <span>{% if not association.public %}Interner {% endif %}Beitrag</span>
                {% endblock %}
            </span>
        </header>
        
        <div class="content-body">
            <h1 class="content-title">
                {{ association.container.title }}
            </h1>
            {% block user_content_header %}{% endblock %}
            {% block content_text %}
                {% markdown association.container.versions.last.text heading_baselevel=2 %}
            {% endblock %}
        </div>
        
        <div class="clearfix"></div>

        <footer class="content-footer">
            <h2 class="content-header">
                <span class="content-classification">Kommentare</span>
                <span class="decoration-icon sg-comments" role="presentation"></span>
            </h2>
            <div class="conversation" data-component="conversation" id="{% ref association.container %}">
                <ol class="medias">
                    {% for comment in association.container.contributions.all %}
                        {% url 'content-permalink' association.pk as permalink_url %}
                        {% include 'contributions/_contribution.html' with contribution=comment permalink_url=permalink_url %}
                    {% endfor %}
                    {% has_perm 'content.comment' user association as can_comment %}
                    {% if can_comment %}
                    <li>
                        {% include "contributions/_create_text.html" with form=form author=user.gestalt %}
                    </li>
                    {% else %}
                    <li>
                        <a href="{% login_url %}" class="btn btn-default">Anmelden zum Kommentieren</a>
                    </li>
                    {% endif %}
                </ol>
            </div>
        </footer>
    </article>
{% endblock %}
