{% extends 'stadt/stadt.html' %}

{% block heading_title %}
    <span class="content-classification">Beitrag</span>
{% endblock %}

{% block sidebar %}
    {% include 'associations/_sidebar_entity.html' with entity=view.entity %}
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {% include 'core/_field.html' with field=form.title %}
            {% if form.fields.text.widget.has_buttons %}
                {% include 'core/_field.html' with field=form.text help_text='Einfacher Text wird automatisch formatiert. Besondere Formatierungen lassen sich mit den Knöpfen oben erzeugen. Erläuterungen gibt es in der <i class="fa fa-question-circle"></i> <a href="/stadt/markdown/">Hilfe zur Textauszeichnung</a>.' %}
            {% else %}
                {% include 'core/_field.html' with field=form.text help_text='Einfacher Text wird automatisch formatiert. Erläuterungen gibt es in der <i class="fa fa-question-circle"></i> <a href="/stadt/markdown/">Hilfe zur Textauszeichnung</a>.' %}
            {% endif %}
            {% block form_extra %}{% endblock %}
        </div>
        {% if form.time %}
            <div class="section section-event section-event-time">
                <div class="row">
                    <div class="col-md-6">
                        {% include 'core/_field.html' with field=form.place %}
                    </div>
                    <div class="col-md-6">
                        <div data-component="event-time">
                            {% include 'core/_field.html' with field=form.time %}
                            {% include 'core/_field.html' with field=form.until_time %}
                            {% include 'core/_field.html' with field=form.all_day %}
                        </div>
                    </div>
                </div>
            </div> 
        {% endif %}

        <div class="section section-publish section-article" data-component="publish">
            <h2>Beitragseinstellungen</h2>
            <div class="row">
                <div class="col-md-7">
                    {% if form.image %}
                        {% include 'core/_field.html' with field=form.image %}
                    {% endif %}
                    {% block extra_settings_left %}{% endblock %}
                </div>
                <div class="col-md-5">
                    <button class="btn btn-primary btn-block">
                        {% block submit_label %}{% endblock %}
                    </button>
                    {% if form.public %}
                        {% include 'core/_checkbox_field.html' with field=form.public %}
                    {% endif %}
                    {% if form.pinned %}
                        <div class="form-group">
                            {% include 'core/_checkbox_field.html' with field=form.pinned %}
                        </div>
                    {% endif %}
                    {% block extra_settings_right %}{% endblock %}
                </div>
            </div>
        </div>

        {% block extra_form_content %}{% endblock %}
    </form>
{% endblock %}
