{% extends 'stadt/stadt.html' %}
{% load events groups rules %}

{% block heading_title %}
    {% include 'core/_heading.html' with title='Beiträge' icon='sg-pen' %}
{% endblock %}

{% block heading_toolbar %}
    {% has_perm 'content.create' user as can_create %}
    {% if can_create %}
        {% dropdown 'content-new' 'Neuer Beitrag' %}
            <li><a href="{% url 'create-article' %}">Artikel</a></li>
            <li><a href="{% url 'create-event' %}">Ereignis</a></li>
        {% enddropdown %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% sidebar_calendar user %}
    {% sidebar_groups user %}
{% endblock %}

{% block content %}
    <div class="content-list">
        <ol class="content-preview-list">
            {% for association in association_list %}
                <li>
                    {% if association.container.time %}
                        {% include 'events/_preview.html' %}
                    {% else %}
                        {% include 'articles/_preview.html' %}
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
        {% pagination 'Weitere Beiträge' %}
    </div>
{% endblock %}
