{% extends 'stadt/stadt.html' %}
{% load events groups rules %}

{% block heading_title %}
    {% include 'core/_heading.html' with title='Beiträge' icon='sg-pen' %}
{% endblock %}

{% block heading_toolbar %}
    {% has_perm 'content.create' user as can_create %}
    {% if can_create %}
        {% dropdown 'content-new' 'Neuer Beitrag' %}
            <li><a href="{% url 'create-article' %}">Artikel</a></li>
            <li><a href="{% url 'create-event' %}">Veranstaltung</a></li>
            <li><a href="{% url 'create-gallery' %}">Galerie</a></li>
        {% enddropdown %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% sidebar_calendar view.queryset %}
    {% sidebar_groups user %}
{% endblock %}

{% block content %}
    <div class="content-list">
        <ol class="content-preview-list">
            {% for association_list in grouped_associations %}
                <li>
                    {% if association_list|length == 1 %}
                        {% include 'content/_preview_single.html' with association=association_list.0 %}
                    {% else %}
                        {% include 'content/_preview_multiple.html' with associations=association_list %}
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
        {% pagination 'Weitere Beiträge' %}
    </div>
{% endblock %}
