{% extends 'stadt/stadt.html' %}

{% block title %}Beitrag bearbeiten - {{ block.super }}{% endblock %}
{% block menu %}{% menu 'article' association.entity %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb association.entity association 'Beitrag bearbeiten' %}
{% endblock %}

{% block heading_title %}
    <span class="content-classification">Beitrag</span>
{% endblock %}

{% block sidebar %}
    {% if association.entity.is_group %}
        {% include 'entities/_sidebar_group.html' with group=association.entity %}
    {% else %}
        {% if association.entity.public %}
            {% include 'entities/_sidebar_author.html' with gestalt=association.entity %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div>
            <div class="form-group">{{ form.title }}</div>
            <div class="form-group">{{ form.text }}</div>
        </div>
        <div class="section section-publish section-article" data-component="publish">
            <h2>Beitragseinstellungen</h2>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group{% if form.slug.errors %} has-error{% endif %}">
                        <label for="{{ form.slug.id_for_label }}" class="control-label">
                            {{ form.slug.label }}
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon">@{{ association.entity.slug }}/</span>
                            {{ form.slug }}
                        </div>
                        <span class="help-block">{{ form.slug.help_text }}</span>
                        {% for error in form.slug.errors %}
                            <span class="help-block"><strong>{{ error }}</strong></span>
                        {% endfor %}
                    </div>
                    {#'pinned',#}
                </div>
                <div class="col-md-5">
                    <button class="btn btn-primary btn-block">Beitrag ändern</button>
                    {% if form.public %}
                        <div class="checkbox">
                            <label>
                                {{ form.public }}
                                {{ form.public.label }}
                            </label>
                            <span class="help-block">{{ form.public.help_text }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}
