{% extends 'stadt/settings.html' %}
{% load i18n %}

{% block sidebar %}
    {% with chapter='group-matrix-chat' %}{{ block.super }}{% endwith %}
{% endblock %}

{% block content %}
    <h2>{% trans "Chat Settings - Matrix" %}</h2>
    <form method="post" class="form form-modern">
        {% csrf_token %}

        <div class="section section-group">
            <h3>{% trans "Public Chat Room" %}</h3>
            {% field_checkbox form.room_public_visibility %}
            {% field form.room_public_matrix_reference %}
        </div>

        <div class="section section-group">
            <h3>{% trans "Private Chat Room" %}</h3>
            {% field_checkbox form.room_private_visibility %}
            {% field form.room_private_matrix_reference %}
        </div>

        <button class="btn btn-sm btn-default" type="submit" name="action_send">
            {% trans "Save settings" %}
        </button>
    </form>
{% endblock %}
