{% extends 'stadt/settings.html' %}
{% load i18n %}

{% block sidebar %}
    {% with chapter='gestalt-matrix-chat' %}{{ block.super }}{% endwith %}
{% endblock %}

{% block content %}
    <h2>{% trans "Chat Settings - Matrix" %}</h2>
    <form method="post" class="form form-modern">
        {% csrf_token %}

        {% field form.matrix_id %}
        <br/>
        <button class="btn btn-sm btn-default" type="submit" name="action_send">
            {% trans "Save settings" %}
        </button>
    </form>
{% endblock %}
