{% load staticfiles %}
<!doctype html>
<html lang="{{ request.LANGUAGE_CODE|default:"de" }}" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        <meta name="application-name" content="Stadtgestalten">
        {% block meta %}
            {% include "core/_meta.html" %}
        {% endblock %}
        {% block meta_feed %}
            <link rel="alternate" type="application/rss+xml" title="{{ site.name }}"
                href="{% url 'feed' %}">
        {% endblock %}
        <meta name="robots" content="index,follow,noodp">
        <meta name="rating" content="General">

        {% include_assets 'early' %}
        <script type="application/json" id="app-configuration">{% app_config %}</script>
    </head>

    <body data-component="browser-warning" class="month-{% now "m" %}">
        {% block body %}{% endblock %}
        {% include_assets 'late' %}
    </body>
</html>
