{% extends 'stadt/stadt.html' %}

{% block title %}Textauszeichnung - {{ block.super }}{% endblock %}

{% block heading_title %}<span class="content-classification">Textauszeichnung</span>{% endblock %}

{% block content %}
Die Grundlage der Formatierung oder Textauszeichung auf {{ GROUPRISE_SITE_NAME }} ist <a href="https://daringfireball.net/projects/markdown/">Markdown</a>. Texte lassen sich recht intuitiv so verfassen, wie Menschen das beispielsweise aus E-Mails gewohnt sind.

<h2>Betonung</h2>
<pre>*<em>kursiv</em>*
**<strong>fett</strong>**</pre>

<h2>Listen</h2>
<pre>* Listenpunkt
* Listenpunkt
* Listenpunkt

1. Nummerierter Listenpunkt
2. Nummerierter Listenpunkt
3. Nummerierter Listenpunkt</pre>

<h2>Überschriften</h2>
<pre># Überschrift
## Unterüberschrift
### Unter-Unterüberschrift</pre>

<h2>Verweise</h2>
<pre>[Anzeigetext](http://www.grouprise.org)</pre>
<pre>@gruppen-kuerzel
@gestalten-kuerzel
@gruppe-oder-gestalt/beitrags-kuerzel</pre>
<pre>#Schlagwort</pre>

<h2>Bilder</h2>
<pre>![Alternativtext](http://www.grouprise.org/bild.jpg)</pre>

<h2>Zitate</h2>
<pre>&gt; Zitattext</pre>

<h2>Inhaltsverzeichnis</h2>
<pre>[INHALT]</pre>

<h2>Technischer Inhalt</h2>
<pre>Text über etwas `Technisches`</pre>
{% endblock %}
