{% extends 'core/base.html' %}

{% block title %}{% if title %}{{ title }} - {% endif %}{{ site.name }}{% endblock %}

{% block body %}
    <div class="wrap wrap-nav">
        {% block menu %}{% endblock %}
    </div>

    <div class="wrap wrap-prefix">
        <div class="container">
            <div class="page-prefix">
                <div class="breadcrumb {% if not STADTGESTALTEN_CLAIMS %}breadcrumb-visible{% endif %}">{% spaceless %}
                    {% block breadcrumb %}
                        {% include 'core/_page_breadcrumb.html' %}
                    {% endblock %}
                {% endspaceless %}</div>
                {% include 'core/_claim.html' %}
                {% include 'stadt/_page_meta.html' %}
            </div>
        </div>
    </div>

    <div class="wrap wrap-page">
        <div class="container">
            <div class="page">
                {% include 'core/_messages.html' %}

                {% block header %}{% endblock %}

                {% block content_row %}
                    <div class="row">
                        <div class="col-md-8">
                            <div class="content-wrap">
                                {% block content_header %}{% endblock %}

                                {% block heading %}
                                    <header class="content-header">
                                        {% block heading_title %}
                                            <h1 class="content-classification">
                                                {% block heading_title_text %}
                                                    {{ title|default:site.name }}
                                                {% endblock %}
                                            </h1>
                                        {% endblock %}

                                        <div class="btn-toolbar">
                                            {% block heading_toolbar %}{% endblock %}
                                        </div>
                                    </header>
                                {% endblock %}

                                {% block content_before %}{% endblock %}
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <aside class="sidebar">
                                <div class="content-spacer decoration-striped"></div>
                                {% block sidebar %}{% endblock %}
                            </aside>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="wrap wrap-footer">
        <div class="container">
            {% include 'stadt/_footer.html' %}
        </div>
    </div>
{% endblock %}
