<div class="page-footer">
    <div class="page-footer-content">
        <ul class="nav-footer">
            <li>
                <ul>
                    <li><a href="{% url 'index' %}">Start</a></li>
                    <li><a href="{% url 'group' about_group.slug %}">Über uns</a></li>
                    <li><a href="{% url 'imprint' %}">Impressum</a></li>
                    <li><a href="{% url 'abuse' request.path %}">Missbrauch melden</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><a href="{% url 'group-index' %}">Gruppen</a></li>
                    <li><a href="{% url 'gestalt-index' %}">Gestalten</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><a href="{% url 'article-index' %}">Artikel</a></li>
                    <li><a href="{% url 'event-index' %}">Ereignisse</a></li>
                    <li><a href="{% url 'gallery-index' %}">Galerien</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'gestalt' user.username %}">Meine Seite</a></li>
                        <li><a href="{% url 'gestalt-update' user.gestalt.pk %}">Einstellungen</a></li>
                        <li><a href="{% url 'account_logout' %}?next={{ request.path }}">Abmelden</a></li>
                    {% else %}
                        <li><a href="{% url 'account_login' %}?next={{ request.path }}">Anmelden</a></li>
                        <li><a href="{% url 'account_signup' %}?next={{ request.path }}">Registrieren</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
    <div class="page-footer-sidebar">

    </div>
</div>
