{% load cache %}

{% cache cache_timeout site-header request.path %}
<div class="page-prefix">
    <div class="breadcrumb">{% spaceless %}
        {% for text, url in breadcrumb %}
            {% if url %}
                <a href="{{ url }}">{{ text|truncatechars:25 }}</a>
            {% else %}
                <span>{{ text|truncatechars:50 }}</span>
            {% endif %}
            {% if not forloop.last %}
                <span class="breadcrumb-separator"></span>
            {% endif %}
        {% endfor %}
    {% endspaceless %}</div>
    <div class="page-meta">
        {{ num_groups }} Gruppen / {{ num_gestalten }} Gestalten / {{ content_count }} Beiträge
    </div>
</div>
{% endcache %}
