{% load rules utils %}
<nav class="nav">
    <div class="container">
        <a class="nav-logo" href="{% url 'index' %}">{{ site.name }}</a>
        <ul class="nav-menu nav-menu-self">

            {# about link #}
            <li>
                <a href="{{ about_group.get_absolute_url }}">Über Stadtgestalten</a>
            </li>

            {# groups menu #}
            {% if user.gestalt.groups.exists or group %}
                <li>
                    <input class="dropdown-state" id="menu-groups" type="checkbox"/>
                    <label for="menu-groups" class="nav-state-toggle">
                        {{ group|default:'Meine Gruppen' }} <span class="caret"></span>
                    </label>
                    <ul class="nav-menu dropdown">
                        {% if group %}
                            <li class="dropdown-header">{{ group }}</li>
                            {% if request.path !=  group.get_absolute_url %}
                                <li>
                                    <a href="{{ group.get_absolute_url }}">
                                        <i class="sg sg-prev"></i> Zur Gruppenseite
                                    </a>
                                </li>
                            {% endif %}
                            {% include_features '_group_menu_actions.html' %}
                            <li>
                                <a href="{% url 'message-create' group.pk %}">
                                    <i class="sg sg-message"></i> Nachricht schreiben
                                </a>
                            </li>
                            {% if user.gestalt.groups.exists %}
                                <li class="dropdown-header">Meine Gruppen</li>
                            {% endif %}
                        {% endif %}

                        {% for group in user.gestalt.groups.all %}
                            <li>
                                <a href="{{ group.get_absolute_url }}">{{ group }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}

            {# user menu #}
            {% if user.is_authenticated %}
                <li>
                    <input class="dropdown-state" id="menu-user" type="checkbox"/>
                    <label for="menu-user" class="nav-state-toggle">
                        {{ user.gestalt }} <span class="caret"></span>
                    </label>
                    <ul class="nav-menu dropdown">
                        <li><a href="{{ user.gestalt|url_for:user }}">Meine Seite</a></li>
                        <li><a href="{% url 'gestalt-update' user.gestalt.pk %}">Profil ändern</a></li>
                        <li role="separator" class="dropdown-separator"></li>
                        <li><a href="{% url 'account_change_password' %}">Kennwort ändern</a></li>
                        <li><a href="{% url 'account_email' %}">E-Mail-Adressen</a></li>
                        <li role="separator" class="dropdown-separator"></li>
                        <li><a href="{% url 'account_logout' %}?next={{ request.path }}">Abmelden</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{% url 'account_login' %}?next={{ request.path }}">Anmelden</a></li>
            {% endif %}

        </ul>
        <div class="clearfix"></div>
        <ul class="nav-menu nav-menu-primary">
            <li>
                <a href="{% url 'group-index' %}" class="{% if menu|lower == 'group' %}nav-menu-item-current{% endif %}">Gruppen</a>
            </li>
            <li>
                <a href="{% url 'gestalt-index' %}" class="{% if menu|lower == 'gestalt' %}nav-menu-item-current{% endif %}">Gestalten</a>
            </li>
            <li class="nav-separator" role="presentation"></li>
            <li>
                <a href="{% url 'article-index' %}" class="{% if menu|lower == 'article' %}nav-menu-item-current{% endif %}">Artikel</a>
            </li>
            <li>
                <a href="{% url 'event-index' %}" class="{% if menu|lower == 'event' %}nav-menu-item-current{% endif %}">Ereignisse</a>
            </li>
            <li>
                <a href="{% url 'gallery-index' %}" class="{% if menu|lower == 'gallery' %}nav-menu-item-current{% endif %}">Galerien</a>
            </li>
        </ul>
    </div>
</nav>
