{% load staticfiles %}
<!doctype html>
<html lang="{{ request.LANGUAGE_CODE|default:"de" }}" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'sha256-brh3Rq/4PNvWgeYlcjq0mqrdgPQAgetDw6jhQloENf4='; style-src 'self' 'unsafe-inline'">
        <!-- css -->
        <link type="text/css" rel="stylesheet" href="{% static "stadt/css/app.css" %}?v={{ asset_version }}">

        <!-- favicon -->
        <link rel="icon" href="{% static "stadt/img/logos/logo_16.png" %}?v={{ asset_version }}" sizes="16x16" type="image/png">
        <link rel="icon" href="{% static "stadt/img/logos/logo_32.png" %}?v={{ asset_version }}" sizes="32x32" type="image/png">
        <link rel="icon" href="{% static "stadt/img/logos/logo_48.png" %}?v={{ asset_version }}" sizes="48x48" type="image/png">
        <link rel="icon" href="{% static "stadt/img/logos/logo_62.png" %}?v={{ asset_version }}" sizes="62x62" type="image/png">
        <link rel="icon" href="{% static "stadt/img/logos/logo_144.png" %}?v={{ asset_version }}" sizes="144x144" type="image/png">
        <link rel="icon" href="{% static "stadt/img/logos/logo_192.png" %}?v={{ asset_version }}" sizes="192x192" type="image/png">

        <script>document.documentElement.setAttribute("class", "js");</script>
        <script type="application/json" id="app-configuration">
            {
                "gestalt": {
                    "id": {{ user.gestalt.pk|default:"null" }}
                }
            }
        </script>
    </head>

    <body>
        <div class="disclaimer">
            <div class="container">
                <p>
                    Stadtgestalten ist noch <strong>ganz neu</strong>. Bei Fragen oder Verbesserungsvorschlägen <a href="{{ about_group.get_absolute_url }}">schreib uns</a>!
                </p>
            </div>
        </div>
        {% block body %}{% endblock %}
        <script src="{% static 'stadt/js/app.js' %}?v={{ asset_version }}" async defer></script>
    </body>
</html>
