{% load staticfiles %}
<!doctype html>
<html lang="{{ request.LANGUAGE_CODE|default:"de" }}" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        <!-- css -->
        <link type="text/css" rel="stylesheet" href="{% static "stadt/css/app.css" %}">

        <!-- favicon -->
        <link rel="icon" href="{% static "stadt/img/logos/logo_16.png" %}" sizes="16x16" type="image/png">
        <link rel="icon" href="{% static "stadt/img/logos/logo_32.png" %}" sizes="32x32" type="image/png">
        <link rel="icon" href="{% static "stadt/img/logos/logo_48.png" %}" sizes="48x48" type="image/png">
        <link rel="icon" href="{% static "stadt/img/logos/logo_62.png" %}" sizes="62x62" type="image/png">
        <link rel="icon" href="{% static "stadt/img/logos/logo_192.png" %}" sizes="192x192" type="image/png">

        <script>
            document.documentElement.setAttribute("class", "js");
            window.gestalt = {
                id: {{ user.gestalt.pk|default:"null" }}
            }
        </script>
    </head>

    <body>
        <div class="disclaimer">
            <div class="container">
                <p>
                    Stadtgestalten ist noch <strong>nicht ganz fertig</strong>. Du darfst die Seite gerne
                    nutzen und mit vertrauten Personen teilen — aber bitte nicht in sozialen Netzen. Wenn etwas nicht funktioniert, <a href="{{ about_group.get_absolute_url }}">lass es uns wissen</a>!
                </p>
                <p>
                    Wir gehen
                    <time data-component="time time-days-until" datetime="2016-09-13T17:00:00.000000+02:00" title="13. Sep 2016 17:00">
                        am 13. Sep 2016 17:00
                    </time> online.
                </p>
            </div>
        </div>
        {% block body %}{% endblock %}
        <script src="{% static 'stadt/js/app.js' %}" async defer></script>
    </body>
</html>
