{% extends 'stadt/stadt.html' %}

{% block content %}
    <div class="content-list">
        {% block list_header %}{% endblock %}

        {% block list %}
            <ol class="content-preview-list">
                {% for content in content_list %}
                    <li>{% include 'content/_content_preview.html' %}</li>
                {% endfor %}
            </ol>
        {% endblock %}

        {% if is_paginated %}
            {% include 'stadt/_pagination.html' %}
        {% endif %}
    </div>
{% endblock %}
