{% extends 'stadt/bootstrap3.html' %}

{% block title %}{% if title %}{{ title }} - {% endif %}{{ site.name }}{% endblock %}

{% block body %}
{% include 'stadt/_menu.html' %}
<div class="container">
    {% include 'stadt/_messages.html' %}
    {% include 'stadt/_header.html' %}
    {% block header %}{% endblock %}
    <div class="row">
        <div class="col-md-2">
            {% if back_url %}
            <a href="{{ back_url }}" class="btn btn-primary">&lt;&lt;</a>
            {% endif %}
        </div>
        <div class="col-md-6">
            {% block heading %}<h1>{{ title|default:site.name }}</h1>{% endblock %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
            {% block sidebar %}{% endblock %}
        </div>
    </div>
    {% include 'stadt/_footer.html' %}
</div>
{% endblock %}
