{% load thumbnail utils content %}

{% kwacro avatar %}
    {% thumbnail gestalt.avatar '64x64' format='PNG' crop="center" as avatar %}
        <span title="{{ gestalt }}" class="avatar">
            <img src="{{ avatar.url }}" alt="{{ gestalt}}">
        </span>
    {% empty %}
        <span title="{{ gestalt }}" class="avatar avatar-initials" data-initials="{{ gestalt.get_initials|length }}" style="background-color: {{ gestalt.avatar_color }}">
            {{ gestalt.get_initials|truncatechars:4 }}
        </span>
    {% endthumbnail %}
{% endkwacro %}

{% if link %}
    <a class="avatar-wrap profile-avatar" href="{{ gestalt.get_absolute_url }}">
        {% usekwacro avatar %}
    </a>
{% else %}
    <div class="avatar-wrap profile-avatar">
        {% usekwacro avatar %}
    </div>
{% endif %}
