{% load rules staticfiles thumbnail %}

<{% if link %}a href="{{ gestalt.get_absolute_url }}"{% else %}div{% endif %} class="profile">
    <div class="profile-short">
        {% include 'entities/_gestalt_avatar.html' with gestalt=gestalt link=False %}
        <div class="profile-data">
            <h3 class="profile-name">
                {{ gestalt }}
            </h3>
            <div class="profile-meta">
                Dabei seit {{ gestalt.user.date_joined | date:"M Y" }} · {{ gestalt.authored_content.count }} Beitr{{ gestalt.authored_content.count|pluralize:'ag,äge' }}
            </div>
        </div>
    </div>
    <div class="profile-about" data-component="user-content">{{ gestalt.about }}</div>
</{% if link %}a{% else %}div{% endif %}>
