{% load rules staticfiles thumbnail utils content %}

{% kwacro preview %}
    <div class="profile-short">
        {% include 'entities/_gestalt_avatar.html' with gestalt=gestalt link=False %}
        <div class="profile-data">
            <h3 class="profile-name">
                {{ gestalt }}
            </h3>
            <div class="profile-meta">
                Dabei seit {{ gestalt.user.date_joined | date:"M Y" }} · {{ gestalt.authored_content.count }} Beitr{{ gestalt.authored_content.count|pluralize:'ag,äge' }}
            </div>
        </div>
    </div>
    <div class="profile-about" data-component="user-content">{{ gestalt.about }}</div>
{% endkwacro %}

{% if link %}
    <a href="{{ gestalt|url_for:user }}" class="profile">
        {% usekwacro preview %}
    </a>
{% else %}
    <div class="profile">
        {% usekwacro preview %}
    </div>
{% endif %}
