{% load rules thumbnail utils crispy_forms_tags  %}

{% has_perm 'content.view_content' user group.get_head_gallery as can_view_head_gallery %}
{% has_perm 'entities.change_group' user group as can_edit %}
{% has_perm 'entities.create_group_content' user group as can_create_content %}
{% has_perm 'entities.create_group_message' user group as can_create_message %}
{% has_perm 'entities.create_membership' user group as can_create_membership %}
{% has_perm 'entities.delete_membership' user membership as can_delete_membership %}
{% has_perm 'entities.list_members' user group as can_list_members %}

<div class="group-header" data-component="group-header">
    <div class="group-gallery">
        {% if group.get_head_gallery and can_view_head_gallery %}
            <div class="carousel">
                <ol class="carousel-slides">
                    {% for image in group.get_head_gallery.images.all %}
                        <li>
                            {% thumbnail image.file 'x500' crop='center' as thumb %}
                                <img src="{{ thumb.url }}" alt="{{ group.name }}">
                            {% endthumbnail %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
        {% else %}
            <div class="disclaimer">
                <i class="fa fa-5x fa-image"></i><br />
                Diese Gruppe war zu faul eine Introgalerie anzulegen.
            </div>
        {% endif %}

        {% if can_create_content %}
            <div class="btn-toolbar btn-toolbar-bottom btn-toolbar-fixed">
                {% if group.get_head_gallery and can_view_head_gallery %}
                    <a class="btn btn-backdrop btn-ts" href="{{ group.get_head_gallery.get_absolute_url }}" title="Introgalerie anzeigen">
                        <i class="fa fa-2x fa-camera"></i>
                    </a>
                {% else %}
                    <div class="group-intro-add" title="Introgalerie anlegen">
                        {% crispy intro_gallery_form %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="group-info">
        <div class="group-info-main">
            {% include 'entities/_group_avatar.html' with group=group link=False %}
            <h1 class="group-title">
                {{ group.name }}
            </h1>
            <dl class="def def-icons">
                <dt>
                    <i class="sg sg-question"></i>
                    <span class="sr-only">Kurzbeschreibung</span>
                </dt>
                <dd>{{ group.description|default:"Die Gruppe war zu beschäftigt eine Kurzbeschreibung zu hinterlegen" }}</dd>
                <dt>
                    <i class="sg sg-address"></i>
                    <span class="sr-only">Adresse</span>
                </dt>
                <dd>
                    <address>
                        {{ group.address|linebreaks }}
                    </address>
                </dd>
                <dt>
                    <i class="sg sg-url"></i>
                    <span class="sr-only">Website</span>
                </dt>
                <dd>
                    <a href="{{ group.url }}">{{ group.url|cut:'http://'|cut:'https://'|cuttrailing:'/' }}</a>
                </dd>
                <dt>
                    <i class="sg sg-foundation"></i>
                    <span class="sr-only">Gründung</span>
                </dt>
                <dd>
                    {{ group.date_founded|date:'Y' }} gegründet
                </dd>
                <dt>
                    <i class="sg sg-members"></i>
                    <span class="sr-only">Anzahl Mitglieder</span>
                </dt>
                <dd>
                    {% if can_list_members %}
                        <a href="{% url 'membership-list' group.pk %}">
                    {% endif %}
                    {{ group.membership_set.count }} Mitglied{{ group.membership_set.count|pluralize:"er" }}{% if can_list_members %}</a>{% endif %}

                    {% if user.gestalt in group.members.all %}
                        (Du bist Mitglied)
                    {% endif %}
                </dd>
            </dl>
        </div>
        <div class="group-info-slug">
            <dl class="def def-icons">
                <dt>
                    <i class="sg sg-link"></i>
                    <span class="sr-only">URL auf Stadtgestalten</span>
                </dt>
                <dd>
                    {{ site.domain }}/ {{ group.slug }}
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="content-toolbar">
    <div class="carousel-actions"></div>
    <div class="group-actions">
        <div class="btn-toolbar">
            {% if can_edit %}
                <div class="dropdown-container group-actions-admin">
                    <input class="dropdown-state" id="group-admin" type="checkbox" />
                    <label class="btn btn-default btn-sm" for="group-admin">
                        <i class="sg sg-edit"></i> Gruppe bearbeiten <span class="caret"></span>
                    </label>
                    <ul class="dropdown dropdown-small">
                        <li>
                            <a href="{% url 'group-update' group.pk %}">
                                Gruppenangaben ändern
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'group-avatar-update' group.pk %}">
                                Avatar ändern
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}

            <div class="btn-group group-actions-user">
                {% include_features '_group_actions.html' %}

                <a href="{% url 'message-create' group.pk %}" class="btn btn-default btn-sm">
                    <i class="sg sg-message"></i> Nachricht schreiben
                </a>

                <div class="dropdown-container group-actions-admin">
                    <input class="dropdown-state" id="group-more" type="checkbox" />
                    <label class="btn btn-default btn-sm btn-more" for="group-more"></label>
                    <ul class="dropdown dropdown-small">
                        {% if can_delete_membership %}
                            <li>
                                <a href="{% url 'membership-delete' membership.pk %}">
                                    <i class="sg sg-resign"></i> Mitgliedschaft beenden
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            {% if not can_delete_membership %}
                <a href="{% url 'membership-create' group.pk %}" class="btn btn-default btn-sm">
                    <i class="sg sg-join"></i> Mitglied werden
                </a>
            {% endif %}
        </div>
    </div>
</div>
