{% load rules %}

{% has_perm 'entities.change_group' user group as can_edit_group %}
{% has_perm 'entities.create_group_membership' user group as can_create_group_membership %}
{% has_perm 'entities.delete_group_membership' user membership as can_delete_group_membership %}

<div class="row">

    <div class="col-md-6">
        {% if head_gallery %}
        <img src="{{ head_gallery.image_set.first.image.url }}">
        {% endif %}
    </div>

    <div class="col-md-6">
        {% if group.avatar %}
        <img src="{{ group.avatar.url }}" class="pull-right">
        {% endif %}
        <h1>
            {{ group.name }}
            {% if can_edit_group %}
            <a href="{% url 'group-update' group.pk %}"><i class="fa fa-pencil" title="Angaben bearbeiten"></i></a>
            {% endif %}
        </h1>
        <ul>
            <li>{{ group.address|linebreaks }}</li>
            <li><a href="{{ group.url }}">{{ group.url|cut:'http://' }}</a></li>
            <li>Gruppe gegründet: {{ group.date_founded|date:'Y' }}</li>
            <li>
                Gruppenmitglieder: {{ group.membership_set.count }}
                {% if user.gestalt in group.members.all %}
                (Du bist Mitglied)
                {% endif %}
                {% if can_create_group_membership %}
                <a href="{% url 'group-membership-create' group.slug %}" class="btn btn-default btn-sm">Mitglied werden</a>
                {% endif %}
                {% if can_delete_group_membership %}
                <a href="{% url 'group-membership-delete' membership.pk %}"><i class="fa fa-sign-out" title="Mitgliedschaft beenden"></i></a>
                {% endif %}
            </li>
            <li>{{ current_site.domain }}/ {{ group.slug }}</li>
        </ul>
    </div>

</div>
