{% load entities rules thumbnail %}

{% has_perm 'content.view_content' user head_gallery as can_view_head_gallery %}
{% has_perm 'entities.change_group' user group as can_edit %}
{% has_perm 'entities.create_group_attention' user group as can_create_attention %}
{% has_perm 'entities.create_group_content' user group as can_create_content %}
{% has_perm 'entities.create_group_message' user group as can_create_message %}
{% has_perm 'entities.create_membership' user group as can_create_membership %}
{% has_perm 'entities.delete_group_attention' user attention as can_delete_attention %}
{% has_perm 'entities.delete_membership' user membership as can_delete_membership %}
{% has_perm 'entities.list_members' user group as can_list_members %}

<div class="row">

    <div class="col-md-6">
        {% if head_gallery and can_view_head_gallery %}
        <a href="{% url 'content' group.slug head_gallery.slug %}">Intro-Galerie anzeigen</a>
        {% thumbnail head_gallery.images.first.file '560x390' crop='center' as image %}
        <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}">
        {% endthumbnail %}
        {% elif can_create_content %}
        <a href="{% url 'gallery-create' %}?group={{ group.slug }}&pinned=1&public=1">Intro-Galerie hinzufügen</a>
        {% endif %}
    </div>

    <div class="col-md-6">
        <div class="pull-right">
            {% if can_edit %}
            <a href="{% url 'group-avatar-update' group.pk %}">Avatar ändern</a><br>
            {% endif %}
            {% group_avatar group %}
        </div>
        <h1>
            {{ group.name }}
            <small>
                {% if can_create_attention %}
                <a href="{% url 'group-attention-create' group.pk %}"><i class="sg sg-attention" title="Bei neuen Beiträgen benachrichtigt werden"></i></a>
                {% elif can_delete_attention %}
                <a href="{% url 'group-attention-delete' attention.pk %}"><i class="sg sg-attention" title="Du erhältst Benachrichtungen für diese Gruppe"></i></a>
                {% endif %}
                {% if can_edit %}
                <a href="{% url 'group-update' group.pk %}"><i class="fa fa-pencil" title="Gruppenangaben ändern"></i></a>
                {% endif %}
            </small>
        </h1>
        <ul>
            <li><i class="sg sg-address"></i> {{ group.address|linebreaks }}</li>
            <li><i class="sg sg-url"></i> <a href="{{ group.url }}">{{ group.url|cut:'http://' }}</a></li>
            {% if can_create_message %}
            <li><i class="sg sg-message"></i> <a href="{% url 'message-create' group.pk %}">Nachricht schreiben</a></li>
            {% endif %}
            <li><i class="sg sg-foundation"></i> Gruppe gegründet: {{ group.date_founded|date:'Y' }}</li>
            <li>
                <i class="sg sg-members"></i>
                {% if can_list_members %}
                <a href="{% url 'membership-list' group.pk %}">Gruppenmitglieder: {{ group.membership_set.count }}</a>
                {% else %}
                Gruppenmitglieder: {{ group.membership_set.count }}
                {% endif %}
                {% if user.gestalt in group.members.all %}
                (Du bist Mitglied)
                {% endif %}
                {% if can_create_membership %}
                <a href="{% url 'membership-create' group.pk %}" class="btn btn-default btn-sm"><i class="sg sg-join"></i> Mitglied werden</a>
                {% endif %}
                {% if can_delete_membership %}
                <a href="{% url 'membership-delete' membership.pk %}"><i class="sg sg-resign" title="Mitgliedschaft beenden"></i></a>
                {% endif %}
            </li>
            <li><i class="sg sg-link"></i> {{ site.domain }}/ {{ group.slug }}</li>
        </ul>
    </div>

</div>
