{% load thumbnail %}

{% if group.avatar %}
    <a href="{{ group.get_absolute_url }}" class="avatar" title="{{ group.name }}">
        {% thumbnail group.avatar '64x64' format='PNG' crop="center" as avatar %}
            <img src="{{ avatar.url }}" alt="{{ group.name }}">
        {% endthumbnail %}
    </a>
{% else %}
    <a href="{{ group.get_absolute_url }}" title="{{ group.name }}" class="avatar avatar-initials" data-initials="{{ group.get_initials|length }}" style="background-color: {{ group.avatar_color }}">
        {{ group.get_initials|truncatechars:4 }}
    </a>
{% endif %}
