{% load cache rules thumbnail utils crispy_forms_tags  %}

{% cache cache_timeout group-header user.gestalt.id group.id %}

{% has_perm 'content.view_content' user group.get_head_gallery as can_view_head_gallery %}
{% has_perm 'groups.change_group' user group as can_edit %}
{% has_perm 'entities.create_group_content' user group as can_create_content %}
{% has_perm 'entities.create_group_message' user group as can_create_message %}

<div class="group-header" data-component="group-header">
    <div class="group-gallery">
        {% if group.get_head_gallery and can_view_head_gallery and group.get_head_gallery.images.all %}
            <div class="carousel-container" data-component="carousel">
                <div class="carousel">
                    <ol class="carousel-slides">
                        {% for image in group.get_head_gallery.images.all %}
                            <li>
                                {% thumbnail image.file 'x500' crop='center' as thumb %}
                                    <img src="{{ thumb.url }}" alt="{{ group.name }}">
                                {% endthumbnail %}
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        {% else %}
            <div class="disclaimer">
                <i class="fa fa-5x fa-image"></i><br />
                Diese Gruppe war zu faul eine Introgalerie anzulegen.
            </div>
        {% endif %}

        {% if can_create_content %}
            <div class="btn-toolbar btn-toolbar-bottom btn-toolbar-fixed">
                {% if group.get_head_gallery and can_view_head_gallery %}
                    <a class="btn btn-backdrop btn-ts" href="{{ group.get_head_gallery.get_absolute_url }}" title="Introgalerie anzeigen">
                        <i class="fa fa-2x fa-camera"></i>
                    </a>
                {% else %}
                    <div class="group-intro-add" title="Introgalerie anlegen">
                        {% crispy intro_gallery_form %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="group-info">
        <div class="group-info-main">
            <a href="{% url 'group-avatar-update' group.pk %}" class="avatar-edit-inline">
                {% include 'entities/_group_avatar.html' with group=group link=False %}
            </a>
            <h1 class="group-title">
                {{ group.name }}
            </h1>
            <dl class="def def-icons">
                <dt>
                    <i class="sg sg-question"></i>
                    <span class="sr-only">Kurzbeschreibung</span>
                </dt>
                <dd>{{ group.description|default:"Die Gruppe war zu beschäftigt eine Kurzbeschreibung zu hinterlegen" }}</dd>
                <dt>
                    <i class="sg sg-address"></i>
                    <span class="sr-only">Adresse</span>
                </dt>
                <dd>
                    <address>
                        {{ group.address|linebreaks }}
                    </address>
                </dd>
                <dt>
                    <i class="sg sg-url"></i>
                    <span class="sr-only">Website</span>
                </dt>
                <dd>
                    <a href="{{ group.url }}">{{ group.url|cut:'http://'|cut:'https://'|cuttrailing:'/' }}</a>
                </dd>
                <dt>
                    <i class="sg sg-foundation"></i>
                    <span class="sr-only">Gründung</span>
                </dt>
                <dd>
                    {{ group.date_founded|date:'Y' }} gegründet
                </dd>
                {% include_fragments 'group-meta' %}
            </dl>
        </div>
        <div class="group-info-slug">
            <dl class="def def-icons">
                <dt>
                    <i class="sg sg-link"></i>
                    <span class="sr-only">URL auf Stadtgestalten</span>
                </dt>
                <dd class="selectable">
                    {{ site.domain }}/<span class="selectable-token">{{ group.slug }}</span>
                    <button type="button" class="btn-text hide-no-js" data-component="clipboard"
                            data-clipboard-text="{{ site.domain }}/{{ group.slug }}"
                            title="URL zu dieser Gruppe kopieren">
                        <i class="fa fa-clipboard"></i>
                    </button>
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="content-toolbar">
    <div class="carousel-actions"></div>
    <div class="group-actions">
        <div class="btn-toolbar">
            {% if can_edit %}
                <div class="btn-group">
                    <a class="btn btn-default btn-sm" href="{% url 'group-update' group.pk %}">
                        <i class="sg sg-edit"></i> Gruppe bearbeiten
                    </a>
                </div>
            {% endif %}

            <div class="btn-group">
                <a href="{% url 'message-create' group.pk %}" class="btn btn-default btn-sm">
                    <i class="sg sg-message"></i> Nachricht schreiben
                </a>
            </div>

            {% include_features '_group_actions.html' %}
        </div>
    </div>
</div>

{% endcache %}
