{% load entities rules utils %}
{% has_perm 'entities.create_group' user as can_create_group %}
<div class="box box-striped">
    <div class="box-inner">
        <header class="box-header">
            <h2 class="box-title">
                <i class="sg sg-group"></i>
                Gruppen
            </h2>
        </header>
        <div class="box-content">
            <div class="clearfix">
                {% for group in sidebar_groups %}
                <a href="{{ group.get_absolute_url }}">
                    {% group_avatar group %}
                </a>
                {% endfor %}
            </div>
            <ul>
                {% for group in sidebar_groups|limit:5 %}
                <li>
                    <a href="{{ group.get_absolute_url }}">{{ group }}</a>
                    <small>
                        <i class="fa fa-users"></i> {{ group.members.count }}
                        <i class="fa fa-eye"></i> {{ group.attendees.count }}
                        <i class="fa fa-file-text-o"></i> {{ group.content.count }}
                    </small>
                </li>
                {% endfor %}
            </ul>
        </div>
        <p>
        <a href="{% url 'group-index' %}" class="btn btn-default">Alle Gruppen</a>
        {% if can_create_group %}
        <a href="{% url 'group-create' %}" class="btn btn-default">Neue Gruppe</a>
        {% endif %}
        </p>
    </div>
</div>
