{% load utils %}

<div class="box box-striped">
    <div class="box-inner">
        <header class="box-header">
            <h2 class="box-title">
                <i class="sg sg-author"></i>
                Gestalt
            </h2>
        </header>
        <div class="box-content">
            {% include "entities/_gestalt_preview.html" with gestalt=gestalt link=False %}
        </div>
        <div class="btn-toolbar btn-toolbar-right">
            {#{% include_features '_sidebar_author_actions.html' %}#}
            <a href="{{ gestalt|url_for:user }}" class="btn btn-link">Mehr von {{ gestalt }}</a>
        </div>
    </div>
</div>
