{% load entities rules utils %}

<div class="box box-striped">
    <div class="box-inner">
        <header class="box-header">
            <h2 class="box-title">
                <i class="sg sg-group"></i>
                Gruppen
            </h2>
        </header>
        <div class="box-content">
            <ul class="avatars">
                {% for group in sidebar_groups|override:all_sidebar_groups|limit:8 %}
                    <li>
                        {% group_avatar group %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="btn-toolbar btn-toolbar-right">
            <a href="{% url 'group-index' %}" class="btn btn-link">Alle Gruppen</a>

            {% has_perm 'entities.create_group' user as can_create_group %}
            {% if can_create_group %}
                <a href="{% url 'group-create' %}" class="btn btn-link">Neue Gruppe</a>
            {% endif %}
        </div>
    </div>
</div>
