{% load rules %}
{% has_perm 'entities.change_gestalt' user gestalt as can_edit_gestalt %}
{% with gestalt_url=gestalt.get_absolute_url %}
<div class="box box-striped">
    <div class="box-inner">
        <header class="box-header">
            <h2 class="box-title">
                <i class="sg sg-author"></i>
                Selbstauskunft
            </h2>
        </header>
        <div class="box-content">
            <div>
                <a href="{{ gestalt_url }}"><img src="{{ gestalt.avatar.url }}" title="{{ gestalt }}" class="pull-left"></a>
                <h3>
                    <a href="{{ gestalt_url }}">{{ gestalt }}</a>
                    {% if can_edit_gestalt %}
                        <a href="{% url 'gestalt-update' gestalt.pk %}"><i class="fa fa-pencil" title="Angaben bearbeiten"></i></a>
                    {% endif %}
                </h3>
                <p>{{ gestalt.about }}</p>
            </div>
        </div>
    </div>
</div>
{% endwith %}
