<div class="box box-striped">
    <div class="box-inner">
        <header class="box-header">
            <h2 class="box-title">
                <i class="sg sg-author"></i>
                Selbstauskunft
            </h2>
        </header>
        <div class="box-content">
            {% include "macros/profile_short.html" with gestalt=gestalt %}
        </div>
        <div class="btn-toolbar btn-toolbar-right">
            <a href="{{ gestalt.get_absolute_url }}" class="btn btn-link">Mehr von {{ gestalt }}</a>
        </div>
    </div>
</div>
