{% load rules %}
{% has_perm 'entities.create_group' user as can_create_group %}
<div class="box box-striped">
    <div class="box-inner">
        <header class="box-header">
            <h2 class="box-title">
                <i class="sg sg-group"></i>
                Gruppen
            </h2>
        </header>
        <div class="box-content">
            {% for group in sidebar_groups %}
            <a href="{% url 'group' group.slug %}"><img src="{{ group.avatar.url }}" title="{{ group }}"></a>
            {% endfor %}
        </div>
        <p>
        <a href="{% url 'group-index' %}" class="btn btn-default">Alle Gruppen</a>
        {% if can_create_group %}
        <a href="{% url 'group-create' %}" class="btn btn-default">Neue Gruppe</a>
        {% endif %}
        </p>
    </div>
</div>
