{% extends 'stadt/list.html' %}
{% load rules %}

{% block heading_toolbar %}
    {% has_perm 'account.signup' user as can_signup %}
    {% if can_signup %}
        <a href="{% url 'account_signup' %}" class="btn btn-ch">
            <span class="btn-label">
                Registrieren
            </span>
        </a>
    {% endif %}
{% endblock %}

{% block list_header %}
    {% if not group %}
        {% has_perm 'entities.change_gestalt' user gestalt as can_edit %}
        <div class="disclaimer disclaimer-standalone">
            Von den {{ gestalt_count }} <em>Gestalten</em> wirst du hier nicht alle finden. Jede <em>Gestalt</em> entscheidet
        für sich, ob sie ein öffentliches Profil haben möchte. Du kannst diese Einstellung in
            {% if can_edit %}
                <a href="{% url 'gestalt-update' request.user.gestalt.pk %}">
                    deinem Profil ändern.
                </a>
            {% else %}
                deinem Profil ändern.
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block list %}
    <ol class="profiles">
        {% for gestalt in gestalt_list %}
            <li>
                {% include 'entities/_gestalt_preview.html' with gestalt=gestalt link=True %}
            </li>
        {% endfor %}
    </ol>
{% endblock %}
