{% extends 'stadt/list.html' %}
{% load rules %}

{% block heading_toolbar %}
    {% has_perm 'account.signup' user as can_signup %}
    {% if can_signup %}
        <a href="{% url 'account_signup' %}" class="btn btn-default">Neue Gestalt</a>
    {% endif %}
{% endblock %}

{% block list %}
    <ol class="profiles">
        {% for gestalt in gestalt_list %}
            <li>
                {% include 'entities/_gestalt_preview.html' with gestalt=gestalt link=True %}
            </li>
        {% endfor %}
    </ol>
{% endblock %}
