{% extends 'stadt/list.html' %}
{% load rules thumbnail %}

{% block header %}
    {% has_perm 'entities.change_gestalt' user gestalt as can_edit %}
    {% has_perm 'entities.create_gestalt_message' user gestalt as can_create_message %}

    <header class="profile-header">
        <div class="profile-header-title-image">
            {% thumbnail gestalt.background '1140x456' crop="left center" as image %}
                <img src="{{ image.url }}" alt="Titelbild von {{ gestalt }}">
            {% empty %}
                <div class="disclaimer"></div>
            {% endthumbnail %}

            {% if can_edit %}
                <div class="btn-toolbar btn-toolbar-bottom btn-toolbar-fixed">
                    <a href="{% url 'gestalt-background-update' gestalt.pk %}" class="btn btn-backdrop btn-ts" title="Hintergrundbild ändern">
                        <i class="fa fa-2x fa-camera"></i>
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="profile-header-data">
            <div class="profile-header-title">
                <a href="{% url 'gestalt-avatar-update' gestalt.pk %}" class="avatar-edit-inline">
                    {% include 'entities/_gestalt_avatar.html' with gestalt=gestalt link=False %}
                </a>
                <h1>{{ gestalt }}</h1>
                <span class="clearfix"></span>
            </div>

            <div class="profile-header-info">
                <div class="profile-header-info-main">
                    <dl class="def def-icons">
                        {% if can_edit %}
                        <dt>
                            <i class="sg sg-private"></i>
                            <span class="sr-only">Privatsphäre</span>
                        </dt>
                        <dd>
                            {% if gestalt.public %}
                                Dein Profil ist <strong>öffentlich</strong>
                            {% else %}
                                Dein Profil ist <strong>nicht öffentlich</strong>
                            {% endif %}
                        </dd>
                        {% endif %}
                        <dt>
                            <i class="sg sg-gestalt"></i>
                            <span class="sr-only">Über mich</span>
                        </dt>
                        <dd data-component="user-content">
                            {% if not gestalt.about %}
                                {% if request.user.gestalt == gestalt %}
                                    Schreib doch ein paar Zeilen zu dir!
                                {% else %}
                                    Dieser Mensch hat nichts zu sich geschrieben.
                                {% endif %}
                            {% else %}
                                {{ gestalt.about }}
                            {% endif %}
                        </dd>
                    </dl>
                </div>

                <div class="profile-header-info-slug">
                    <dl class="def def-icons">
                        <dt>
                            <i class="sg sg-link"></i>
                            <span class="sr-only">URL auf Stadtgestalten</span>
                        </dt>
                        <dd>
                            {{ site.domain }}/gestalt/ {{ gestalt.user.username }}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </header>

    <div class="content-toolbar">
        <div class="btn-toolbar">
            {% if can_edit %}
                <div class="btn-group">
                    <a href="{% url 'gestalt-update' gestalt.pk %}" class="btn btn-default btn-sm">
                        <i class="sg sg-edit"></i>
                        Profil bearbeiten
                    </a>
                </div>
            {% endif %}

            {% if can_create_message %}
                <div class="btn-group">
                    <a href="{% url 'gestalt-message-create' gestalt.pk %}" class="btn btn-default btn-sm">
                        <i class="sg sg-message"></i>
                        Nachricht schreiben
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block heading %}
    {% has_perm 'entities.create_gestalt_content' user gestalt as can_create_content %}
    {% has_perm 'entities.create_gestalt_message' user gestalt as can_create_message %}

    <div class="content-header">
        <h2 class="content-classification">Beiträge</h2>
        <div class="btn-toolbar">
            {% if can_create_content %}
                <div class="dropdown-container">
                    <input type="checkbox" class="dropdown-state" id="content-new" />
                    <label class="btn btn-default" for="content-new">
                        Neuer Beitrag <span class="caret"></span>
                    </label>
                    <ul class="dropdown">
                        <li><a href="{% url 'article-create' %}">Artikel</a></li>
                        <li><a href="{% url 'event-create' %}">Ereignis</a></li>
                        <li><a href="{% url 'gallery-create' %}">Galerie</a></li>
                    </ul>
                </div>
            {% elif can_create_message %}
                <a href="{% url 'gestalt-message-create' gestalt.pk %}" class="btn btn-default">
                    Neue Nachricht
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
