{% extends 'stadt/stadt.html' %}
{% load rules %}

{% block heading %}
{% has_perm 'entities.create_group' user as can_create_group %}
{% if can_create_group %}
<a href="{% url 'group-create' %}" class="btn btn-primary pull-right">Neue Gruppe</a>
{% endif %}
<h1>{{ site.name }}</h1>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h2>Deine Gruppe gestalten</h2>
    <p>Ist Deine Gruppe schon auf Stadtgestalten?</p>
    <p><a href="#" class="btn btn-primary">Gruppe finden</a></p>
</div>
{% for group, content in groups %}
{% has_perm 'entities.create_group_message' user group as can_create_message %}
<div class="clearfix">
    <a href="{{ group.get_absolute_url }}">
        <img src="{{ group.avatar.url }}" class="pull-left">
    </a>
    <h3>
        <a href="{{ group.get_absolute_url }}">{{ group }}</a>
        <small>
            {{ group.members.count }} Mitglied{{ group.members.count|pluralize:'er' }},
            ? Aufmerksame,
            {{ group.content.count }} Beitr{{ group.content.count|pluralize:'ag,äge' }}
        </small>
    </h3>
    {% if can_create_message %}
    <p><a href="{% url 'message-create' group.pk %}">Nachricht schreiben</a></p>
    {% endif %}
    <ul>
        {% for content in content %}
        <li>
            <span class="text-muted">vor {{ content.date_created|timesince }}:</span>
            <a href="{{ content.get_absolute_url }}">{{ content }}</a>
            <span class="text-muted">
                {{ content.get_display_type_name }} von 
                <a href="{{ content.author.get_absolute_url }}">{{ content.author }}</a>
            </span>
        </li>
        {% endfor %}
    </ul>
    <hr>
</div>
{% endfor %}
{% endblock %}
