{% extends 'group.html' %}
{% load rules %}


{% block title %}{% endblock %}


{% block headcontent %}
{% has_perm 'entities.change_group' user group as can_edit_group %}
<div class="row">
    <div class="col-md-6">
        {% with head_gallery=group.groupcontent_set.pinned.galleries.first.content %}
        {% if head_gallery %}
        <img src="{{ head_gallery.image_set.first.image.url }}">
        {% endif %}
        {% endwith %}
    </div>
    <div class="col-md-6">
        {% if group.avatar %}
        <img src="{{ group.avatar.url }}" class="pull-right">
        {% endif %}
        <h1>
            {{ group.name }}
            {% if can_edit_group %}
            <a href="{% url 'group-update' group.pk %}"><i class="fa fa-pencil" title="Angaben bearbeiten"></i></a>
            {% endif %}
        </h1>
        <ul>
            <li>{{ group.address|linebreaks }}</li>
            <li><a href="{{ group.url }}">{{ group.url|cut:'http://' }}</a></li>
            <li>Gruppe gegründet: {{ group.date_founded|date:'Y' }}</li>
            <li>Gruppenmitglieder: {{ group.membership_set.count }}</li>
            <li>{{ current_site.domain }}/ {{ group.slug }}</li>
        </ul>
    </div>
</div>
{% endblock %}


{% block subcontent %}
{% has_perm 'content.create_group_content' user group as can_create_group_content %}
{% has_perm 'entities.change_group' user group as can_change_group %}

{% with pinned_content=group.groupcontent_set.pinned.without_galleries %}
{% if pinned_content %}
<section>
    <h2>Intro</h2>
    {% for content in pinned_content %}
    {% with content=content.content %}
    {% url 'group-content' group.slug content.slug as content_url %}
    {% include 'content/_content_preview.html' %}
    {% endwith %}
    {% endfor %}
</section>
{% endif %}
{% endwith %}

<section>
    {% if can_create_group_content %}
    <a href="{% url 'content-create' group.slug %}" class="btn btn-primary pull-right">Neuer Eintrag</a>
    {% endif %}
    <h2>Blog</h2>
    {% for content in group.groupcontent_set.unpinned %}
    {% with content=content.content %}
    {% url 'group-content' group.slug content.slug as content_url %}
    {% include 'content/_content_preview.html' %}
    {% endwith %}
    {% endfor %}
</section>
{% endblock %}
