{% extends 'group.html' %}
{% load rules %}

{% block title %}{% endblock %}

{% block headcontent %}
{% include 'entities/_group_head.html' %}
{% endblock %}


{% block subcontent %}
{% has_perm 'content.create_group_content' user group as can_create_group_content %}
{% has_perm 'entities.change_group' user group as can_change_group %}

{% if intro_content %}
<h2>Intro</h2>
{% for content in intro_content %}
{% include 'content/_content_preview.html' %}
{% endfor %}
{% endif %}

{% if can_create_group_content %}
<a href="{% url 'content-create' group.slug %}" class="btn btn-primary pull-right">Neuer Beitrag</a>
{% endif %}
<h2>Blog</h2>
{% for content in blog_content %}
{% include 'content/_content_preview.html' %}
{% endfor %}
{% endblock %}
