{% extends 'entities/entity_list.html' %}
{% load rules %}

{% block heading %}
{% has_perm 'entities.create_group' user as can_create_group %}
{% if can_create_group %}
<a href="{% url 'group-create' %}" class="btn btn-primary pull-right">Neue Gruppe</a>
{% endif %}
<h1>{{ site.name }}</h1>
{% endblock %}

{% block list_header %}
<div class="jumbotron">
    <h2>Deine Gruppe gestalten</h2>
    <p>Ist Deine Gruppe schon auf Stadtgestalten?</p>
    <p><a href="#" class="btn btn-primary">Gruppe finden</a></p>
</div>
{% endblock %}

{% block entity_info %}
{{ entity.members.count }} Mitglied{{ entity.members.count|pluralize:'er' }},
? Aufmerksame,
{{ entity.content.count }} Beitr{{ entity.content.count|pluralize:'ag,äge' }}
{% endblock %}

{% block entity_contact %}
{% has_perm 'entities.create_group_message' user entity as can_create_message %}
{% if can_create_message %}
<p><a href="{% url 'message-create' entity.pk %}">Nachricht schreiben</a></p>
{% endif %}
{% endblock %}

{% block content_info %}
{{ content.get_display_type_name }} von 
<a href="{{ content.author.get_absolute_url }}">{{ content.author }}</a>
{% endblock %}
