{% extends 'stadt/form.html' %}
{% load crispy_forms_tags rules %}

{% block heading %}
{% has_perm 'entities.create_group' user as can_create_group %}
{% if can_create_group %}
<a href="{% url 'group-create' %}" class="btn btn-primary pull-right">Neue Gruppe</a>
{% endif %}
<h1>Gruppen</h1>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h2>Deine Gruppe gestalten</h2>
    <p>Ist Deine Gruppe schon auf Stadtgestalten?</p>
    {% crispy form %}
</div>
{% if query and not exact_match %}
<p>Die Gruppe <em>{{ query|title }}</em> gibt es noch nicht. <a href="{% url 'group-create' %}?name={{ query|title }}">Möchtest Du sie anlegen?</a></p>
{% endif %}
{% for result in object_list %}
{% with group=result.object %}
{% include 'entities/_group_preview.html' %}
{% endwith %}
{% endfor %}
{% endblock %}
