{% extends 'stadt/stadt.html' %}

{% block content %}
<h2>Verantwortlichkeiten</h2>
<p>Die <i>stadtgestalten</i> (stadtgestalten.org) sind ein loser Zusammenschluss von Enthusiasten, Gestaltern und Programmierern aus dem Umfeld verschiedener aktiver Gruppen in Rostock.</p>
<p>Zweck des Zusammenschlusses ist der Betrieb dieser Online-Plattform, um den aktiven Gruppen, Initiativen, Vereinen und Einzelpersonen der Stadt Rostock die Möglichkeit zu geben, sich schnell und einfach einer breiten Öffentlichkeit vorzustellen, sich gegenseitig zu informieren, auszutauschen und lokal zu vernetzen.</p>
<p><strong>Für die Inhalte aller Beiträge sowie die Selbstdarstellung der Personen sind diese jeweils ausschließlich selbst verantwortlich.</strong> Die Entwickler und Betreiber übernehmen keine Haftung für die Inhalte.</p>
<p><i>stadtgestalten</i> möchte Aktivist*innen die nötigen Werkzeuge in die Hände zu geben, um die Stadt Rostock lebenswerter für alle zu gestalten. Wir unterstützen alle Bewegungen mit emanzipatorischem Charakter. Ansätzen, die Ausgrenzung und Unterdrückung fördern, möchte <i>stadtgestalten</i> kein Zuhause geben.</p>

<h3>Technische Infrastruktur, Entwicklung und inhaltliche Begleitung</h3>
<p>
sense.lab e.V.<br>
Friedrichstrasse 23<br>
18057 Rostock<br>
<a href="https://senselab.org/">senselab.org</a>
</p>

<p>
Die Webseite <i>stadtgestalten.org</i> wird mittels der gleichnamigen Software <a href="https://git.hack-hro.de/stadtgestalten/stadtgestalten">stadtgestalten</a> bereitgestellt. Wir entwickeln diese Software aktiv weiter und veröffentlichen sie unter einer <a href="https://www.gnu.org/licenses/agpl.html">freien Lizenz (AGPL)</a>. <a href="https://git.hack-hro.de/stadtgestalten/stadtgestalten">Bringe Dich gern in die Entwicklung ein!</a>
</p>

{% endblock %}
