<h3>{{ month }}</h3>
<table class="table">
    <tr>
        {% for day in days %}
        <th>{{ day }}</th>
        {% endfor %}
    </tr>
    {% for week in weeks %}
    <tr>
        {% for day in week %}
        <td class="{% if day.today %}active{% endif %} {% if not day.in_month %}text-muted{% endif %}">
            {% if day.events %}
            {% with title=day.previews|join:', '|truncatechars:50 %}
            {% if day.events|length_is:1 %}
            <a href="{{ day.events.0.get_absolute_url }}" title="{{ title }}">
            {% else %}
            <a href="#" title="{{ title }}">
            {% endif %}
            {% endwith %}
            {% endif %}
            {{ day.day }}
            {% if day.events %}
            </a>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
