{% load content %}
<h3>{{ month }}</h3>
<table class="table">
    <tr>
        {% for day in days %}
        <th>{{ day }}</th>
        {% endfor %}
    </tr>
    {% for week in weeks %}
    <tr>
        {% for day in week %}
        <td class="{% if day.today %}active{% endif %} {% if not day.in_month %}text-muted{% endif %}">
            {% if day.url %}
            <a href="{{ day.url }}" title="{{ day.events|preview|truncatechars:50 }}">
            {% endif %}
            {{ day.day }}
            {% if day.url %}
            </a>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
