{% load calendar humanize rules %}
{% has_perm 'content.create_content' user as can_create_content %}
<div class="box box-striped">
    <div class="box-inner">
        <header class="box-header">
            <h2 class="box-title">
                <i class="sg sg-calendar"></i>
                Kalender
            </h2>
        </header>
        <div class="box-content">
            {% calendar calendar_events %}
            <ul>
                {% for event in upcoming_events %}
                <li>
                    {{ event.time|naturalday:'DATE_FORMAT'|title }},
                    {{ event.time|time:'TIME_FORMAT' }} Uhr<br>
                    <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <p>
        <a href="{% url 'event-index' %}" class="btn btn-default">Alle Ereignisse</a>
        {% if can_create_content %}
        <a href="{% url 'event-create' %}{% if group %}?group={{ group.slug }}{% endif %}" class="btn btn-default">
            Neues Ereignis
        </a>
        {% endif %}
        </p>
    </div>
</div>
