Source: grouprise
Section: python
Priority: optional
Maintainer: grouprise Maintainers <mail@grouprise.org>
Build-Depends:
 debhelper (>= 9),
 dh-exec,
 dh-python,
 nodejs,
 python3-flake8,
 python3-sphinx,
 wget,
# These should be kept in sync with the dependencies of our
# primary grouprise binary package.
# See also: make.d/ci.mk
 python3-all,
 python3-aiosmtpd,
 python3-bleach,
 python3-django (>= 2.2),
 python3-django-allauth,
 python3-django-csp,
 python3-django-filters (>= 2.1.0),
 python3-django-haystack,
 python3-django-imagekit,
 python3-django-rules,
 python3-django-taggit,
 python3-djangorestframework (>= 3.9),
 python3-feedparser,
 python3-html2text,
 python3-markdown,
 python3-pil,
 python3-recommonmark,
 python3-redis,
 python3-requests,
 python3-setuptools,
 python3-six,
 python3-tz,
 python3-xapian-haystack,
# The following packages are indirectly required by the dependencies above.
 python3-dateutil,
 python3-icalendar,
Standards-Version: 3.9.6

Package: grouprise
Architecture: all
Depends:
 ${misc:Depends},
 adduser,
 grouprise-dependencies,
 moreutils,
# Python dependencies should be added to the Build-Depends
# field of the source package too!
# See also: make.d/ci.mk
 python3-all,
 python3-aiosmtpd,
 python3-bleach,
 python3-django (>= 2.2),
 python3-django-allauth,
 python3-django-csp,
 python3-django-filters (>= 2.1.0),
 python3-django-haystack,
 python3-django-imagekit,
 python3-django-rules,
 python3-django-taggit,
 python3-djangorestframework (>= 3.9),
 python3-feedparser,
 python3-html2text,
 python3-markdown,
 python3-pil,
 python3-recommonmark,
 python3-redis,
 python3-requests,
 python3-setuptools,
 python3-six,
 python3-tz,
 python3-xapian-haystack,
# The following packages are indirectly required by the dependencies above.
 python3-dateutil,
 python3-icalendar,
Recommends:
 ${misc:Recommends},
 ghostscript,
 postgresql-client-common,
 python3-psycopg2,
 redis-server,
 sqlite3,
 uwsgi,
 uwsgi-plugin-python3,
 uwsgi-plugin-router-access,
Conflicts: stadtgestalten (<<3.0.0~1-1)
Replaces: stadtgestalten (<<3.0.0~1-1)
Description: Web platform that enables social action and solidarity
 Grouprise is a web-based platform providing tools for groups and
 initiatives in a local context.
 .
 This package contains the configuration, services and code for running
 grouprise.

Package: grouprise-doc
Architecture: all
Description: Web platform that enables social action and solidarity
 Grouprise is a web-based platform providing tools for groups and
 initiatives in a local context.
 .
 This package contains documentation for development and administration.

Package: grouprise-dependencies
Architecture: all
Depends:
 ${misc:Depends},
Description: Web platform that enables social action and solidarity
 Grouprise is a web-based platform providing tools for groups and
 initiatives in a local context.
 .
 This package contains additional dependencies in the form of a
 pre-packaged python virtual environment (venv) for running the
 grouprise application.

Package: stadtgestalten
Architecture: any
Depends: grouprise
Description: transitional dummy package
 This is a transitional dummy package, it can be safely removed.
 See the "grouprise" package instead.
