Source: grouprise
Section: python
Priority: optional
Maintainer: grouprise Maintainers <mail@grouprise.org>
Build-Depends:
 debhelper (>= 12),
 dh-exec,
 dh-python,
 graphviz,
# Development files for libgdal are needed, because pip-compile is unable
# to get a version for python3-gdal without it. That's probably a packaging bug.
 libgdal-dev,
 libsqlite3-mod-spatialite,
 nodejs,
 python3-flake8,
 python3-sphinx-markdown-tables,
# "wheel" is required for makefilet
 python3-wheel,
 shellcheck,
 sphinx,
 wget,
# These should be kept in sync with the dependencies of all related binary packages.
# See also: make.d/ci.mk
 python3-all,
 python3-aiosmtpd,
 python3-bleach,
 python3-django (>= 2:2.2),
 python3-django-allauth,
 python3-django-csp,
 python3-django-debug-toolbar,
 python3-django-filters (>= 2.1.0),
 python3-django-haystack,
 python3-django-imagekit,
 python3-django-ipware,
 python3-django-rules,
 python3-django-taggit,
 python3-djangorestframework (>= 3.9),
 python3-feedparser,
 python3-gdal,
 python3-html2text,
 python3-markdown,
 python3-matrix-nio,
 python3-pil,
 python3-recommonmark,
 python3-ruamel.yaml,
 python3-setuptools,
 python3-six,
 python3-tz,
 python3-xapian-haystack,
# The following packages are indirectly required by the dependencies above.
 python3-dateutil,
 python3-icalendar,
Standards-Version: 4.5.0

Package: grouprise
Architecture: all
Depends:
 ${misc:Depends},
 adduser,
 debconf,
 grouprise-dependencies,
 grouprise-db-postgresql | grouprise-db-sqlite,
 moreutils,
# Python dependencies should be added to the Build-Depends field of the source package too!
# See also: make.d/ci.mk
 python3-all,
 python3-bleach,
 python3-django (>= 2.2),
 python3-django-allauth,
 python3-django-csp,
 python3-django-debug-toolbar,
 python3-django-filters (>= 2.1.0),
 python3-django-haystack,
 python3-django-imagekit,
 python3-django-ipware,
 python3-django-rules,
 python3-django-taggit,
 python3-djangorestframework (>= 3.9),
 python3-feedparser,
 python3-html2text,
 python3-markdown,
 python3-pil,
 python3-recommonmark,
 python3-requests,
 python3-ruamel.yaml,
 python3-setuptools,
 python3-six,
 python3-tz,
 python3-xapian-haystack,
# The following packages are indirectly required by the dependencies above.
 python3-dateutil,
 python3-icalendar,
Recommends:
 ${misc:Recommends},
 ghostscript,
 python3-gdal,
 uwsgi,
 uwsgi-plugin-python3,
 uwsgi-plugin-router-access,
Suggests:
 ${misc:Suggests},
 python3-sentry-sdk,
Conflicts: stadtgestalten (<<3.0.0~1-1)
Replaces: stadtgestalten (<<3.0.0~1-1)
Description: Web platform that enables social action and solidarity
 Grouprise is a web-based platform providing tools for groups and
 initiatives in a local context.
 .
 This package contains the configuration, services and code for running
 grouprise.

Package: grouprise-db-postgresql
Architecture: all
Depends:
 ${misc:Depends},
 grouprise,
 postgresql-client,
 python3-psycopg2,
Recommends:
 postgresql-postgis,
Description: Dependency package for PostgreSQL support in grouprise
 Grouprise is a web-based platform providing tools for groups and
 initiatives in a local context.
 .
 This package installs everything what's needed for grouprise to work
 with PostgreSQL as underlying data storage engine.

Package: grouprise-db-sqlite
Architecture: all
Depends:
 ${misc:Depends},
 grouprise,
 sqlite3,
Recommends:
 libsqlite3-mod-spatialite,
Description: Dependency package for SQLite support in grouprise
 Grouprise is a web-based platform providing tools for groups and
 initiatives in a local context.
 .
 This package installs everything what's needed for grouprise to work
 with SQLite as underlying data storage engine.

Package: grouprise-lmtpd
Architecture: all
Depends: grouprise, python3-aiosmtpd
Description: Handling of incoming mails for the grouprise platform
 Grouprise is a web-based platform providing tools for groups and
 initiatives in a local context.
 .
 This package provides a local LMTP services for receiving email
 submission from a local mail server (e.g. postfix).

Package: grouprise-doc
Architecture: all
Description: Documentation for the grouprise platform
 Grouprise is a web-based platform providing tools for groups and
 initiatives in a local context.
 .
 This package contains documentation for development and administration.

Package: grouprise-dependencies
Architecture: all
Depends:
 ${misc:Depends},
Description: Dependencies for the grouprise package
 Grouprise is a web-based platform providing tools for groups and
 initiatives in a local context.
 .
 This package contains additional dependencies in the form of a
 pre-packaged python virtual environment (venv) for running the
 grouprise application.

Package: grouprise-matrix
Architecture: all
Depends:
 jq,
 moreutils,
 python3-matrix-nio,
Recommends:
 element-web-installer,
 matrix-synapse,
# the authlib module is required by matrix-synapse, if OIDC is enabled via grouprise
 python3-authlib,
Description: Matrix integration for grouprise platform
 Grouprise is a web-based platform providing tools for groups and
 initiatives in a local context.
 .
 This package contains necessary services and files for configuring
 a Matrix server to be used as a chat manager for grouprise.

Package: element-web-installer
Architecture: all
Depends:
 curl,
 debconf,
 gpgv,
 jq,
 moreutils,
Suggests: httpd
Description: Installer for the Matrix web client Element
 Download the Element web client and keep it updated.
 Local configuration is applied automatically.

Package: stadtgestalten
Architecture: any
Depends: grouprise
Description: transitional dummy package
 This is a transitional dummy package, it can be safely removed.
 See the "grouprise" package instead.
