[Unit]
Description=grouprise huey consumer
PartOf=grouprise.service
ReloadPropagatedFrom=grouprise.service

[Service]
User=_grouprise
Group=_grouprise
ExecStart=/usr/bin/grouprisectl run_huey -w 2
Restart=always
PIDFile=/run/grouprise/tasks.pid

[Install]
WantedBy=multi-user.target
