[Unit]
Description=grouprise huey consumer
PartOf=grouprise.service
ReloadPropagatedFrom=grouprise.service

[Service]
User=_grouprise
Group=_grouprise
ExecStart=/usr/bin/grouprisectl run_huey
Restart=always
RestartSec=60s
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
