[Unit]
Description=grouprise web service
After=syslog.target

[Service]
ExecStartPre=mkdir -p /var/log/grouprise
ExecStartPre=sh -c "mkdir -p /run/grouprise/django-cache && chown _grouprise: /run/grouprise/django-cache"
ExecStart=/usr/bin/uwsgi --ini /etc/grouprise/uwsgi.ini
RuntimeDirectory=grouprise
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
