[Unit]
Description=grouprise web service
After=syslog.target

[Service]
User=_grouprise
Group=_grouprise
EnvironmentFile=-/etc/default/grouprise
EnvironmentFile=-/etc/default/grouprise.d/*.default
ExecStart=/usr/bin/uwsgi --ini /etc/grouprise/uwsgi.ini
ExecStartPost=/bin/rm -f /etc/grouprise/maintenance_mode
ExecStopPost=/bin/touch /etc/grouprise/maintenance_mode
ExecReload=/bin/kill -HUP $MAINPID
RuntimeDirectory=grouprise grouprise/django-cache
LogsDirectory=grouprise
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
