[Unit]
Description=grouprise web service
After=syslog.target

[Service]
User=_grouprise
Group=_grouprise
ExecStart=/usr/bin/uwsgi --ini /etc/grouprise/uwsgi.ini
RuntimeDirectory=grouprise
LogsDirectory=grouprise
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
