[Unit]
Description=Grouprise LMTP Mail Handler
After=network-online.target
Wants=network-online.target
PartOf=grouprise.service
ReloadPropagatedFrom=grouprise.service

[Service]
User=_grouprise
Group=_grouprise
ExecStart=/usr/bin/grouprisectl run_lmtpd localhost 1025
Restart=on-failure

[Install]
WantedBy=multi-user.target
