#!/usr/bin/make -f

# The packaging of grouprise is a bit tricky:
#   * dependencies need to be packaged in a virtualenv, since a few packages are missing in Debian
#   * grouprise's build system is more focussed on "make" instead of setuptools
#
# Everything is prepared and installed using "make".  Afterwards (during "override_dh_install")
# some cruft is removed before the build result is installed (see debian/*.install).

export DH_VERBOSE = 1

%:
	dh $@

# distribute the directories among the packages
override_dh_install:
	# remove compiled python modules
	find debian/tmp/ build/venv/lib -type f -name "*.pyc" -delete
	find debian/tmp/ build/venv/lib -type d -name "__pycache__" -delete
	# Remove modules that are only used during build time or binary modules, that are installed
	# via Debian package dependencies.
	for module in distutils PIL pip pkg_resources setuptools wheel; do \
	    $(RM) -r build/venv/lib/python*/site-packages/$$module/; \
	    $(RM) -r build/venv/lib/python*/site-packages/$$module-*.dist-info/; \
	done
	# process the debian/*.install files
	dh_install

override_dh_auto_build:
	$(MAKE) virtualenv-update
	dh_auto_build

override_dh_fixperms:
	dh_fixperms
	chmod 600 debian/grouprise/etc/grouprise/settings.py

override_dh_auto_test:
	# grouprise's tests fail with:
	#     django.db.utils.OperationalError: no such table: main.auth_user__old
	# Thus we skip the tests for now.
	true dh_auto_test
	# verify that at least some modules are part of the package
	for module in aiosmtplib django_ical django_mailbox huey mdx_unimoji schulze randomcolor; do \
		find debian/grouprise-dependencies/usr/share/grouprise/dependencies/ \
				-maxdepth 1 -mindepth 1 -type d -name "$$module" \
			| grep -q . || { echo >&2 "Missing module '$$module' in package grouprise-dependencies"; false; break; }; done
