<div id="div_{{ field.id_for_label }}" class="form-group{% if field.errors %} has-error{% endif %}">
    {% if not hide_label %}
        <label for="{{ field.id_for_label }}" class="control-label">
            {{ field.label }}
        </label>
    {% endif %}
    {% if prefix %}
    <div class="input-group">
        <span class="input-group-addon">{{ prefix }}</span>
    {% endif %}
        {{ field }}
    {% if prefix %}
    </div>
    {% endif %}
    {% if help_text or field.help_text %}
        <span class="help-block">
            {% if help_text %}
                {{ help_text }}
            {% else %}
                {{ field.help_text }}
            {% endif %}
        </span>
    {% endif %}
    {% for error in field.errors %}
        <span class="help-block"><strong>{{ error }}</strong></span>
    {% endfor %}
</div>
