<div class="nav-row">
    <div class="container">
        <div class="nav-container" data-component="menu">
            <input type="checkbox" class="dropdown-state" id="menu-main-state" data-menu-switch>

            <a class="nav-logo" href="{% url 'index' %}">
                {% load staticfiles %}
                <img src="{% static STADTGESTALTEN_LOGO_URL %}" alt="{{ GROUPRISE_SITE_NAME }}"/>
            </a>

            <label for="menu-main-state" class="nav-state-toggle nav-switch" aria-label="Zeige Menü" data-component="openable" data-openable-target="#menu-main">
                <span class="hamburger">
                    <span class="hamburger-lines" aria-hidden="true"></span>
                </span>
            </label>

            <nav class="nav" id="menu-main">
                <div class="nav-inner">
                    <ul class="nav-menu">
                        {% block menu_items %}{% endblock %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
