{% extends 'stadt/stadt.html' %}

{% block heading_title %}
    <h1 class="content-classification">Hups!</h1>
{% endblock %}

{% block content %}
    <h2>Die gewünschte Seite gibt es nicht!</h2>
    <p>Das tut uns leid.</p>
    <div class="game-container">
        <p>Wie wäre es mit einer Runde Snake?</p>
        <canvas data-component="snake" class="game game-snake"></canvas>
    </div>
    {% if about_group %}
        <p>Wenn Du glaubst, dass dies ein Fehler ist, <a href="{% url 'create-group-conversation' about_group.pk %}">schreib uns bitte eine Nachricht</a>.</p>
    {% endif %}
{% endblock %}
