{% load content %}

<div class="media media-comment" id="{% ref text %}">
    <div class="media-image">
        {% include 'entities/_gestalt_avatar.html' with gestalt=text.author link=True %}
    </div>
    <div class="media-content">
        <div class="media-body" data-component="user-content" data-author="{{ text.author }}" data-permalink="{{ request.path }}#{% ref text %}">
            {% markdown text.text heading_baselevel=3 %}
        </div>
        <footer class="media-footer">
            <time data-component="time time-from" datetime="{{ text.time_created|date:"c" }}" title="{{ text.time_created|date:'d. F Y H:i' }}">
                {{ text.time_created|date:'d. F Y H:i' }}
            </time> ·
            <a href="{{ text.author.get_absolute_url }}">{{ text.author }}</a>
            <div class="pull-right">
                <a class="link-plain" href="{{ request.path }}#{% ref text %}">Permalink</a> ·
                <a class="js" data-component="cite" href="#{% ref text %}">Zitieren</a>
            </div>
        </footer>
    </div>
</div>
