{% load rules %}

<div class="content-meta">
    <div class="content-meta-avatar">
        {% if association.entity.is_group %}
            {% include 'groups/_avatar.html' with group=association.entity link=True size=48 %}
        {% else %}
            {% include 'gestalten/_avatar.html' with gestalt=association.entity link=True size=48 %}
        {% endif %}
    </div>
    <div class="content-meta-info">
        <div class="content-meta-author">
            {% link association.entity %}

            {% if association.entity.is_group %}
                {% has_perm 'memberships.view_list' user association.entity as can_view_members %}
                {% if can_view_members %}
                    {% with authors=association.container.get_version_authors %}
                        {% if authors.count == 1 %}
                            (<a href="{{ authors.first.get_absolute_url }}" title="@{{ authors.first.slug }}">{{ authors.first }}</a>)
                        {% else %}
                            ({{ authors.count }} Autorinnen)
                        {% endif %}
                    {% endwith %}
                {% endif %}

                {% has_perm 'subscriptions.create' user association.entity as can_subscribe %}
                {% if can_subscribe %}
                    ·
                    <a href="{% url 'group-subscribe' association.entity.slug %}" class="content-meta-author-action">Gruppe abonnieren</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="content-meta-extra">
            {% time association.container.versions.first.time_created %}
            {% with num_comments=association.container.contributions.count %}
                {% if num_comments > 0 %}
                    &nbsp;
                    <i class="sg sg-comments" title="Öffentliche Kommentare"></i> {{ num_comments }}
                {% endif %}
            {% endwith %}
            {% block content_meta_extra %}{% endblock %}
        </div>
    </div>
</div>
