{% extends 'associations/detail.html' %}
{% load rules %}
{% load i18n %}

{% block meta %}
    {% include 'content/_meta.html' with content=association.container %}
{% endblock %}

{% block heading_title %}
    <span class="content-classification">{% translate 'Contribution' %}</span>
    <span class="decoration-icon sg-pen" role="presentation"></span>
{% endblock %}

{% block heading_toolbar %}
    <div class="btn-toolbar">
        {% has_perm 'content.change' user association as can_edit %}
        {% if can_edit %}
        <a href="{% url 'update-content' association.entity.slug association.slug %}" class="btn btn-ch">
            <span class="btn-label">{% translate 'Edit' %}</span>
        </a>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {{ block.super }}
    {% if association.container.image %}
        {% include 'content/_sidebar_image.html' with image=association.container.image %}
    {% endif %}
{% endblock %}

{% block content %}
    <article class="content">
        <header class="content-header">
            {% block content_meta %}{% include 'content/_info.html' %}{% endblock %}
            <span class="content-type" title="{% if association.public %}{% translate 'Contribution is visible to the public' %}{% else %}{% translate 'Contribution is only visible for members of the group' %}{% endif %}">
                {% block content_type %}
                    <span>{% translate 'Contribution' %}</span>
                {% endblock %}
            </span>
            {% include 'content/_content_visibility.html' %}
        </header>

        <div class="content-body">
            <h1 class="content-title">
                {{ association.container.title }}
            </h1>
            {% block user_content_header %}{% endblock %}
            {% block content_text %}
                {% markdown association.container.versions.last.text heading_baselevel=2 %}
            {% endblock %}

            {% if association.entity.is_group %}
                {% load rules %}
                {% has_perm 'subscriptions.create' user association.entity as can_subscribe %}
                {% if can_subscribe %}
                    <div class="content-subscribe">
                        {% if user.is_authenticated %}
                            <form action="{% url 'group-subscribe' association.entity.slug %}"
                                method="post">
                                {% csrf_token %}
                                <button class="btn btn-default btn-sm">
                                    <i class="sg sg-subscription"></i> {% translate 'Subscribe to this group' %}
                                </button>
                            </form>
                        {% else %}
                            <a href="{% url 'group-subscribe' association.entity.slug %}"
                                class="btn btn-default btn-sm">
                                <i class="sg sg-subscription"></i> {% translate 'Subscribe to this group' %}
                            </a>
                        {% endif %}
                        <small>
                            {% translate 'to receive prospective contribution of the group' %}
                            <a href="{{ association.entity.get_absolute_url }}">@{{ association.entity.slug }}</a>
                            {% translate 'by email' %}
                        </small>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <div class="clearfix"></div>

        <footer class="content-footer">
            <h2 class="content-section-header">
                <span class="content-classification">Kommentare</span>
                <span class="decoration-icon sg-comments" role="presentation"></span>
            </h2>
            <div class="conversation" data-component="conversation" id="{% ref association.container %}">
                <ol class="medias">
                    {% for comment in view.get_contributions %}
                        {% url 'content-permalink' association.pk as permalink_url %}
                        {% include 'contributions/_contribution.html' with contribution=comment permalink_url=permalink_url %}
                    {% endfor %}
                    {% has_perm 'content.comment' user association as can_comment %}
                    {% if can_comment %}
                    <li>
                        {% include "contributions/_create_text.html" with form=form author=user.gestalt submit_label='Kommentieren' %}
                    </li>
                    {% else %}
                    <li>
                        {% load auth %}
                        <a href="{% login_url %}" class="btn btn-default">Anmelden zum Kommentieren</a>
                    </li>
                    {% endif %}
                </ol>
            </div>
        </footer>
    </article>
{% endblock %}
