{% extends 'stadt/stadt.html' %}

{% block heading_title %}
    <span class="content-classification">Beitrag</span>
{% endblock %}

{% block sidebar %}
    {% include 'associations/_sidebar_entity.html' with entity=view.entity %}
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" {% block form_attrs %}{% endblock %}>
        {% csrf_token %}
        <div>
            {% include 'core/_field.html' with field=form.title %}
            <div class="form-group">
                <div class="editor-container">
                    {% include 'core/_field.html' with field=form.text %}
                </div>

                <p class="help-block">
                    Einfacher Text wird automatisch formatiert.
                    {% if form.fields.text.widget.has_buttons %}
                        Besondere Formatierungen lassen sich mit den Knöpfen oben erzeugen.
                    {% endif %}
                    Erläuterungen gibt es in der
                    <a href="/stadt/markdown/"><i class="sg sg-info">&nbsp;</i>Hilfe zur Textauszeichnung</a>.
                </p>
            </div>
            {% block form_extra %}{% endblock %}
        </div>
        {% if form.time %}
            <div class="section section-event section-event-time">
                <div class="row">
                    <div class="col-md-6">
                        {% include 'core/_field.html' with field=form.place %}
                    </div>
                    <div class="col-md-6">
                        <div data-component="event-time">
                            {% include 'core/_field.html' with field=form.time %}
                            {% include 'core/_field.html' with field=form.until_time %}
                            {% include 'core/_field.html' with field=form.all_day %}
                        </div>
                    </div>
                </div>
            </div> 
        {% endif %}

        <div class="section section-publish section-article" data-component="publish">
            {% block content_submission_header %}<h2>Beitragseinstellungen</h2>{% endblock %}
            <div class="row">
                <div class="col-md-7">
                    {% if form.image %}
                        {% include 'core/_field.html' with field=form.image %}
                    {% endif %}
                    {% block extra_settings_left %}{% endblock %}
                </div>
                <div class="col-md-5">
                    <button class="btn btn-primary btn-block" data-publish-submit>
                        {% block submit_label %}{% endblock %}
                    </button>
                    {% if form.public %}
                        {% include 'core/_checkbox_field.html' with field=form.public %}
                    {% endif %}
                    {% if form.pinned %}
                        <div class="form-group">
                            {% include 'core/_checkbox_field.html' with field=form.pinned %}
                        </div>
                    {% endif %}
                    {% block extra_settings_right %}{% endblock %}
                </div>
            </div>
        </div>

        {% block extra_form_content %}{% endblock %}
    </form>
{% endblock %}
