{% extends 'stadt/stadt.html' %}
{% load i18n %}
{% load events groups rules %}

{% block heading_title %}
    {% include 'core/_heading.html' with title='Beiträge' icon='sg-pen' %}
{% endblock %}

{% block heading_toolbar %}
    {% has_perm 'content.create' user as can_create %}
    {% if can_create %}
        {% dropdown 'content-new' '<i class="sg sg-add"></i> Beitrag' %}
            <li><a href="{% url 'create-article' %}"><i class="sg sg-fw sg-article"></i> Artikel schreiben</a></li>
            <li><a href="{% url 'create-event' %}"><i class="sg sg-fw sg-event"></i> Veranstaltung eintragen</a></li>
            <li><a href="{% url 'create-gallery' %}"><i class="sg sg-fw sg-gallery"></i> Bildergalerie anlegen</a></li>
            {% comment %}
            <li><a href="{% url 'create-poll' %}"><i class="sg sg-fw sg-poll"></i> {% translate 'Start a (date) poll' %}</a></li>
            {% endcomment %}
            {% if about_group %}
                <li><a href="{% url 'content' about_group.slug 'tools' %}#8-werkzeuge-fur-andere-anwendungsfalle"><i class="sg sg-fw sg-tools"></i> Weitere Möglichkeiten</a></li>
            {% endif %}
        {% enddropdown %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% sidebar_calendar paginator.object_list component_id='content-calendar' %}
    {% sidebar_groups user %}
{% endblock %}

{% block content %}
    {% comment %}
    {% if show_filter %}
        <div class="content-filter" data-component="content-order">
            <form>
                {{ filter.form }}
                <button>Anzeigen</button>
            </form>
        </div>
    {% endif %}
    {% endcomment %}
    {% block content_list %}
        <div class="content-list">
            {% include 'content/_list.html' with associations=object_list %}
            {% pagination _('More Items') %}
        </div>
    {% endblock %}
    {% block matrix_chat_link %}
        {% test_rule "matrix_chat.can_view_public_feed" as matrix_chat_show_public_feed_link %}
        {% if matrix_chat_show_public_feed_link %}
            <div style="text-align:center; margin:1em">
                <a href="/stadt/chat-rooms/public-feed/" alt="{% translate 'Visit the Matrix chat room and receive notifications for any new public content' %}">
                    {% translate 'Receive Chat Notifications for new Content' %}
                </a>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
