{% extends 'stadt/stadt.html' %}
{% load i18n %}

{% block title %}Gespräche - {{ block.super }}{% endblock %}
{% block menu %}{% with menu='conversation' %}{{ block.super }}{% endwith %}{% endblock %}
{% block heading_title %}
    {% include 'core/_heading.html' with title='Aktivität' icon='sg-comments' %}
{% endblock %}

{% block heading_toolbar %}
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-ch">
            <span class="btn-label">Alle gelesen</span>
        </button>
    </form>
{% endblock %}

{% block content %}
    <ol class="thread-preview-list">
        {% for association in association_list %}
            <li>
                {% load associations %}
                {% include 'associations/_activity_preview.html' with group_avatar=True unread=association|unread:user.gestalt %}
            </li>
        {% endfor %}
    </ol>

    {% pagination _('More Activities') %}
{% endblock %}
