{% extends 'associations/detail.html' %}

{% block meta %}
    {% include 'articles/_meta.html' with content=association.container %}
{% endblock %}

{% block menu %}{% menu 'article' association.entity %}{% endblock %}

{% block heading_title %}
    {% with title="Beitrag" %}{{ block.super }}{% endwith %}
    <div class="btn-toolbar">
        {#{% include_fragments 'content-actions' %}#}
    </div>
{% endblock %}

{% block content %}
    <article class="content">
        <header class="content-teaser">
            {% include 'content/_info.html' %}
            <span class="content-type" title="{% if association.public %}Beitrag ist öffentlich sichtbar{% else %}Beitrag ist nur für Gruppenmitglieder sichtbar{% endif %}">
                <i class="sg sg-content-type-article"></i>
                <span>{% if not association.public %}Interner {% endif %}Artikel</span>
            </span>
        </header>
        
        <div class="content-body" data-component="user-content">
            <h1 class="content-title">
                {{ association.container.title }}
            </h1>
            {% markdown association.container.texts.first.text heading_baselevel=2 %}
        </div>

        <footer class="content-footer">
            <h2>Kommentare</h2>
            <ol class="medias">
                {% for comment in association.container.texts.all|slice:'1:' %}
                    <li>
                        {% include 'texts/_text.html' with text=comment only %}
                    </li>
                {% endfor %}
                {% comment %}
                {% if can_reply %}
                <li>
                    {% include "conversations/_reply.html" with form=form author=user.gestalt %}
                </li>
                {% endif %}
                {% endcomment %}
            </ol>
        </footer>
    </article>
{% endblock %}
