{% extends 'stadt/stadt.html' %}
{% load events groups rules %}

{% block title %}Artikel - {{ block.super }}{% endblock %}
{% block menu %}{% with menu='article' %}{{ block.super }}{% endwith %}{% endblock %}

{% block heading_title %}
    {% include 'core/_heading.html' with title='Artikel' icon='sg-pen' %}
{% endblock %}

{% block heading_toolbar %}
    {% has_perm 'content.create' user as can_create %}
    {% if can_create %}
        {% url 'create-article' as url %}
        {% include 'core/_toolbutton.html' with label='Neuer Artikel' url=url %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% sidebar_calendar view.get_content component_id='articles-calendar' %}
    {% sidebar_groups user %}
{% endblock %}

{% block content %}
    <div class="content-list">
        <ol class="content-preview-list">
            {% for association in association_list %}
                <li>{% include 'articles/_preview.html' %}</li>
            {% endfor %}
        </ol>

        {% pagination 'Weitere Artikel' %}
    </div>
{% endblock %}
