{% extends 'content/list.html' %}

{% block title %}{{ view.tag }} - {{ block.super }}{% endblock %}
{% block menu %}{% menu %}{% endblock %}
{% block breadcrumb %}{% breadcrumb 'Schlagworte' view.tag %}{% endblock %}

{% block heading_title %}
    <h1 class="content-classification">#{{ view.tag.slug }}</h1>
    {% if view.groups %}
        <span class="decoration-icon sg-group" role="presentation"></span>
    {% else %}
        <span class="decoration-icon sg-pen" role="presentation"></span>
    {% endif %}
{% endblock %}

{% block heading_toolbar %}
    {% if view.groups %}
        <a href="{% url 'tag-group' view.tag.slug %}" class="btn btn-ch">
            <span class="btn-label">Gruppe hinzufügen</span>
        </a>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% load events %}
    {% sidebar_calendar paginator.object_list hide_buttons=True component_id='tags-calendar' %}
{% endblock %}

{% block content %}
    {# groups #}
    <ol class="groups" data-component="masonry">
        {% for group in view.groups %}
            <li>
                {% include 'groups/_preview.html' with group=group link=True %}
            </li>
        {% endfor %}
    </ol>

    {# content #}
    {% if view.groups and object_list or show_filter %}
        <div class="content-section-header">
            <h2 class="content-classification">Beiträge</h2>
            <span class="decoration-icon sg-pen" role="presentation"></span>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}
