{% extends 'stadt/stadt.html' %}

{% block title %}Gruppe hinzufügen - {{ block.super }}{% endblock %}
{% block menu %}{% menu %}{% endblock %}
{% block breadcrumb %}
    {% url 'tag' view.tag.slug as tag_url %}
    {% breadcrumb 'Schlagworte' view.tag|link_to:tag_url 'Gruppe hinzufügen' %}
{% endblock %}

{% block heading_title %}
    <h1 class="content-classification">#{{ view.tag.slug }}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% include 'core/_field.html' with field=form.group %}
        <button class="btn btn-primary">
            Gruppe hinzufügen
        </button>
    </form>
{% endblock %}
