{% extends 'stadt/list.html' %}

{% block title %}{{ tag }} - {{ site.name }}{% endblock %}
{% block menu %}{% with menu='group' %}{{ block.super}}{% endwith %}{% endblock %}
{% block breadcrumb %}{% breadcrumb 'Schlagworte' tag %}{% endblock %}
{% block heading_title %}<h2 class="content-classification">Gruppen</h2>{% endblock %}

{% block sidebar %}
    {% if not no_data %}
        {% include 'events/_sidebar_calendar.html' with events=events hide_buttons=True %}
    {% endif %}
{% endblock %}

{% block heading %}
    <div class="content-header">
        <h2 class="content-classification">#{{ tag.name }}</h2>
        <span class="decoration-icon sg-tags" role="presentation"></span>
    </div>
{% endblock %}

{% block content %}
    {% if no_data %}
        <p>Für dieses Schlagwort wurden noch keine Inhalte eingestellt</p>
    {% else %}
        <p>
            Wir haben {% if tagged_groups|length == 1 %}eine Gruppe{% else %}{{ tagged_groups|length }} Gruppen{% endif %} und
            {% if paginator.count == 1 %}einen Beitrag{% else %}{{ paginator.count }} Beiträge{% endif %} für
            das Schlagwort „{{ tag.name }}“ auf Stadtgestalten.
        </p>

        {# groups #}
        {% if tagged_groups|length > 0 %}
            <div class="content-header">
                <h2 class="content-classification">Gruppen</h2>
            </div>
            <ol class="groups">
                {% for group in tagged_groups %}
                    <li>
                        {% include 'groups/_preview.html' with group=group link=True %}
                    </li>
                {% endfor %}
            </ol>
        {% endif %}

        {# content #}
        {% if paginator.count > 0 %}
            <div class="content-header">
                <h2 class="content-classification">Beiträge</h2>
            </div>
            <div class="content-list">
                <div class="content-block">
                    <ol class="content-preview-list">
                        {% for content in content_page.object_list %}
                            <li>{% include 'content/_content_preview.html' %}</li>
                        {% endfor %}
                    </ol>
                </div>
                {% include 'core/_pagination.html' with is_paginated=True page_obj=content_page %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
