{% extends 'stadt/list.html' %}

{% block title %}{{ tag }} - {{ site.name }}{% endblock %}
{% block menu %}{% with menu='group' %}{{ block.super}}{% endwith %}{% endblock %}
{% block breadcrumb %}{% breadcrumb 'Schlagworte' tag %}{% endblock %}
{% block heading_title %}<h2 class="content-classification">Gruppen</h2>{% endblock %}

{% block sidebar %}
    {% include 'tags/_sidebar.html' with tag=tag %}
    {% include 'events/_sidebar.html' %}
{% endblock %}

{% block content %}
    {# groups #}
    <ol class="groups">
        {% for tag in view.get_group_tags %}
            <li>
                {% include 'groups/_preview.html' with group=tag.tagged link=True %}
            </li>
        {% endfor %}
    </ol>
    
    {# content #}
    <div class="content-header">
        <h2 class="content-classification">Beiträge</h2>
    </div>
    {% with page_obj=view.get_content_page %}
        <div class="content-list">
            <ol class="content-preview-list">
                {% for content in page_obj.object_list %}
                    <li>{% include 'content/_content_preview.html' %}</li>
                {% endfor %}
            </ol>
            {% include 'stadt/_pagination.html' %}
        </div>
    {% endwith %}
{% endblock %}
