{% if user.is_authenticated %}
    <input class="dropdown-state" id="menu-user" type="checkbox" data-menu-group="main">
    <label for="menu-user" class="nav-menu-item nav-state-toggle"
           aria-label="Zeige persönliches Menü" tabindex="0"
           data-component="openable" data-openable-target="#user-menu-dropdown">
        <span class="nav-tab-icon">
            {% include 'gestalten/_avatar.html' with gestalt=user.gestalt link=False size=24 %}
        </span>
        {% include 'gestalten/_avatar.html' with gestalt=user.gestalt link=False size=48 %}
        <span class="nav-menu-item-label">{{ user.gestalt }}</span>
        <i class="caret"></i>
    </label>
{% else %}
    <a href="{% url 'account_login' %}?next={{ request.path }}" class="nav-menu-item">
        <span class="nav-tab-icon">
            <i class="sg sg-login"></i>
        </span>
        <div class="avatar-wrap">
            <span class="avatar avatar-size-48-48">
                {% load static %}
                <img src="{% static 'stadt/img/logos/logo_large.svg' %}" alt="Stadtgestalten Logo">
            </span>
        </div>
        <span class="nav-menu-item-label">Anmelden</span>
    </a>
{% endif %}

{% if user.is_authenticated %}
    <div class="dock dock-light" id="user-menu-dropdown" data-dropdown data-component="dock">
        <div class="dock-inner">
            <span class="dock-decoration"></span>
            <header class="dock-header">
                {% include 'gestalten/_preview.html' with gestalt=user.gestalt link=False hide_about=True hide_avatar=True %}
                <a href="{{ user.gestalt.get_profile_url }}" class="dock-header-link">
                    <i class="sg sg-home"></i>
                    <span>Home</span>
                </a>
            </header>
            <div class="dock-content">
                <div class="dock-content-inner">
                    <ol class="nav-vertical">
                        <li>
                            <a href="{% url 'conversations' %}" class="nav-menu-item">
                                <i class="sg sg-fw sg-conversations"></i>
                                <span class="nav-menu-item-label">Gespräche</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'settings' %}{% if group %}?group={{ group.slug }}{% endif %}"
                               class="nav-menu-item">
                                <i class="sg sg-fw sg-settings"></i>
                                <span class="nav-menu-item-label">Einstellungen</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'account_logout' %}?next={{ request.path }}"
                               class="nav-menu-item">
                                <i class="sg sg-fw sg-logout"></i>
                                <span class="nav-menu-item-label">Abmelden</span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endif %}
