{% load rules staticfiles %}

{% kwacro preview %}
    <div class="profile-short">
        {% if not hide_avatar|default:False %}
            {% include 'gestalten/_avatar.html' with gestalt=gestalt link=False %}
        {% endif %}
        <div class="profile-data">
            <h3 class="profile-name">
                {{ gestalt }}
                <span class="profile-meta">@{{ gestalt.slug }}</span>
            </h3>
            <div class="profile-meta">
                {% with num_content=gestalt.versions.count|add:gestalt.contributions.count %}
                    <span class="content-nobreak">Dabei seit {{ gestalt.user.date_joined | date:"M Y" }} · {{ num_content }} Beitr{{ num_content|pluralize:'ag,äge' }}</span>
                {% endwith %}
            </div>
        </div>
    </div>
    {% if not hide_about|default:False %}
        <div class="profile-about">{{ gestalt.about }}</div>
    {% endif %}
{% endkwacro %}

{% if link %}
    <a href="{{ gestalt|url_for_user:user }}" class="profile">
        {% usekwacro preview %}
    </a>
{% else %}
    <div class="profile">
        {% usekwacro preview %}
    </div>
{% endif %}
