{% extends 'stadt/stadt.html' %}

{% block title %}Benutzerkonto - {{ block.super }}{% endblock %}
{% block heading_title_text %}Benutzerkonto{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <p> Benutzerkonto schon vorhanden? <a href="{{ login_url }}">Melde dich an.</a></p>

        <div class="disclaimer content-block">
            <p>Deine E-Mail Adresse wird nicht weitergegeben und auch nicht auf der Seite
            angezeigt. Sie wird dazu verwendet dir Benachrichtungen zu schicken.</p>

            <p>Deine E-Mail-Adresse wird dauerhaft gespeichert. Um sie später zu löschen,
            lösche dein Benutzerkonto in den Einstellungen oder
            {% if about_group %}
                <a href="{% url 'create-group-conversation' about_group.pk %}">
                    schreib uns eine Nachricht
                </a>.
            {% endif %}
        </div>

        <div class="row">
            <div class="col-lg-9 col-sm-8 col-xs-7">
                {% field form.email %}
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-5">
                {% field form.captcha %}
            </div>
        </div>
        {% field form.password1 %}
        {% field form.password2 %}
        <button class="btn btn-primary">Benutzerkonto anlegen</button>
    </form>
{% endblock %}
