{% extends 'stadt/stadt.html' %}
{% load i18n %}

{% block title %}{% trans 'Delete Account' % } - {{ block.super }}{% endblock %}
{% block menu %}{% menu %}{% endblock %}

{% block heading_title_text %}{% trans 'Settings' %}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <p><strong>{% trans 'Do you really want to delete your account?' %}</strong></p>

        <p><strong>{% trans 'The following data will be delete irrevocable:' %}</strong></p>

        <ul>
            <li>{% trans 'Account and profile with all settings an e-mail addresses' %}</li>
            <li>{{ view.data.subscriptions.count }} {%trans 'Subscriptions to groups' %}</li>
            <li>{{ view.data.memberships.count }} {% trans 'Memberships of groups' %}</li>
        </ul>

        <p><strong>{% trans 'The following data will be marked as' %}<em>{% trans 'Unknown figure' %}</em>:</strong></p>

        <ul>
            <li>{{ view.data.versions.count }} {% trans 'Version of contribution' %}</li>
            <li>{{ view.data.contributions.count }} {% trans 'Comments and news' %}</li>
            <li>{{ view.data.images.count }} {% trans 'Pictures' %}</li>
            <li>{{ view.data.votes.count }} {% trans 'Votes in surveys' %}</li>
        </ul>

        {% if about_group %}
            <p>{% trans 'If you not agree with this procedure, do not proceed and' %}
            <a href="{% url 'create-group-conversation' about_group.pk %}">{% trans 'send us a message instead' %}</a>.</p>
        {% endif %}

        <button class="btn btn-danger">
            {% trans 'Delete account' %}
        </button>
    </form>
{% endblock %}
