{% extends 'content/list.html' %}
{% load events rules %}
{% load i18n %}

{% block title %}{{ gestalt }} - {{ block.super }}{% endblock %}
{% block menu %}{% menu %}{% endblock %}

{% block header %}
    {% has_perm 'gestalten.change' user gestalt as can_edit %}

    <header class="profile-header">
        <div class="profile-header-title-image">
            {% if gestalt.background %}
                <img src="{{ gestalt.background_cover.url }}" alt="{% translate 'Picture of' %} {{ gestalt }}">
            {% else %}
                <div class="disclaimer"></div>
            {% endif %}

            {% if can_edit %}
                <div class="btn-toolbar btn-toolbar-bottom btn-toolbar-fixed">
                    <a href="{% url 'image-settings' %}" class="btn btn-backdrop btn-ts" title="{% translate 'Change background picture' %}">
                        <i class="sg sg-2x sg-camera"></i>
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="profile-header-data">
            <div class="profile-header-title">
                {% if can_edit %}
                    <a href="{% url 'image-settings' %}" class="avatar-edit-inline">
                        {% include 'gestalten/_avatar.html' with gestalt=gestalt link=False %}
                    </a>
                {% else %}
                    <span class="avatar-noedit-inline">
                        {% include 'gestalten/_avatar.html' with gestalt=gestalt link=False %}
                    </span>
                {% endif %}
                <h1>{{ gestalt }}</h1>
                <span class="clearfix"></span>
            </div>

            <div class="profile-header-info">
                <div class="profile-header-info-main">
                    <dl class="def def-icons">
                        {% if can_edit %}
                        <dt>
                            <i class="sg sg-private"></i>
                            <span class="sr-only">{% translate 'Privacy' %}</span>
                        </dt>
                        <dd>
                            {% if gestalt.public %}
                                {% translate 'Your profile is <strong>public</strong>' %}
                            {% else %}
                                {% translate 'Your profile is <strong>not public</strong>' %}
                            {% endif %}
                        </dd>
                        {% endif %}
                        <dt>
                            <i class="sg sg-gestalt"></i>
                            <span class="sr-only">{% translate 'About me' %}</span>
                        </dt>
                        <dd>
                            {% if not gestalt.about %}
                                {% if request.user.gestalt == gestalt %}
                                    {% translate 'Write some lines about you!' %}
                                {% else %}
                                    {% translate 'This person has not written something here.' %}
                                {% endif %}
                            {% else %}
                                {{ gestalt.about }}
                            {% endif %}
                        </dd>
                    </dl>
                </div>

                <div class="profile-header-info-slug">
                    <dl class="def def-icons">
                        <dt>
                            <i class="sg sg-link"></i>
                            <span class="sr-only">{% translate 'URL at' %} {{ about_group }}</span>
                        </dt>
                        <dd class="selectable">
                            {{ site.domain }}/<span class="selectable-token">{{ gestalt.user.username }}</span>
                            <button type="button" class="btn-text hide-no-js" data-component="clipboard"
                                    data-clipboard-text="{{ gestalt.get_absolute_url|full_url }}"
                                    title="{%trans 'Copy URL of this person' %}">
                                <i class="sg sg-copy"></i>
                            </button>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </header>

    <div class="content-toolbar">
        <div class="btn-toolbar">
            {% if can_edit %}
                <div class="btn-group">
                    <a href="{% url 'settings' %}" class="btn btn-default btn-sm">
                        <i class="sg sg-edit"></i>
                        {% translate 'Edit profile' %}
                    </a>
                </div>
            {% endif %}

            {% has_perm 'conversations.create_gestalt_conversation' user gestalt as can_create_message %}
            {% if not can_edit and can_create_message %}
                <div class="btn-group">
                    <a href="{% url 'create-gestalt-conversation' gestalt.pk %}" class="btn btn-default btn-sm">
                        <i class="sg sg-message"></i>
                        {% translate 'Send a message' %}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block heading %}
    <div class="content-section-header">
        <h2 class="content-classification">{% translate 'Contributions' %}</h2>
        {% include "core/_decoration.html" with icon="sg-pen" %}
        <div class="btn-toolbar">
            {% has_perm 'content.create_for_gestalt' user gestalt as can_create_content %}
            {% if can_create_content %}
                {% dropdown 'content-new' '<i class="sg sg-add"></i> Beitrag' %}
                    <li><a href="{% url 'create-article' %}"><i class="sg sg-fw sg-article"></i> {% translate 'Write an article' %}</a></li>
                    <li><a href="{% url 'create-event' %}"><i class="sg sg-fw sg-event"></i> {% translate 'Create an event' %}</a></li>
                    <li><a href="{% url 'create-gallery' %}"><i class="sg sg-fw sg-gallery"></i> {% translate 'Gallery' %}</a></li>
                    {% comment %}
                    <li><a href="{% url 'create-poll' %}"><i class="sg sg-fw sg-poll"></i> {% translate 'Start a (date) poll' %}</a></li>
                    {% endcomment %}
                    {% if about_group %}
                        <li><a href="{% url 'content' about_group.slug 'tools' %}#8-werkzeuge-fur-andere-anwendungsfalle"><i class="sg sg-fw sg-tools"></i> {% translate 'More possibilities' %}</a></li>
                    {% endif %}
                {% enddropdown %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% sidebar_calendar paginator.object_list preview_length=3 component_id='gestalt-calendar' %}
{% endblock %}
