{% extends 'stadt/settings.html' %}

{% block sidebar %}
    {% with chapter='gestalt' %}{{ block.super }}{% endwith %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-6">
                {% field form.slug prefix='@' %}
                {% field form.first_name %}
                {% field form.last_name %}
            </div>
            <div class="col-md-6">
                {% field form.about %}
                {% field_checkbox form.public %}
            </div>
        </div>

        <button class="btn btn-primary">Einstellungen speichern</button>
    </form>

    <div class="section section-publish section-article" data-component="publish">
        <h2>Gefahrenbereich</h2>
        <div class="row">
            <div class="col-md-5">
                <a href="{% url 'delete-gestalt' %}" class="btn btn-danger btn-sm btn-block">
                    Benutzerkonto löschen
                </a>
            </div>
        </div>
    </div>
{% endblock %}
