{% extends 'stadt/settings.html' %}

{% block sidebar %}
    {% with chapter='gestalt-email' %}{{ block.super }}{% endwith %}
{% endblock %}

{% block content %}
    <form method="post" class="form form-modern section">
        {% csrf_token %}
        <ul>
            {% for address in user.emailaddress_set.all %}
            <li>
                <label for="email_radio_{{forloop.counter}}">
                    <input
                       {% if address.primary or user.emailaddress_set.count == 1 %}
                       checked="checked"
                       {% endif %}
                       id="email_radio_{{forloop.counter}}"
                       name="email"
                       type="radio"
                       value="{{ address.email }}"
                       />
                    {{ address.email }}
                    {% if address.verified %}
                    <span class="verified">bestätigt</span>
                    {% else %}
                    <span class="unverified">unbestätigt</span>
                    {% endif %}
                    {% if address.primary %}
                    <span class="primary">Hauptadresse</span>
                    {% endif %}
                </label>
            </li>
            {% endfor %}
        </ul>

        <div>
            <button class="btn btn-sm btn-default" type="submit" name="action_send" >
                Adresse bestätigen
            </button>
            {% if user.emailaddress_set.count > 1 %}
                <button class="btn btn-sm btn-default" type="submit" name="action_primary" >
                    Hauptadresse wählen
                </button>
                <button class="btn btn-sm btn-danger" type="submit" name="action_remove" >
                    Adresse entfernen
                </button>
            {% endif %}
        </div>
    </form>

    <form method="post" class="form form-modern">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8">
                {% field form.email %}
            </div>
            <div class="col-md-4">
                <button name="action_add" class="btn btn-primary">E-Mail-Adresse hinzufügen</button>
            </div>
        </div>
    </form>
{% endblock %}
