{% extends "stadt.html" %}
{% load bootstrap3 %}


{% block subtitle %}Anmelden{% endblock %}


{% block subcontent %}
{#<p>Wenn Du noch kein Benutzerkonto hast, <a href="{{ signup_url }}">registriere</a> Dich bitte zuerst.</p>#}
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  {% buttons submit='Anmelden' %}
  {#&nbsp;<a href="{% url 'account_reset_password' %}">Kennwort vergessen?</a>#}
  {% endbuttons %}
</form>
{% endblock %}
